@use "src/theme/utils" as utils;
@use "sass:map";
@use "sass:color";

@import "src/theme/theme-variables";

.info-container {
  width: 100%;
  align-items: start;
  height: 13.5rem;

  padding: 1.5rem;
  background-color: color.adjust(map.get($app-custom-colors, "neutral-10"), $alpha: -0.5);
  border-radius: 0 0 0.75rem 0.75rem;

  .deposit-button-container {
    margin-top: 0.5rem;
    width: 100%;

    .deposit-button {
      min-height: 2.75rem;
      width: 100%;
    }
  }
}

.profile-info {
  margin-bottom: 1.25rem;

  .profile-icon-container {
    border-radius: 0.5rem;
    background-color: map.get($app-custom-colors, "neutral-10");
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
  }

  .email-span {
    color: color.adjust(map.get($app-custom-colors, "neutral-white"), $alpha: -0.35);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.25rem;
    text-align: left;
    letter-spacing: 0.0006rem;
    text-transform: none;

    @include utils.media("lt-sm-2") {
      max-width: calc(100% - 2.8438rem);
      white-space: nowrap;
    }
  }

  .balance-span {
    color: map.get($app-custom-colors, "neutral-white");
    font-weight: bold;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    text-align: left;
    letter-spacing: 0.0125rem;
  }
}

.level-progress {
  width: 100%;
  background-color: color.adjust(map.get($app-custom-colors, "neutral-10"), $alpha: -0.5);
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;

  .level-threshold {
    margin-bottom: 0.3125rem;

    .level-span {
      margin-left: 0.1875rem;
    }

    span {
      color: map.get($app-custom-colors, "neutral-white");
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 1rem;
      text-align: left;
      letter-spacing: 0.0013rem;
    }

    .points-value {
      margin-left: auto;

      .grey-points-value {
        color: color.adjust(map.get($app-custom-colors, "neutral-white"), $alpha: -0.35);
      }
    }
  }
}

.icon-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
  }
}

.w-full {
  width: 100%;
}
