<div class="table-container">
  <app-base-table
    noRecordsText="{{ 'No latest plays' | translate }}"
    [tableColumns]="tableColumnsDesktop"
    [tableData]="tableData"
    [expandEnabled]="false"
    class="profile-pages-base-table casino-wins-table flex-hide--lt-sm-2"
  />

  <app-base-table
    noRecordsText="{{ 'No latest plays' | translate }}"
    [tableColumns]="tableColumnsMobile"
    [tableData]="tableData"
    [expandEnabled]="false"
    class="profile-pages-base-table casino-wins-table flex-hide--gt-sm-1"
  />
</div>

<ng-template #currencyTemplate let-data="data">
  <span>{{ data | number : '1.2' : dataStoreService.defaultLanguage }} {{ ' ' + playerCurrency }}</span>
</ng-template>

<ng-template #usernameTemplate let-data="data">
  <span class="username">{{ data }}</span>
</ng-template>

<ng-template #gameUsernameTemplate let-row="rowData">
  <div class="flex flex-col gap-4 pt-2.5 pb-2.5">
    <div>
      {{ row.gameName }}
    </div>
    <div>
      <span class="username">{{ row.user }}</span>
    </div>
  </div>
</ng-template>

<ng-template #betAmountMultiplierTemplate let-row="rowData">
  <div class="flex flex-col gap-4 pt-2.5 pb-2.5">
    <div>
      <span>{{ row.betAmount | number : '1.2' : dataStoreService.defaultLanguage }} {{ ' ' + playerCurrency }}</span>
    </div>
    <div>
      <span class="username">{{ row.multiplierResolved }}</span>
    </div>
  </div>
</ng-template>
