@use "src/theme/utils" as utils;
@use "sass:map";
@import "src/theme/theme-variables";

.welcome-container {
  width: 100%;
  background-color: map.get($app-custom-colors, "neutral-10");

  @include utils.media("lt-sm-2") {
    background-color: inherit;
  }
}

.welcome-content {
  margin: 3.5rem 0;
  background-color: map.get($app-custom-colors, "neutral-100");
  border-radius: 0.375rem;
  padding: 2.75rem 4.625rem 3.5rem;
  max-width: 63.125rem;

  @include utils.media("md") {
    padding: 2.75rem 4.625rem 3rem;
    max-width: 49rem;
  }

  @include utils.media("sm-2") {
    padding: 2.75rem 4rem 3rem;
    max-width: 47rem;
  }

  @include utils.media("lt-sm-2") {
    padding: 2rem 0.5rem 2.5rem;
    border-radius: 0;
  }
}
