<app-base-dialog width="29rem" [displayCloseButton]="true" [displayLogo]="false">
  <div dialogContent>
    <div class="header-icon">
      <mat-icon class="status-img" alt="fail" svgIcon="fail" />
    </div>

    <div class="header-text">
      {{ 'Access restricted' | translate }}
    </div>

    <ng-container>
      <div class="description mb-8">
        {{
          'Access to this section has been restricted by your operator. For more information, please contact customer support.'
            | translate
        }}
      </div>
    </ng-container>
  </div>

  <ng-container dialogButtons>
    <div class="button-container flex flex-col gap-4">
      <app-button variant="neutral" (click)="closeDialog()">
        {{ 'Close' | translate }}
      </app-button>
    </div>
  </ng-container>
</app-base-dialog>
