<div class="player-profile-page-container flex flex-col items-center">
  <div class="page-section flex flex-col gap-8 items-center">
    <img class="success-img" alt="check" [src]="'assets/brand/icons/success-check.svg' | cdnize" />
    <div class="title" translate>E-mail successfully verified</div>
    <div class="subtitle" translate>You can now access all the features of your account. Welcome and good luck.</div>
  </div>

  <!-- SUPPORT AND INFO -->
  <div class="flex flex-col items-center">
    <img class="age-icon" [src]="'assets/brand/icons/18-plus.svg' | cdnize" />
    <span translate class="policy-span mt-8">
      <b>Jogue com Responsabilidade</b> <br />
      O jogo deve ser uma forma de entretenimento saudável.<br />
      Pratique sempre o jogo consciente e fique atento aos sinais de comportamento compulsivo.
    </span>
  </div>

  <button class="live-chat-button" mat-button (click)="onChatClick()">
    <div class="flex items-center gap-2.5">
      <mat-icon svgIcon="help-chat-icon" />
      <span translate> Do you need help? </span>
    </div>
  </button>
</div>
