@use "sass:map";
@use "sass:color";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

.helper-text {
  color: color.adjust(map.get($app-custom-colors, "neutral-white"), $alpha: -0.7);
}

.support-team-text {
  color: map.get($app-custom-colors, "Betaki_error");
  cursor: pointer;
}
