@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/theme-variables" as theme-variables;

:host {
  display: contents;
}

.password-strength {
  height: 1rem;
  margin-right: -1rem;
  margin-left: -0.6875rem;
  margin-top: -0.25rem;
  transition: width 0.5s;

  .strength-label {
    font-size: 0.625rem;
    text-align: center;
    line-height: 1rem;
    text-transform: capitalize;
    height: 0.8125rem;

    &.awful {
      color: map.get(theme-variables.$app-custom-colors, "red-50");
    }

    &.weak {
      color: map.get(theme-variables.$app-custom-colors, "semantic-error");
    }

    &.strong {
      color: map.get(theme-variables.$app-custom-colors, "blue-300");
    }

    &.perfect {
      color: map.get(theme-variables.$app-custom-colors, "green-400");
    }
  }

  .strength-progress {
    height: 0.125rem;

    &.awful {
      background-color: map.get(theme-variables.$app-custom-colors, "red-50");
    }

    &.weak {
      background-color: map.get(theme-variables.$app-custom-colors, "semantic-error");
    }

    &.strong {
      background-color: map.get(theme-variables.$app-custom-colors, "blue-300");
    }

    &.perfect {
      background-color: map.get(theme-variables.$app-custom-colors, "green-400");
    }
  }
}
