@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

:host {
  width: 100%;
}

.page-container {
  align-items: start;
}

.account-responsible-gaming-page {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 1.5rem 0 4rem;

  @include utils.media("lt-sm-2") {
    padding: 1rem 0 2.5rem;
  }
}

.header {
  font-size: 1.5rem;
  color: map.get(theme-variables.$app-custom-colors, "neutral-white");

  @include utils.media("lt-sm-2") {
    font-size: 0.875rem;
    margin: 1.5rem 0 1rem;
  }
}

.back-button {
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
}

.divider {
  border-bottom: 1px solid map.get(theme-variables.$app-custom-colors, "ATL_white20");
  margin-top: 0.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

app-responsible-limit-duration {
  margin-top: 3rem;

  @include utils.media("lt-sm-2") {
    margin-top: 2.063rem;
  }
}

.mobile-hidden {
  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.mobile {
  @include utils.media("gt-sm-1") {
    display: none;
  }
}
