<div class="account-responsible-gaming-page page-container" [formGroup]="form">
  <app-page-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <!-- Bonus tabs -->
  <mat-tab-group #tabGroup class="tab-group-container-primary mt-2" mat-stretch-tabs="false" appScrollToCenter>
    <!-- Offering bonus Tab -->
    <mat-tab class="offering-tab">
      <ng-template mat-tab-label>
        {{ 'User limits' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <app-responsible-limits
          [limits]="limits"
          [currencyCode]="playerInfo?.currencyCode ?? ''"
          (refreshLimits)="loadData()"
        />
      </ng-template>
    </mat-tab>
    <!-- Ongoing bonus Tab -->
    <mat-tab class="ongoing-tab">
      <ng-template mat-tab-label>
        {{ 'Break period' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <app-responsible-limit-duration
          [limitTypeName]="'Break period' | translate"
          [limitTypeDuration]="limitTypeEnum.SiteSessionDuration"
          [timePeriods]="coolingOffPeriods"
          [description]="
            'Need a break? You can deactivate your account for up to 42 days. During the pause period, you will be able to access the platform and withdraw your available balance, but you will not be able to make deposits, bets or play games. After the chosen period ends, your account will be automatically reactivated.'
              | translate
          "
          (refreshLimits)="loadData()"
          (updateLimit)="setTimeoutLimit($event)"
        />
      </ng-template>
    </mat-tab>
    <!-- History bonus Tab -->
    <mat-tab class="history-tab">
      <ng-template mat-tab-label>
        {{ 'Self-exclusion' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <app-responsible-limit-duration
          [isSelfExclusion]="true"
          [limitTypeName]="'Self-exclusion' | translate"
          [limitTypeDuration]="limitTypeEnum.SiteSessionDuration"
          [timePeriods]="selfExclusionPeriods"
          [description]="
            'When you request self-exclusion, your account will be closed. You will not be able to create an account again for a minimum period of 3 months. After this period, you will need to register again on our platform. If you opt for permanent self-exclusion, you will never be able to create a new account again.'
              | translate
          "
          (updateLimit)="setSelfExclusion($event)"
        />
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- <div class="account-responsible-gaming-page" [formGroup]="form">
  <app-player-profile-page-header [breadcrumbs]="breadcrumbs"></app-player-profile-page-header>
  <! -- Profile header -- >
  <div class="subtitle-m mb-1 mobile-hidden" translate>Responsible Gambling</div>
  <div class="header mobile flex justify-center">
    <div class="back-button" [routerLink]="'/profile'">
      <mat-icon fontSet="material-icons-outlined">keyboard_arrow_left</mat-icon>
    </div>
    <div class="flex">
      <span translate>Responsible Gambling</span>
    </div>
  </div>
  <div class="divider mobile"></div>

  <app-responsible-limits
    [limits]="limits"
    [currencyCode]="playerInfo?.currencyCode ?? ''"
    (refreshLimits)="loadData()"
  ></app-responsible-limits>

  <app-responsible-limit-duration
    [limitTypeName]="'Pause period' | translate"
    [limitTypeDuration]="limitTypeEnum.SiteSessionDuration"
    [timePeriods]="coolingOffPeriods"
    [description]="
      'Feel the need to stay away from the casino for some time? You can set a pause-period limit for a certain period of time. The restriction takes effect instantly. You won\'t be able to make deposits and play during the specified period, also you will be excluded from all advertising offers. After the set period expires, you\'ll receive a notification email saying your account is active again.'
        | translate
    "
    (refreshLimits)="loadData()"
    (updateLimit)="setTimeoutLimit($event)"
  ></app-responsible-limit-duration>

  <app-responsible-limit-duration
    [isSelfExclusion]="true"
    [limitTypeName]="'Self exclusion' | translate"
    [limitTypeDuration]="limitTypeEnum.SiteSessionDuration"
    [timePeriods]="selfExclusionPeriods"
    [description]="
      'Feel the need to block access to your account? You can set a self-exclusion limit for a definite or an indefinite period of time. The restriction takes effect instantly. During the set period you will not be able to log into your account.'
        | translate
    "
    (updateLimit)="setSelfExclusion($event)"
  ></app-responsible-limit-duration>
</div> -->
