<div class="title flex" translate>My summary:</div>
<div class="my-summary-container flex justify-center">
  <div class="my-summary-data-container flex">
    <div class="my-summary-data-item flex">
      <div class="value">{{ mySummaryData()?.lastOnline | date: dateFormat }}</div>
    </div>

    <div class="desktop-divider"></div>

    <div class="my-summary-data-item flex">
      <div class="value">{{ sessionTime }}</div>
    </div>

    <div class="desktop-divider"></div>

    <div class="my-summary-data-item flex">
      <div class="label" translate>Wallet balance</div>
      <div class="value">
        {{ mySummaryData()?.balance }}
      </div>
    </div>
  </div>
</div>
