@use "sass:map";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

.page-container {
  background-color: map.get($app-custom-colors, "neutral-white");
  min-width: 0;
  border-radius: 0.25rem 0.25rem 0 0;
}

@include utils.media("gt-lg") {
  .page-container {
    margin: 3rem 6.9375rem 0;
    padding: 3rem 17.625rem 5rem;
  }
}

@include utils.media("lt-xl") {
  .page-container {
    margin: 3rem 6.5rem 0;
    padding: 3rem 5rem 5rem;
  }
}

@include utils.media("lt-md") {
  .page-container {
    margin: 3rem 1.5rem 0;
    padding: 3rem 4rem 5rem;
  }
}

@include utils.media("lt-sm-2") {
  .page-container {
    background-color: transparent;
    margin: 0;
    padding: 1rem 0.5rem 3.5rem;
  }

  h1 {
    color: map.get($app-custom-colors, "neutral-white");
    text-align: center;
  }

  span {
    color: map.get($app-custom-colors, "neutral-white");
    text-align: center;
  }
}

@include utils.media("gt-sm-1") {
  h1 {
    color: map.get($app-custom-colors, "neutral-black");
  }

  span {
    color: map.get($app-custom-colors, "neutral-black");
  }
}

.contact-form-container {
  margin: 0 auto;
  width: 100%;
  padding-top: 1rem;
  max-width: 40.875rem;

  & > span {
    font-size: 0.875rem;
    margin: 0 0 0.75rem;
  }
}

.textarea-container {
  margin-bottom: -1.375rem;
  height: 10rem;
}

.send-button {
  height: 3.5rem;
}

.contact-containter {
  gap: 1.1875rem;

  .contact-card {
    text-decoration: none;
    background-color: map.get($app-custom-colors, neutral-100);
    height: 4.5rem;
    flex-grow: 1;
    flex-basis: 0;
    line-height: 1.25rem;
    font-size: 0.875rem;
    border-radius: 4px;

    & .contact-title {
      color: map.get($app-custom-colors, black-500);
      font-size: 0.75rem;
      font-weight: 400;
      margin-bottom: 0;
      opacity: 0.6;
    }

    & .contact-link {
      font-family: Roboto, sans-serif;
      color: map.get($app-custom-colors, primary-300);
      font-size: 0.8125rem;
      font-weight: 500;
      line-height: 1rem;
    }

    & .contact-icon {
      background-color: map.get($app-custom-colors, "neutral-white");
      border-radius: 50%;
      width: 2.5rem;
      min-width: 2.5rem;
      height: 2.5rem;
      min-height: 2.5rem;
      margin-right: 0.625rem;

      img {
        height: 1.375rem;
      }
    }
  }

  @include utils.media("lt-sm-2") {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;

    .contact-card {
      min-height: 4.5rem;
    }
  }
}
