@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/theme-variables" as theme-variables;

.button-row {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

// .dialog-content {
//   margin-top: 2rem;
//   color: color.adjust(map.get(theme-variables.$app-custom-colors, "neutral-white"), $alpha: -0.25);
//   font-size: 0.875rem;
//   line-height: 1.225rem;
//   margin-bottom: 1rem;
// }
