<app-base-dialog
  [displayCloseButton]="true"
  [title]="data.isSelfExclusion ? ('Self exclusion' | translate) : ('Pause period' | translate)"
>
  <!-- Content -->
  <div dialogContent class="flex flex-col dialog-content">
    <p>
      <span translate>Set</span> <b>{{ data.limit }}</b>
      <span>{{ data.isSelfExclusion ? ('self exclusion' | translate) : ('pause period' | translate) }}?</span>
    </p>

    @if (!data.isSelfExclusion) {
      <p translate>
        {{
          "You won't be able to make deposits and play during the specified period, also you will be excluded from all advertising offers. After the set period expires, you'll receive a notification email saying your account is active again."
            | translate
        }}
      </p>
    }
    @if (data.isSelfExclusion) {
      <p translate>You won't be able to log into your account during specified period.</p>
    }
  </div>

  <ng-container dialogButtons>
    <button type="submit" mat-stroked-button class="button-text-small label-dark flex-grow" (click)="onClose(false)">
      {{ 'Cancel' | translate }}
    </button>
    <button type="submit" mat-button class="button-text-small label-dark flex-grow" (click)="onClose(true)">
      @if (data.isSelfExclusion) {
        <span>{{ 'Authenticate' | translate }}</span>
      } @else {
        {{ 'Confirm' | translate }}
      }
    </button>
  </ng-container>
</app-base-dialog>
