@use "sass:map";
@use "sass:color";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

.page-container {
  color: map.get($app-custom-colors, "neutral-white");
  background-color: #edeff1;
  height: 100%;
}

.preload-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.missing-cookies-consent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
}

iframe {
  width: 100%;
  height: 100%;
}
