<div class="page-container">
  <div id="container" class="preload-container" *ngIf="cookiesConsent">
    <div id="preloading-div-image" *ngIf="!safeUrl"></div>
    <iframe
      #sportsbookIframe
      *ngIf="safeUrl"
      [src]="safeUrl"
      frameborder="0"
      allow="geolocation;camera;fullscreen;accelerometer;gyroscope;magnetometer;"
    ></iframe>
  </div>

  <!-- <div *ngIf="!cookiesConsent" class="missing-cookies-consent p-20" translate>
    <div>{{ 'Cookie Consent is required to start playing. You must accept our cookie policy.' | translate }}</div>
    <div>{{ 'Please review and accept the policy to enable gameplay.' | translate }}</div>
  </div> -->
</div>
