@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

.page-container {
  color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  background-color: #edeff1;
  height: 100%;
}

.preload-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffff;
  background-image: url(#{theme-variables.$brand-logo-url});
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24rem;
}

.missing-cookies-consent {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10rem;
}

iframe {
  width: 100%;
  height: 100%;
}
