<div class="flex-row">
  <div class="deposit-banner-container" [innerHTML]="bannerItem?.templateHtml"></div>
  <div class="main-container flex flex-col gap-16 items-center">
    <app-page-breadcrumbs [breadcrumbs]="breadcrumbs" [showTopBar]="false"></app-page-breadcrumbs>

    <!-- <div class="balance-header flex-row justify-between items-center">
      <div class="balance flex-col">
        <span translate class="balance-span">Balance</span>
        <div class="flex-row items-center">
          <div class="prefix">
            {{ balanceCurrency }}
          </div>
          &nbsp;
          <div class="amount">
            {{ balanceVisible ? balanceString : '*****' }}
          </div>

          <mat-icon
            fontSet="material-icons-outlined"
            class="visibility-icon ml-16"
            (click)="balanceVisible = !balanceVisible"
            >{{ balanceVisible ? 'visibility' : 'visibility_off' }}</mat-icon
          >
        </div>
      </div>
      <button mat-stroked-button (click)="updateBalance()">{{ 'Update' | translate }}</button>
    </div> -->

    <div class="deposit-container first-step flex-row" *ngIf="currentStep === 1">
      <div class="flex-col items-center justify-center logo-container">
        <img class="pix-logo" [src]="'assets/general/icons/pix.svg'" />
        <span translate>*Deposits are only accepted from bank accounts with the same CPF as the account holder.</span>
      </div>
      <div class="deposit-form flex-col">
        <div class="deposit-amount-buttons">
          <button
            mat-button
            class="main-button smaller width-full"
            (click)="depositForm.controls.amount.setValue('20,00')"
          >
            <span>R$20,00</span>
          </button>
          <button
            mat-button
            class="main-button smaller width-full"
            (click)="depositForm.controls.amount.setValue('50,00')"
          >
            <span>R$50,00</span>
          </button>
          <button
            mat-button
            class="main-button smaller width-full"
            (click)="depositForm.controls.amount.setValue('100,00')"
          >
            <span>R$100,00</span>
          </button>
        </div>
        <div [formGroup]="depositForm">
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="form-input-secondary deposit-form-field error-border"
          >
            <div class="flex-col deposit-input-field width-full">
              <span translate class="deposit-input-span">Deposit amount:</span>
              <div class="input-wrapper">
                <span class="prefix center" matTextPrefix>R$</span>
                <input
                  matInput
                  type="text"
                  placeholder="5,00"
                  formControlName="amount"
                  (ngModelChange)="onInput($event)"
                  (blur)="onBlur()"
                  [style.width]="inputWidth"
                />
              </div>
            </div>
            <mat-hint class="hint" translate>*Minimum deposit amount: <b>R$5,00</b></mat-hint>
            <mat-error
              *ngIf="amountControl?.hasError('required') && (amountControl.touched || amountControl.dirty)"
              class="error-message"
              translate
            >
              Amount is required.</mat-error
            >
            <mat-error
              *ngIf="amountControl?.hasError('min') && (amountControl.touched || amountControl.dirty)"
              class="error-message"
              translate
            >
              {{ 'The minimum deposit amount is' | translate }} {{ minAmount }} {{ currency }}.
              {{ 'Please enter a valid amount.' | translate }}</mat-error
            >
          </mat-form-field>
        </div>
        <button mat-button class="main-button width-full mt-22" (click)="goToSecondStep()">
          <span translate>Depositar</span>
        </button>
      </div>

      <span class="message-span">
        <b>{{ '*Important:' | translate }} </b
        >{{
          'The money will be sent to the bank account linked to your CPF, which will be used as the PIX ' +
            'key and registered to your Betaki account. Please confirm that your CPF is registered as a PIX key with your ' +
            'bank. If the PIX key is incorrect, please contact Support.' | translate
        }}</span
      >
    </div>

    <div class="deposit-container flex-col items-center" *ngIf="currentStep === 2">
      <div class="flex-col gap-16 width-full top-bar">
        <div class="flex-row items-center justify-between">
          <span class="deposit-amount-span" translate>Deposit amount</span>
          <button mat-button class="main-button smaller">
            <span class="step-2">R$ {{ depositForm.value.amount }}</span>
          </button>
        </div>
        <div class="flex-row items-center justify-between">
          <span class="deposit-amount-span" translate>Deposit ID</span>
          <button mat-button class="main-button smaller transaction-id-button">
            <span class="step-2">{{ depositId }}</span>
          </button>
        </div>
      </div>

      <div class="qr-code-container flex-col gap-16 justify-center items-center">
        <span class="qr-code-title" translate>Scan the code</span>
        <div class="qr-code-image-container">
          <img class="qr-code-image" [src]="qrCodeImage" />
        </div>
        <span class="qr-code-title">Ou</span>
        <button class="main-button smaller label-dark" mat-button (click)="copyCode()">
          {{ 'Copy and paste' | translate }}
        </button>
        <div class="code-text">{{ qrCodeText }}</div>
      </div>
    </div>

    <button *ngIf="currentStep === 2" class="main-button inbetween" mat-button routerLink="/">
      <span translate>Return to play</span>
    </button>

    <!-- <div *ngIf="currentStep === 2" class="flex-row items-center justify-between">
      <span class="time-left-notice"
        ><b class="time-left-notice">{{ 'Time left' | translate }}: </b
        ><span class="time-left-notice" translate> 8:05 minutos</span></span
      >
    </div> -->

    <div *ngIf="currentStep === 2" class="disclaimer-container">
      <span class="disclaimer-span" translate>
        *Deposits are only accepted from bank accounts with the same CPF as the account holder.
      </span>
    </div>

    <button class="live-chat-button mt-32" mat-button (click)="onChatClick()">
      <div class="flex-row items-center gap-10">
        <mat-icon svgIcon="help-chat-icon"></mat-icon>
        <span translate> Do you need help? </span>
      </div>
    </button>

    <div class="flex-col items-center">
      <img class="age-icon" [src]="'assets/general/icons/18-plus.svg' | cdnize" />
      <span translate class="policy-span mt-8">
        <b>Jogue com Responsabilidade</b> <br />
        O jogo deve ser uma forma de entretenimento saudável.<br />
        Pratique sempre o jogo consciente e fique atento aos sinais de comportamento compulsivo.
      </span>
    </div>
  </div>
</div>
