<div class="flex">
  <!-- <div class="deposit-banner-container" [innerHTML]="bannerItem?.templateHtml"></div> -->
  <div class="deposit-banner-container">
    <img src="assets/silvia-deposito.webp" class="rounded-3xl" alt="Silvia Deposito" />
  </div>
  <div class="main-container flex flex flex-col gap-4 items-center">
    <app-page-breadcrumbs [breadcrumbs]="breadcrumbs" [showTopBar]="false" />

    <!-- <div class="balance-header flex justify-between items-center">
    <div class="balance flex flex-col">
      <span translate class="balance-span">Balance</span>
      <div class="flex items-center">
        <div class="prefix">
          {{ balanceCurrency }}
        </div>
        &nbsp;
        <div class="amount">
          {{ balanceVisible ? balanceString : '*****' }}
        </div>

        <mat-icon
          fontSet="material-icons-outlined"
          class="visibility-icon ml-4"
          (click)="balanceVisible = !balanceVisible"
          >{{ balanceVisible ? 'visibility' : 'visibility_off' }}</mat-icon
          >
        </div>
      </div>
      <button mat-stroked-button (click)="updateBalance()">{{ 'Update' | translate }}</button>
    </div> -->

    @if (currentStep === 1) {
      <div class="deposit-container first-step flex">
        <div class="flex flex-col items-center justify-center logo-container">
          <img class="pix-logo" [src]="'assets/general/icons/pix.svg'" />
          <span translate>*Deposits are only accepted from bank accounts with the same CPF as the account holder.</span>
        </div>
        <div class="deposit-form flex flex-col">
          <div class="deposit-amount-buttons">
            <button mat-button class="main-button smaller width-full" (click)="setAmount('20,00')">
              <span class="text-white!">R$20,00</span>
            </button>
            <button mat-button class="main-button smaller width-full" (click)="setAmount('50,00')">
              <span class="text-white!">R$50,00</span>
            </button>
            <button mat-button class="main-button smaller width-full" (click)="setAmount('100,00')">
              <span class="text-white!">R$100,00</span>
            </button>
          </div>
          <div [formGroup]="depositForm" class="flex flex-col">
            <mat-form-field
              appearance="outline"
              subscriptSizing="dynamic"
              class="form-input-secondary deposit-form-field error-border"
            >
              <div class="flex flex-col deposit-input-field width-full mb-0.5">
                <span translate class="deposit-input-span">Deposit amount:</span>
                <div class="input-wrapper">
                  <span class="prefix center" matTextPrefix>R$</span>
                  <input
                    matInput
                    type="text"
                    placeholder="5,00"
                    formControlName="amount"
                    (input)="onInput($event.target.value)"
                    (blur)="onBlur()"
                    [style.width]="inputWidth"
                  />
                </div>
              </div>
            </mat-form-field>
            @if (!(amountControl.invalid && (amountControl.touched || amountControl.dirty))) {
              <mat-hint class="hint text-xs xs:text-sm" translate animate.enter="animate-enter-slide-down"
                >*Minimum deposit amount: <b>R${{ minAmount }},00</b></mat-hint
              >
            }
            @if (amountControl.hasError('required') && (amountControl.touched || amountControl.dirty)) {
              <div class="error-message" animate.enter="animate-enter-slide-down">A quantidade é obrigatória.</div>
            }
            @if (amountControl.hasError('min') && (amountControl.touched || amountControl.dirty)) {
              <div class="error-message" animate.enter="animate-enter-slide-down">
                {{ 'The minimum deposit amount is' | translate }} {{ minAmount }} {{ currency }}.
                {{ 'Please enter a valid amount.' | translate }}
              </div>
            }
          </div>
          <button mat-button class="main-button width-full mt-[22px]" (click)="goToSecondStep()">
            <span class="text-white!" translate>Depositar</span>
          </button>
        </div>
        <span class="message-span">
          <b>{{ '*Important:' | translate }} </b
          >{{
            'The money will be sent to the bank account linked to your CPF, which will be used as the PIX ' +
              'key and registered to your Betaki account. Please confirm that your CPF is registered as a PIX key with your ' +
              'bank. If the PIX key is incorrect, please contact Support.' | translate
          }}</span
        >
      </div>
    }
    @if (currentStep === 2) {
      <div class="deposit-container flex flex-col items-center">
        <div class="flex flex-col gap-4 width-full top-bar">
          <div class="flex items-center justify-between">
            <span class="deposit-amount-span" translate>Deposit amount</span>
            <button mat-button class="main-button smaller">
              <span class="step-2">R$ {{ depositForm.value.amount }}</span>
            </button>
          </div>
          <div class="flex items-center justify-between">
            <span class="deposit-amount-span" translate>Deposit ID</span>
            <button mat-button class="main-button smaller transaction-id-button">
              <span class="step-2">{{ depositId }}</span>
            </button>
          </div>
        </div>
        <div class="qr-code-container flex flex-col gap-4 justify-center items-center">
          <span class="qr-code-title" translate>Scan the code</span>
          <div class="qr-code-image-container">
            <img class="qr-code-image" [src]="qrCodeImage" />
          </div>
          <span class="qr-code-title">Ou</span>
          <button class="main-button smaller label-dark" mat-button (click)="copyCode()">
            {{ 'Copy and paste' | translate }}
          </button>
          <div class="code-text">{{ qrCodeText }}</div>
        </div>
      </div>
    }
    @if (currentStep === 2) {
      <button class="main-button inbetween" mat-button routerLink="/">
        <span class="text-white" translate>Return to play</span>
      </button>
    }

    <!-- <div *ngIf="currentStep === 2" class="flex items-center justify-between">
            <span class="time-left-notice"
              ><b class="time-left-notice">{{ 'Time left' | translate }}: </b
              ><span class="time-left-notice" translate> 8:05 minutos</span></span
              >
            </div> -->

    @if (currentStep === 2) {
      <div class="disclaimer-container">
        <span class="disclaimer-span text-xs!" translate>
          *Deposits are only accepted from bank accounts with the same CPF as the account holder.
        </span>
      </div>
    }

    <div class="flex lg:w-1/3 m-auto flex-col mt-4 w-full text-xs sm:text-md text-center gap-y-4">
      <img src="/assets/icons/agecap.svg" alt="Age cap" class="w-16 h-16 m-auto" />

      <span class="font-bold"> Jogue com Responsabilidade!</span>
      <p>
        O jogo deve ser uma forma de entretenimento saudável. Pratique sempre o jogo consciente e fique atento aos
        sinais de comportamento compulsivo.
      </p>
      <button
        class="flex p-2 justify-center items-center m-auto mt-3 gap-x-2 font-bold text-white cursor-pointer rounded-xl bg-betaki-500 p-2 transition-opacity duration-200 ease-in-out hover:opacity-80"
        (click)="onChatClick()"
      >
        <img [src]="'/assets/icons/support-icon.svg' | cdnize" alt="Casino" class="w-6 h-6" />
        Precisa de ajuda?
      </button>
    </div>
  </div>
</div>
