@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

:host {
  width: 100%;
}

.main-container {
  gap: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 1rem 0 4rem;
  color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");

  @include utils.media("lt-sm-2") {
    //gap: 1rem;
  }
}

.deposit-container {
  padding: 1rem 1.5rem 2.5rem;
  width: 100%;
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  border-radius: 2rem;
  gap: 0.5rem;

  &.pb-2 {
    padding-bottom: 0.5rem;
  }

  .pix-logo {
    max-height: 4.125rem;
    max-width: 13rem;

    @include utils.media("lt-sm-2") {
      height: 2.25rem;
      width: 6.125rem;
    }
  }
}

.first-step {
  padding: 4rem;

  @include utils.media("lt-lg") {
    padding: 2rem;
  }

  @include utils.media("lt-md-1") {
    flex-direction: column;
    align-items: center;
    padding: 1.26rem;
  }
}

.logo-container {
  max-width: 15.625rem;
  font-size: 0.75rem;
  gap: 1rem;
  align-items: baseline;

  @include utils.media("lt-sm-2") {
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    align-items: center;
  }
}

.deposit-form {
  background-color: map.get(theme-variables.$app-custom-colors, "Betaki_grey30");
  border-radius: 1.3477rem;
  padding: 1rem;
  width: 100%;
}

.deposit-amount-span {
  font-weight: 700;
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: 0;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
  }
}

.time-left-notice {
  font-size: 0.75rem;
}

.qr-code-container {
  max-width: 31.25rem;
  width: 100%;
  background-color: map.get(theme-variables.$app-custom-colors, "Betaki_grey30");
  border-radius: 1rem;
  padding: 1rem;

  .qr-code-image-container {
    width: 12.5rem;
    height: 12.5rem;
    background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");

    @include utils.media("lt-sm-2") {
      width: 6.25rem;
      height: 6.25rem;
    }

    .qr-code-image {
      width: 100%;
      height: 100%;
    }
  }

  .qr-code-title {
    font-size: 0.875rem;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;

    @include utils.media("lt-sm-2") {
      font-size: 0.75rem;
    }
  }

  .code-text {
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 20rem;

    @include utils.media("lt-sm-2") {
      font-size: 0.75rem;
      max-width: 9.75rem;
    }
  }
}

.mat-mdc-form-field {
  margin-top: 0.5rem;

  .mat-icon {
    color: color.adjust(map.get(theme-variables.$app-custom-colors, "neutral-10"), $alpha: -0.7);
  }
}

.error-message {
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  line-height: 0.9375rem;
  color: map.get(theme-variables.$app-custom-colors, "red-75");
}

:host ::ng-deep .loader {
  display: flex;
  align-items: center;
}

.balance-header {
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  border-radius: 2rem;
  padding: 2rem;
  width: 100%;

  @include utils.media("lt-sm-2") {
    padding: 1rem;
  }

  .balance-span {
    font-size: 0.75rem;
    line-height: 150%;
    letter-spacing: 0;
  }

  .visibility-icon {
    color: map.get(theme-variables.$app-custom-colors, "Betaki_success");
    cursor: pointer;
  }

  .prefix,
  .amount {
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
    vertical-align: middle;
  }

  button {
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.125rem;
    letter-spacing: 0.0481rem;
    text-align: center;
    vertical-align: middle;
    padding: 0.4375rem 1.5rem;
    width: 10rem;
    height: 2rem;

    @include utils.media("lt-sm-2") {
      font-size: 0.75rem;
      max-width: 5rem;
      height: 1.5rem;
    }
  }
}

.age-icon {
  max-height: 2.5rem;
  max-width: 2.5rem;
  @include utils.media("lt-sm-2") {
    max-height: 2.3rem;
    max-width: 2.3rem;
  }
}

.disclaimer-container {
  background-color: map.get(theme-variables.$app-custom-colors, "Betaki_success30");
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin-top: 2rem;

  .disclaimer-span {
    color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
    font-size: 0.75rem;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;

    @include utils.media("lt-sm-2") {
      font-size: 0.75rem;
    }
  }
}

.width-full {
  width: 100%;
}

.deposit-amount-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}

.main-button {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.0481rem;
  text-align: center;
  vertical-align: middle;
  height: 2.5rem;
  min-width: 10.25rem;
  color: white !important;

  &.inbetween {
    margin-top: -50px;
  }

  &.smaller {
    height: 2.5rem;
    min-width: 90px;

    @include utils.media("lt-sm-2") {
      height: 1.5rem;
      min-width: 4rem;

      font-size: 0.75rem;
      line-height: 1.125rem;

      &.transaction-id-button {
        height: unset;
        min-height: 1.5rem;
      }
    }
  }

  @include utils.media("lt-sm-2") {
    height: 1.5rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.0481rem;
  }

  &.width-full {
    width: 100%;
  }

  span {
    color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");

    &.step-2 {
      color: map.get(theme-variables.$app-custom-colors, "betaki-white100");
    }
  }

  &.label-dark {
    color: map.get(theme-variables.$app-custom-colors, "betaki-black100");
  }
}

.top-bar {
  @include utils.media("lt-sm-2") {
    flex-direction: column;
    gap: 0.5rem;

    div {
      justify-content: space-between;
    }
  }
}

.hide-mobile {
  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.deposit-input-field {
  span {
    text-align: end;
    font-size: 1rem;
    letter-spacing: 0;
    vertical-align: middle;

    @include utils.media("lt-sm-2") {
      font-size: 0.75rem;
      line-height: 1rem;
    }
  }

  .center {
    align-content: center;
  }

  .input-wrapper {
    display: flex;
    justify-content: flex-end;
  }

  .prefix,
  input {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0;
    vertical-align: middle;
    padding-top: 0;

    @include utils.media("lt-sm-2") {
      font-size: 1rem;
    }
  }
}

.hint {
  width: 100%;
  text-align: end;
}

:host::ng-deep .mat-mdc-form-field-hint-wrapper {
  padding: 0;
}

:host::ng-deep .mat-mdc-form-field-hint-spacer {
  display: none;
}

.policy-span {
  text-align: center;
  font-size: 0.8rem;
  // line-height: 0.8rem;
  padding-bottom: 2rem;

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
    // line-height: 0.5rem;
    letter-spacing: 0.0044rem;
    text-align: center;
    vertical-align: middle;
  }
}

.message-span {
  @include utils.media("gt-sm-1") {
    display: none;
  }

  font-size: 0.75rem;
  // line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  padding: 0 0.6rem;
}

.live-chat-button {
  align-self: center;
  width: 13rem;
  height: 2rem;
  border-radius: 0.9rem;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1rem;

  mat-icon {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
  }

  @include utils.media("lt-sm-2") {
    height: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.05;
    width: 11rem;

    mat-icon {
      font-size: 0.8rem;
      height: 0.8rem;
    }
  }
}

.deposit-banner-container {
  padding: 2.5rem 0 1.25rem;
  width: 20rem;
  min-width: 20rem;
  margin-right: 2rem;

  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.copy-button {
  color: map.get(theme-variables.$app-custom-colors, "Betaki_success");
  cursor: pointer;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0.0481rem;
  text-align: center;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
  }
}
