@use "sass:map" as map;
@use "sass:color" as color;
@use "src/theme/theme-variables";

.link-container {
  width: 100%;
  text-align: center;
}

.link {
  color: map.get(theme-variables.$app-custom-colors, "neutral-10");
  text-decoration: none;
  font-size: 0.875rem;
  cursor: pointer;
  width: fit-content;

  &:hover {
    color: map.get(theme-variables.$app-custom-colors, "neutral-10");
  }

  &.support {
    font-size: 0.8125rem;
  }
}

.form-container {
  padding: 2.5rem;
  max-width: 50rem;
  margin: 0 auto;

  & > span {
    font-size: 0.8125rem;
    margin: 0 0 0.75rem;
  }

  .description {
    display: inline;
    padding: 0.9375rem 1.25rem;
    border: 1px solid color.adjust(map.get(theme-variables.$app-custom-colors, "neutral-white"), $alpha: -0.8);
    border-radius: 0.25rem;
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }
}

.confirm-button {
  height: 3.5rem;

  .confirm-button-text {
    text-transform: uppercase;
  }
}

.error-msg {
  line-height: unset;
  padding: unset;
  text-align: left;
}
