<div
  id="{{ 'game-card-' + game().id }}"
  class="group overflow-hidden {{ class() }}"
  tabindex="0"
  [ngClass]="{
    'w-full': layout() === 'responsive',
    'w-32 sm:w-[150px] lg:w-[165px]': layout() === 'fixed'
  }"
>
  <div
    class="relative overflow-hidden rounded-lg shadow-lg bg-shark-900 aspect-[3/4] cursor-pointer transition-transform"
  >
    <div class="absolute inset-0 transition-transform duration-300 group-hover:scale-120">
      @if (!isImageLoaded()) {
        <div class="absolute inset-0 bg-[#272a31] animate-pulse z-10 flex items-center justify-center">
          <svg class="w-8 h-8 text-gray-500 animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </div>
      }
      <img
        [ngSrc]="gameImageUrl"
        [alt]="game().name"
        fill
        draggable="false"
        class="w-full h-full object-cover transition-opacity duration-500"
        [class.opacity-0]="!isImageLoaded()"
        [priority]="isPriority()"
        (load)="onImageLoad()"
      />
    </div>

    <div class="hidden group-hover:block absolute top-3 left-3 z-10">
      <span
        class="inline-flex items-center px-2.5 py-1 rounded-full text-xs font-medium bg-shark-950/50 text-shark-50/80 backdrop-blur-sm"
      >
        {{ game().gameTypeName }}
      </span>
    </div>
    <!-- <div class="absolute bottom-0 left-0 right-0 px-4 py-0 z-10">
      <p
        class="hidden group-hover:block text-shark-100 text-sm opacity-0 transition-all duration-300 group-hover:opacity-100 group-hover:-translate-y-1"
      >
        {{ game().productSupplierName }}
      </p>
    </div> -->
  </div>
  <h3
    class="text-white font-bold text-sm sm:text-base mb-1 transition-transform duration-300 group-hover:-translate-y-0 truncate ps-2"
  >
    {{ game().name }}
  </h3>
</div>