@use "sass:map" as map;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

ul:not([class]),
ol:not([class]) {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

ul:not([class]) > li {
  position: relative;
  list-style: none;
}

ul:not([class]) > li::before {
  content: "";
  display: inline-block;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  margin: 0 0.4375rem 0.125rem;
  vertical-align: middle;
}

a:not([class]) {
  color: map.get(theme-variables.$app-custom-colors, "brand-background");
  text-decoration: none;
  font-style: normal;
  transition: color 0.3s ease;
}

a:not([class]):hover {
  color: map.get(theme-variables.$app-custom-colors, "semantic-error");
}
