@use "sass:map";
@import "src/theme/theme-variables";
@import "src/theme/utils";

:host {
  border-radius: 0.25rem;
  position: relative;
}

.winners-title-image {
  position: absolute;
  display: none;

  @include media("gt-md") {
    display: block;
    top: -6.25rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
  }
}

.winners-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 3.25rem;
  background-color: map.get($app-custom-colors, "neutral-10");
  border-radius: 0.25rem 0.25rem 0 0;
  font-size: 1.063rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 0.75rem 1rem;

  .winners-header-amount {
    color: map.get($app-custom-colors, "Betaki_error");
    font-size: 1.25rem;
  }
}

.winners-content {
  background-color: map.get($app-custom-colors, "neutral-white");
  border-radius: 0 0 0.25rem 0.25rem;
  flex: 1;
  font-size: 0.875rem;
  line-height: 1.25rem;

  b {
    font-size: 0.813rem;
    color: map.get($app-custom-colors, "neutral-black");
  }
}

.winners-item {
  padding: 0.625rem 1rem;
  user-select: none;
  transition: background-color 0.3s ease;
  min-height: 4.5rem;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: map.get($app-custom-colors, "neutral-black");

  &:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
  }

  &:not(:last-child) {
    box-shadow: inset 0 -0.063rem 0 map.get($app-custom-colors, "neutral-100");
  }

  &:hover {
    background-color: map.get($app-custom-colors, "Betaki_error");
  }

  img {
    width: 2.438rem;
    margin: 0 0 0 1.25rem;
    border-radius: 0.25rem;
    background-color: map.get($app-custom-colors, "neutral-black");
  }

  @include media(lt-sm-2) {
    min-height: 3.25rem;
    padding: 0.625rem 0.75rem;

    img {
      width: 2.438rem;
    }
  }
}
