<ng-container *ngIf="items.length > 0">
  <!-- TITLE IMAGE -->
  <img [src]="titleImageSrc" class="winners-title-image" alt="Title image" loading="lazy" />
  <!-- HEADER -->
  <div class="winners-header flex flex-row justify-between">
    <span>{{ headerLabel }}</span>
    <span class="winners-header-amount"> {{ headerAmount }}</span>
  </div>
  <!-- CONTENT -->
  <div class="winners-content" (mouseenter)="disableUpdating()" (mouseleave)="enableUpdating()">
    <ng-container *ngFor="let item of items | slice: 0:nrOfDisplayedItems; let i = index">
      <a
        *ngIf="item !== undefined || true"
        [routerLink]="['/game', item?.game?.identifier]"
        class="winners-item flex flex-row justify-between items-center content-center"
      >
        <!-- WIN TYPE -->
        <span *ngIf="type === 'win' || type === 'topWin'">
          <span>{{ enumerated ? i + 1 + '.' : '' }} {{ item?.player?.nickname }}</span>
          <span *ngIf="type === 'win'" translate>just won</span>
          <br />
          <span
            ><b>{{ item?.round?.win | currency: item?.round?.currency }}</b> in {{ item?.game?.title }}</span
          >
        </span>
        <!-- JACKPOT TYPE -->
        <span *ngIf="type === 'jackpot'">
          <span>{{ item?.game?.title }}</span>
          <br />
          <b>{{ item?.round?.win | currency: item?.round?.currency }}</b>
        </span>
        <img
          [src]="item?.game?.table_image_path ?? ('/assets/general/logo/betaki-logo.png' | cdnize)"
          [alt]="item?.game?.title"
          width="39"
          height="52"
          (error)="onImgError($event)"
        /> </a
    ></ng-container>
  </div>
</ng-container>
