@use "sass:map" as map;
@use "theme/utils" as utils;

@use "theme/theme-variables" as theme-variables;

.html-assets {
  background: map.get(theme-variables.$app-custom-colors, "betaki-white100");
  border-radius: 1rem;
  padding: 2rem;

  @include utils.media("lt-sm-2") {
    border-radius: 0;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.breadcrumbs-container {
  padding: 2.5rem 0.625rem 1.5rem;

  @include utils.media("lt-sm-2") {
    padding: 0.75rem;
    padding-bottom: 1.5rem;
  }
}
