<div class="player-profile-page-container">
  <app-page-breadcrumbs [breadcrumbs]="breadcrumbs"></app-page-breadcrumbs>
  <div class="page-section-multiple">
    <div class="section-item-container verification nowrap">
      <div class="flex-col section-item edit-password-form-container">
        <div [formGroup]="passwordResetForm" class="flex-col flex-col--lt-sm-2 gapx-24 gapy-24">
          <div class="field-wrapper-edit">
            <mat-form-field
              appearance="outline"
              class="edit-password form-input-edit"
              [class.error-border]="
                passwordResetForm.controls.oldPassword.touched && passwordResetForm.controls.oldPassword.invalid
              "
              subscriptSizing="dynamic"
            >
              <input
                matInput
                [type]="hideOld ? 'password' : 'text'"
                placeholder="{{ 'Current Password' | translate }}"
                formControlName="oldPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideOld = !hideOld"
                [attr.aria-label]="'Toggle password visibility'"
                [attr.aria-pressed]="!hideOld"
                class="custom-icon-button"
              >
                <mat-icon fontSet="material-icons-outlined">{{ hideOld ? 'visibility' : 'visibility_off' }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  passwordResetForm.controls.oldPassword?.hasError('required') &&
                  passwordResetForm.controls.oldPassword?.touched
                "
                class="error-msg"
                translate
              >
                Required</mat-error
              >
              <mat-error
                *ngIf="passwordResetForm.controls.oldPassword?.hasError('InvalidOldCred')"
                class="error-message"
                translate
                >Current password invalid
              </mat-error>
            </mat-form-field>
          </div>
          <div class="field-wrapper-edit">
            <mat-form-field
              appearance="outline"
              class="edit-password form-input-edit"
              [class.error-border]="
                passwordResetForm.controls.newPassword.touched && passwordResetForm.controls.newPassword.invalid
              "
              subscriptSizing="dynamic"
            >
              <input
                matInput
                [type]="hideNew ? 'password' : 'text'"
                placeholder="{{ 'New Password' | translate }}"
                formControlName="newPassword"
                appPasswordStrengthIndicator
                class="limit-input-width"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideNew = !hideNew"
                [attr.aria-label]="'Show password' | translate"
                [attr.aria-pressed]="!hideNew"
                class="custom-icon-button"
              >
                <mat-icon fontSet="material-icons-outlined">{{ hideNew ? 'visibility' : 'visibility_off' }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  passwordResetForm.controls.newPassword?.hasError('required') &&
                  passwordResetForm.controls.newPassword?.touched
                "
                class="error-msg"
                translate
              >
                Required</mat-error
              >
              <mat-error
                *ngIf="
                  passwordResetForm.controls.newPassword?.hasError('minlength') &&
                  passwordResetForm.controls.newPassword?.touched
                "
                class="error-msg"
                translate
              >
                Too short (min 8 characters)</mat-error
              >
              <mat-error
                *ngIf="
                  passwordResetForm.controls.newPassword?.hasError('maxlength') &&
                  passwordResetForm.controls.newPassword?.touched
                "
                class="error-msg"
                translate
              >
                Too long (max 100 characters)</mat-error
              >
              <mat-error
                *ngIf="
                  passwordResetForm?.controls?.newPassword?.hasError('pattern') &&
                  !passwordResetForm?.controls?.newPassword?.hasError('minlength') &&
                  passwordResetForm.controls.newPassword?.touched
                "
                class="error-msg"
                translate
              >
                Password must include uppercase and lowercase letters, a number, and a special character
              </mat-error>
            </mat-form-field>
          </div>
          <div class="field-wrapper-edit">
            <mat-form-field
              appearance="outline"
              class="form-input-edit"
              [class.error-border]="
                passwordResetForm.controls.newPasswordConfirm.touched &&
                passwordResetForm.controls.newPasswordConfirm.invalid
              "
              subscriptSizing="dynamic"
            >
              <input
                matInput
                [type]="hideConfirm ? 'password' : 'text'"
                placeholder="{{ 'Password Confirm' | translate }}"
                formControlName="newPasswordConfirm"
                class="limit-input-width"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hideConfirm = !hideConfirm"
                [attr.aria-label]="'Show password' | translate"
                [attr.aria-pressed]="!hideConfirm"
                class="custom-icon-button"
              >
                <mat-icon fontSet="material-icons-outlined">{{
                  hideConfirm ? 'visibility' : 'visibility_off'
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  passwordResetForm.controls.newPasswordConfirm?.hasError('required') &&
                  passwordResetForm.controls.newPasswordConfirm?.touched
                "
                class="error-msg"
                translate
              >
                Required</mat-error
              >
              <mat-error
                *ngIf="
                  passwordResetForm.controls.newPasswordConfirm?.hasError('mismatch') &&
                  !passwordResetForm.controls.newPasswordConfirm.hasError('required') &&
                  passwordResetForm.controls.newPasswordConfirm?.touched
                "
                class="error-message"
                translate
                >Password confirmation: doesn't match password</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <!-- flex-row -->
        <div class="edit-password-btns-container flex-row flex-wrap flex-col--lt-sm-2 gapx-24 gapy-16 full-width">
          <div class="section-actions">
            <button mat-button (click)="onCancel()" class="section-action-2 flex-grow">
              <span translate>Cancel</span>
            </button>
            <button
              [disabled]="passwordResetForm.invalid"
              mat-button
              (click)="updatePassword()"
              class="section-action flex-grow"
            >
              <span translate>Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
