@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

:host {
  width: 100%;
}

.edit-password-form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.custom-icon-button {
  color: map.get(theme-variables.$app-custom-colors, "neutral-33");

  &:hover {
    color: color.adjust(map.get(theme-variables.$app-custom-colors, "betaki-grey100"), $alpha: -0.4);
  }
}

@include utils.media("lt-sm-1") {
  .mat-mdc-form-field {
    width: 100%;
  }
}
