.icon-black {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.scroll-container-with-shadow {
  position: relative;
  flex-grow: 1;
  display: flex;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 3rem; /* Adjust as needed */
    pointer-events: none;
    z-index: 1;

    @media screen and (max-width: 768px) {
      background: linear-gradient(to right, transparent, #0a0a0a);
    }
  }
}
