<div class="flex-col gap-16 mt-32">
  <div class="section-wrapper" *ngIf="uploadedDocuments && uploadedDocuments.length > 0">
    <div class="flex-row items-center section-header">
      <h2 translate>Documents</h2>
    </div>
    <div class="flex-row flex-wrap items-center gapx-24 gapy-12">
      <div
        *ngFor="let document of uploadedDocuments"
        class="flex-row items-center justify-between gap-12 documents-container"
      >
        <mat-icon class="file-icon">description</mat-icon>
        <span class="document-name">{{ document.name }}</span>
        <div class="icon-container">
          <div
            *ngIf="document.approvalStatus === 'Approved'"
            matTooltip="{{ (document.approvalStatus ? document.approvalStatus : 'Approved') | translate }}"
            #tooltip="matTooltip"
            (click)="tooltip.toggle()"
            class="info-tooltip font-icons font-icons--check"
          ></div>
          <mat-icon
            matTooltip="{{ (document.approvalStatus ? document.approvalStatus : 'Unapproved') | translate }}"
            #tooltip="matTooltip"
            (click)="tooltip.toggle()"
            *ngIf="document.approvalStatus === 'Unapproved' || document.approvalStatus === 'Partial'"
            class="info-tooltip history-icon"
            >schedule</mat-icon
          >
        </div>
      </div>
    </div>
  </div>

  <div class="section-wrapper">
    <div class="flex-row items-center gap-12 section-header">
      <img class="section-icon" src="{{ 'assets/general/icons/person.png' | cdnize }}" alt="identity" />
      <h2 translate>Identity</h2>
    </div>

    <div>
      <h5 translate>Primary</h5>
      <p translate>
        Passport, driver's license, or other official document replacing them.
        <b class="more-info" (click)="openInfo(0)">More info</b>
      </p>
    </div>

    <div>
      <h5 translate>Selfie & ID</h5>
      <p translate>
        Your selfie with passport/ID in your hands. It should be a single photo so please make sure both your face and
        passport info are well recognizable and don't overlap each other.
      </p>
    </div>

    <div class="file-upload-wrapper" translate>
      <app-file-upload
        inputId="file1"
        (emitItems)="uploadFile($event)"
        [configuration]="uploadFileConfig"
        [isFileLoading]="fileUploading === 'file1'"
      ></app-file-upload>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="flex-row items-center gap-12 section-header">
      <img class="section-icon" src="{{ 'assets/general/icons/location_on.png' | cdnize }}" alt="address" />
      <h2 translate>Address</h2>
    </div>

    <div>
      <p translate>
        Utility bill, phone bill, or bank statement, in which your name and address are fully indicated.
        <b class="more-info" (click)="openInfo(1)">More info</b>
      </p>
    </div>

    <div class="file-upload-wrapper" translate>
      <app-file-upload
        inputId="file2"
        (emitItems)="uploadFile($event)"
        [configuration]="uploadFileConfig"
        [isFileLoading]="fileUploading === 'file2'"
      ></app-file-upload>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="flex-row items-center gap-12 section-header">
      <img class="section-icon" src="{{ 'assets/general/icons/account_balance_wallet.png' | cdnize }}" alt="payment" />
      <h2>Payment</h2>
    </div>

    <div>
      <p translate>
        You must submit all bank cards used within the last 6 months. Each card must visibly show your first 6 and last
        4 card numbers, your full name, expiry date and all 4 edges/corners of the bank card.
        <b class="more-info" (click)="openInfo(2)">More info</b>
      </p>
    </div>

    <div class="file-upload-wrapper" translate>
      <app-file-upload
        inputId="file3"
        (emitItems)="uploadFile($event)"
        [configuration]="uploadFileConfig"
        [isFileLoading]="fileUploading === 'file3'"
      ></app-file-upload>
    </div>
  </div>
  <div class="section-wrapper">
    <div class="flex-row items-center gap-12 section-header">
      <img class="section-icon" src="{{ 'assets/general/icons/phone.png' | cdnize }}" alt="phone verification" />
      <h2 translate>Phone verification</h2>
    </div>

    <div *ngIf="playerInfo?.mobilePhone" class="flex-col gap-24 mt-24">
      <div class="flex-row gap-24 phone-number-container mx-16">
        <span>{{ playerInfo?.mobilePhone }}</span>
        <div class="flex-row gap-10 icon-container">
          <div
            *ngIf="phoneVerificationStatus === 'Verified'"
            matTooltip="{{ (phoneVerificationStatus ? phoneVerificationStatus : 'Verified') | translate }}"
            #tooltip="matTooltip"
            (click)="tooltip.toggle()"
            class="info-tooltip font-icons font-icons--check"
          ></div>
          <mat-icon
            matTooltip="{{ (phoneVerificationStatus ? phoneVerificationStatus : 'Not Verified') | translate }}"
            #tooltip="matTooltip"
            (click)="tooltip.toggle()"
            *ngIf="phoneVerificationStatus === 'Not Verified'"
            class="info-tooltip history-icon"
            >schedule</mat-icon
          >
          <div
            *ngIf="phoneVerificationStatus === 'Not Verified'"
            (click)="onDeleteNumber()"
            class="delete-icon font-icons font-icons--close"
          ></div>
        </div>
      </div>
      <div>
        <span translate class="contact-span">Please, contact support to verify your phone number</span>
      </div>
    </div>

    <form
      class="flex-row phone-verification-wrapper"
      [formGroup]="phoneVerificationForm"
      *ngIf="!playerInfo?.mobilePhone"
    >
      <div class="flex-col country-code">
        <mat-form-field appearance="outline" class="form-input-secondary relative flex-col" subscriptSizing="dynamic">
          <mat-select placeholder="Select" formControlName="countryCode">
            <!-- formControlName="countryCode" -->
            <mat-option *ngFor="let country of countriesCode" [value]="country">
              <div class="flex-row items-center gap-12">
                <img
                  height="20"
                  width="28"
                  alt="{{ country.code }}"
                  src="{{ 'assets/general/countries/' + (country.code | lowercase) + '.svg' | cdnize }}"
                />
                <div>{{ country.dial_code }}</div>
              </div>
            </mat-option>
          </mat-select>
          <div class="flag" *ngIf="countryCodeControl.value?.code">
            <img
              alt="flag"
              src="{{ 'assets/general/countries/' + (countryCodeControl.value?.code | lowercase) + '.svg' | cdnize }}"
            />
          </div>

          <mat-error
            *ngIf="countryCodeControl?.hasError('required') && countryCodeControl.touched"
            class="error-msg"
            translate
          >
            can't be blank
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex-col phone-number">
        <mat-form-field
          appearance="outline"
          class="form-input-secondary flex-col error-border"
          subscriptSizing="dynamic"
        >
          <input
            matInput
            type="tel"
            formControlName="phoneNumber"
            class="phone-number-input"
            name="phone"
            placeholder="Add"
            (keydown)="validateNumber($event)"
          />
          <mat-error
            *ngIf="
              phoneVerificationForm.controls.phoneNumber?.hasError('required') &&
              phoneVerificationForm.controls.phoneNumber.touched
            "
            class="error-msg"
            translate
          >
            can't be blank
          </mat-error>
          <mat-error
            *ngIf="
              phoneVerificationForm.controls.phoneNumber?.hasError('pattern') ||
              phoneVerificationForm.controls.phoneNumber?.hasError('minlength') ||
              (phoneVerificationForm.controls.phoneNumber?.hasError('maxlength') &&
                phoneVerificationForm.controls.phoneNumber.touched)
            "
            class="error-msg"
            translate
          >
            Invalid phone number
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-button class="verify-button" (click)="onAddNumber()" translate>verify</button>
    </form>
  </div>
</div>
