<!-- <div class="promo-container" [class.hidden]="(emptyWinners$ | async) === true" [class.with-background]="withBackground">
  <div class="inner-container"> -->
<!-- LATEST WINNERS -->
<!-- <app-winners-promo-block
      *ngIf="!hideLatestWinners"
      class="promo-block"
      [headerLabel]="'Latest Winners' | translate"
      [dataSource]="latestWinners$"
      titleImageSrc="{{ 'assets/general/images/latestwinners.png' | cdnize }}"
      [nrOfDisplayedItems]="nrOfDisplayedItems"
      type="win"
    ></app-winners-promo-block> -->
<!-- POOL JACKPOT -->
<!-- TODO: Uncomment if jackpots become available -->
<!-- <app-winners-promo-block
      *ngIf="!hidePoolJackpot"
      class="promo-block"
      [headerLabel]="'Pool Jackpot' | translate"
      [headerAmount]="'$100'"
      [dataSource]="poolJackpot"
      type="jackpot"
      titleImageSrc="{{ 'assets/general/images/winners-jackpot.png' | cdnize }}"
      [nrOfDisplayedItems]="nrOfDisplayedItems"
    ></app-winners-promo-block> -->
<!-- </div>
</div> -->

<div class="promo-container">
  <div class="subtitle-s">
    {{ 'Latest plays' | translate }}
  </div>
  <app-casino-wins [latestWinners$]="latestWinners$"></app-casino-wins>
</div>
