/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-max-specificity */
/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-not-notation */

@use "sass:map" as map;
@use "sass:color" as color;
@use "src/theme/theme-variables" as vars;
@use "theme/utils" as utils;

// *****************************************************************************
// #region Form Input
// *****************************************************************************
// input
.mat-mdc-input-element {
  padding-top: 0.5rem;
}

.register-gender {
  .mat-mdc-radio-button.mat-accent {
    --radio-color: #{map.get(vars.$app-custom-colors, "brand-background")};
    --mat-radio-disabled-selected-icon-color: var(--radio-color);
    --mat-radio-disabled-unselected-icon-color: var(--radio-color);
    --mat-radio-unselected-focus-icon-color: var(--radio-color);
    --mat-radio-unselected-hover-icon-color: var(--radio-color);
    --mat-radio-unselected-icon-color: var(--radio-color);
    --mat-radio-unselected-pressed-icon-color: var(--radio-color);
    --mat-radio-selected-focus-icon-color: var(--radio-color);
    --mat-radio-selected-hover-icon-color: var(--radio-color);
    --mat-radio-selected-icon-color: var(--radio-color);
    --mat-radio-selected-pressed-icon-color: var(--radio-color);
    --mat-mdc-radio-ripple-color: var(--radio-color);
    --mat-mdc-radio-checked-ripple-color: var(--radio-color);
  }
}

// select
.mat-mdc-select {
  .mat-mdc-select-arrow-wrapper {
    z-index: 1;
    margin-right: -0.25rem;
  }

  .mat-mdc-select-arrow {
    display: none;
    color: map.get(vars.$app-custom-colors, "brand-accent");

    // color: map.get(vars.$app-custom-colors, "neutral-white");
  }

  .mat-mdc-select-value {
    color: map.get(vars.$app-custom-colors, "brand-surface");

    // color: map.get(vars.$app-custom-colors, "neutral-white");
    font-size: 0.75rem;
    padding-top: 0.125rem;
  }

  .mat-mdc-select-placeholder {
    color: color.adjust(map.get(vars.$app-custom-colors, "brand-surface"), $alpha: -0.25);

    // color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.25);
    font-weight: 400;
  }
}

.mat-mdc-form-field
  .mat-mdc-select.mat-mdc-select-invalid
  .mat-mdc-select-trigger
  .mat-mdc-select-arrow-wrapper
  .mat-mdc-select-arrow {
  color: map.get(vars.$app-custom-colors, "brand-accent");

  // color: map.get(vars.$app-custom-colors, "neutral-white");
}

.mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select .mat-mdc-select-arrow {
  color: map.get(vars.$app-custom-colors, "brand-accent");

  // color: map.get(vars.$app-custom-colors, "neutral-white");
}

.cdk-overlay-pane .mdc-menu-surface.mat-mdc-select-panel.mdc-menu-surface--open {
  background-color: map.get(vars.$app-custom-colors, "neutral-white");

  // background-color: map.get(vars.$app-custom-colors, "brand-background");

  border: 1px solid map.get(vars.$app-custom-colors, "neutral-90");

  // border: 1px solid color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.25);
  margin-top: 0.25rem; // 0.313rem;
  margin-bottom: 0.313rem;

  // The only option to have a rounded border on all sides
  /* stylelint-disable-next-line declaration-no-important */
  border-radius: 0.625rem !important;
  padding: 0;

  // border-radius: 0.313rem;

  box-shadow:
    0 2px 2px 0 rgb(0 0 0 / 20%),
    0 5px 7px -2px rgb(0 0 0 / 14%),
    -3px 0 11px -1px rgb(0 0 0 / 12%);

  .mat-mdc-option {
    padding: 0.25rem 1rem;
    margin: 0;
    min-height: 1rem;

    &:not(:last-child) {
      border-bottom: 1px solid map.get(vars.$app-custom-colors, "neutral-90");
    }
  }

  .mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-90"), $alpha: -0.8);

    // background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.9);
    border-radius: 0;
  }

  .mat-mdc-option .mat-icon,
  .mat-mdc-option .mat-pseudo-checkbox-full {
    margin-right: 0.5rem;
    border-radius: 0.25rem;
    color: map.get(vars.$app-custom-colors, "brand-surface");
  }

  .mat-pseudo-checkbox {
    width: 1rem;
    height: 1rem;
  }

  .mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-full,
  .mat-primary .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-full {
    background: map.get(vars.$app-custom-colors, "brand-accent"); // #caab72;
  }
}

.mat-mdc-option.mdc-list-item .mdc-list-item__primary-text {
  color: map.get(vars.$app-custom-colors, "brand-surface");

  // color: map.get(vars.$app-custom-colors, "neutral-white");
  font-size: 0.75rem;
}

.mat-primary .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) {
  background-color: map.get(vars.$app-custom-colors, "neutral-300");

  // background-color: color.adjust(map.get(vars.$app-custom-colors, "semantic-error"), $alpha: -0.8);
  border-radius: 0;

  .mdc-list-item__primary-text {
    color: map.get(vars.$app-custom-colors, "brand-surface");

    // color: map.get(vars.$app-custom-colors, "neutral-white");
  }
}

// calendar
.cdk-overlay-pane.mat-datepicker-popup {
  border: 1px solid map.get(vars.$app-custom-colors, "neutral-300");

  // border: 1px solid color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.25);
  margin-top: 0.313rem;
  border-radius: 0.313rem;
}

.mat-datepicker-content {
  background-color: map.get(vars.$app-custom-colors, "neutral-white");

  // background-color: map.get(vars.$app-custom-colors, "brand-background");
}

.mat-calendar-body-cell-content {
  color: map.get(vars.$app-custom-colors, "brand-surface");

  // color: map.get(vars.$app-custom-colors, "neutral-white");
}

.mat-calendar-table-header,
.mat-calendar-body-label,
.mat-mdc-icon-button:disabled {
  color: color.adjust(map.get(vars.$app-custom-colors, "brand-surface"), $alpha: -0.5);

  // color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5);
}

/* stylelint-disable-next-line max-line-length */
.mat-calendar-body-disabled
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  color: color.adjust(map.get(vars.$app-custom-colors, "brand-surface"), $alpha: -0.5);

  // color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5);
}

.mat-calendar-table-header-divider::after {
  background: color.adjust(map.get(vars.$app-custom-colors, "brand-surface"), $alpha: -0.5);

  // background: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5);
}

.mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button {
  color: map.get(vars.$app-custom-colors, "brand-surface");

  // color: map.get(vars.$app-custom-colors, "neutral-white");
}

.mat-calendar-body-selected {
  background-color: map.get(vars.$app-custom-colors, "brand-accent");

  // background-color: map.get(vars.$app-custom-colors, "semantic-error");
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: color.adjust(map.get(vars.$app-custom-colors, "brand-accent"), $alpha: -0.8);

  // background-color: color.adjust(map.get(vars.$app-custom-colors, "semantic-error"), $alpha: -0.8);
}

.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: unset;
}

.profile-settings-info-form {
  .mat-mdc-form-field-infix {
    width: unset;

    .mdc-text-field__input::placeholder {
      color: map.get(vars.$app-custom-colors, "neutral-90");

      // color: map.get(vars.$app-custom-colors, "neutral-white");
    }
  }

  .mat-mdc-select.no-arrow {
    .mat-mdc-select-arrow-wrapper {
      display: none;
    }
  }
}

.profile-settings-info-container .field-wrapper {
  .form-input-secondary {
    .mdc-text-field--disabled {
      background-color: inherit;
      border-radius: 0.375rem;
      border: 1px solid color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.81);
    }
  }

  input:disabled {
    color: map.get(vars.$app-custom-colors, "neutral-white");
  }

  .mat-form-field-disabled {
    .mat-mdc-select-value {
      color: map.get(vars.$app-custom-colors, "neutral-white");
    }

    .mat-mdc-select.mat-mdc-select-disabled .mat-mdc-select-arrow {
      color: map.get(vars.$app-custom-colors, "neutral-white");
    }
  }
}

.form-input {
  font-family: var(--font-sans);

  .mat-mdc-text-field-wrapper {
    background-color: map.get(vars.$app-custom-colors, "neutral-100");
    height: 3rem;
    padding-left: 0.75rem;

    .mat-mdc-form-field-flex {
      height: 3rem;
    }

    .mat-mdc-form-field-infix {
      height: 3rem;
      padding: 0.25rem 0;
    }

    .mat-mdc-input-element {
      padding-top: 0.5rem;
    }
  }

  .mdc-text-field--outlined {
    border-radius: 0.375rem;
  }
}

.form-input-search {
  height: 3rem;
  font-family: var(--font-sans);

  .mdc-text-field--outlined {
    border-radius: 0.375rem;
  }

  .mat-mdc-text-field-wrapper {
    background-color: map.get(vars.$app-custom-colors, "neutral-100");
    height: 3rem;
    padding-left: 1.25rem;

    .mat-mdc-form-field-flex {
      height: 3rem;
      align-items: center;
    }

    .mat-mdc-form-field-infix {
      padding: 0.25rem 0;
      min-height: unset;
      font-family: var(--font-sans);
    }

    .mdc-notched-outline__leading {
      border-left: unset;
    }

    .mdc-notched-outline__trailing {
      border-right: unset;
    }

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-top: unset;
      border-bottom: unset;
    }

    .mat-mdc-input-element {
      color: color.adjust(map.get(vars.$app-custom-colors, "neutral-black"), $alpha: -0.5);
      /* stylelint-disable-next-line declaration-no-important */
      height: 100% !important;
    }
  }
}

.form-input-search-games {
  height: 2.25rem;
  border: 1px solid color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5);
  border-radius: 1rem;
  max-width: 12.375rem;
  font-size: 0.75rem;

  .mdc-text-field--outlined {
    border-radius: 0.375rem;
  }

  .mat-mdc-text-field-wrapper {
    height: 2.25rem;
    padding-left: 1.25rem;

    .mat-mdc-form-field-flex {
      height: 2.25rem;
      align-items: center;
    }

    .mat-mdc-form-field-infix {
      padding: 0.25rem 0;
      min-height: unset;
    }

    .mdc-notched-outline__leading {
      border-left: unset;
    }

    .mdc-notched-outline__trailing {
      border-right: unset;
    }

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing {
      border-top: unset;
      border-bottom: unset;
    }

    .mat-mdc-input-element {
      color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.25);
      /* stylelint-disable-next-line declaration-no-important */
      height: 100% !important;
    }

    .mat-mdc-input-element::placeholder {
      color: map.get(vars.$app-custom-colors, "neutral-100");
    }
  }
}

.limit-input-suffix {
  color: color.adjust(map.get(vars.$app-custom-colors, "neutral-black"), $alpha: -0.51);
  font-family: var(--font-sans);
  font-size: 0.75rem;

  .mat-mdc-select {
    display: unset;
    margin-right: 0.3125rem;
  }
}

@include utils.media("lt-sm-2") {
  .form-input-search-games {
    font-size: 0.875rem;
    border-radius: 0.625rem;
  }
}

// *****************************************************************************
// #endregion Form Input
// *****************************************************************************

.form-input-primary {
  height: unset;
  width: 100%;
  border-radius: 1rem;

  // border: 1px solid map.get(vars.$app-custom-colors, "neutral-60");

  --mat-shape-small: 1rem;

  &.view-mode {
    .mdc-notched-outline__leading {
      border: none;
    }

    .mdc-notched-outline__trailing {
      border: none;
    }
  }

  .mat-mdc-text-field-wrapper {
    // background-color: map.get(vars.$app-custom-colors, "neutral-30");
    height: 2.5rem;
    padding-left: 0.75rem;
    background-color: map.get(vars.$app-custom-colors, "neutral-300");

    .mat-mdc-form-field-flex {
      height: 2.5rem;
    }

    .mat-mdc-form-field-infix {
      height: 2.5rem;
      min-height: 2.5rem;
      padding: 0.25rem 0;
      justify-content: center;
      display: flex;

      input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-text-fill-color: map.get(vars.$app-custom-colors, "brand-ink");
        }
      }
    }

    .mat-mdc-input-element {
      height: 2.5rem;
      font-size: 1rem;
      color: map.get(vars.$app-custom-colors, "brand-ink");
      padding-top: 0.1rem;

      &::placeholder {
        color: map.get(vars.$app-custom-colors, "brand-ink-30");
      }
    }

    &:hover,
    &.mdc-text-field--focused {
      // background-color: map.get(vars.$app-custom-colors, "neutral-30");

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
      }

      .mdc-notched-outline__leading {
        border-left: 1px solid;

        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
      }

      .mdc-notched-outline__trailing {
        border-right: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
      }
    }

    &.mdc-text-field--disabled {
      background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-300"), $alpha: -0.9);
      border: none;

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border: none;
      }
    }
  }

  &:not(.error-border) {
    .mat-mdc-text-field-wrapper:not(:hover, .mdc-text-field--focused) {
      .mdc-notched-outline__leading {
        border-left: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__trailing {
        border-right: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "neutral-60") !important;
      }
    }
  }

  &.error-border {
    --mat-theme-error: #e72369;

    .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid) {
      .mdc-notched-outline__leading {
        border-left: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
      }

      .mdc-notched-outline__trailing {
        border-right: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "neutral-60") !important;
      }
    }

    .mat-mdc-text-field-wrapper.mdc-text-field--invalid {
      .custom-icon-button {
        color: map.get(vars.$app-custom-colors, "Betaki_error500");
      }
    }
  }

  &.no-border {
    .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid) {
      .mdc-notched-outline__leading {
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "neutral-300") !important;
      }

      .mdc-notched-outline__trailing {
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "neutral-300") !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "neutral-300") !important;
      }
    }
  }

  .mdc-text-field--disabled {
    /* stylelint-disable-next-line declaration-no-important */
    border: 0.0625rem solid map.get(vars.$app-custom-colors, "brand-surface") !important;
  }

  &.mat-form-field-disabled {
    background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.9);

    .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid, .mdc-text-field--focused, :hover) {
      .mdc-notched-outline__leading {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }

      .mdc-notched-outline__trailing {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }
    }
  }

  &.large-desktop {
    @include utils.media("gt-sm-1") {
      .mat-mdc-text-field-wrapper {
        height: 3.75rem;

        .mat-mdc-form-field-flex {
          height: 3.75rem;
        }

        .mat-mdc-form-field-infix {
          height: 3.75rem;
          min-height: 3.75rem;
        }

        .mat-mdc-input-element {
          height: 3.75rem;
        }
      }
    }
  }
}

@include utils.media("lt-sm-2") {
  .form-input-primary:not(.keep-desktop-size) {
    .mat-mdc-text-field-wrapper {
      height: 2rem;

      .mat-mdc-form-field-flex {
        height: 2rem;

        .mdc-notched-outline__leading {
          border-radius: 0.625rem 0 0 0.625rem;
        }

        .mdc-notched-outline__trailing {
          border-radius: 0 0.625rem 0.625rem 0;
        }
      }

      .mat-mdc-form-field-infix {
        height: 2rem;
        min-height: 2rem;
      }

      .mat-mdc-input-element {
        height: 2rem;
        font-size: 0.75rem;
      }

      mat-icon {
        font-size: 1rem;
        height: 1rem;
        width: 1rem;
      }

      // .mat-mdc-icon-button {
      //   // width: 2.25rem;
      //   // padding: 0.625rem;
      // }
    }
  }
}

// *****************************************************************************
// #region Form Input Secondary
// *****************************************************************************
.form-input-secondary {
  height: unset;
  width: 100%;
  border-radius: 1rem;

  --mat-shape-small: 1rem;

  &.view-mode {
    .mdc-notched-outline__leading {
      border: none;
    }

    .mdc-notched-outline__trailing {
      border: none;
    }
  }

  &.deposit-form-field {
    .mat-mdc-text-field-wrapper {
      background-color: #dfdfdf; // map.get(vars.$app-custom-colors, "neutral-90");
      border-radius: 0.4688rem;
    }

    @include utils.media("lt-sm-2") {
      .mat-mdc-text-field-wrapper {
        height: 2.875rem;

        .mat-mdc-form-field-flex {
          height: 2.875rem;
        }

        .mat-mdc-form-field-infix {
          height: 2.875rem;
          min-height: 2.875rem;
        }

        .mat-mdc-input-element {
          height: 2.875rem;

          // font-size: 0.75rem;
        }

        mat-icon {
          font-size: 0.75rem;
          height: 0.75rem;
          width: 0.75rem;
        }

        .mat-mdc-icon-button {
          width: 2.25rem;
          padding: 0.625rem;
        }
      }
    }

    &.error-border {
      --mat-theme-error: #{map.get(vars.$app-custom-colors, "semantic-error-strong")};

      .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
        border-radius: 0.4688rem 0 0 0.4688rem;
      }

      .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
        border-radius: 0 0.4688rem 0.4688rem 0;
      }

      .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid) {
        .mdc-notched-outline__leading {
          border-left: 1px solid;
          /* stylelint-disable-next-line declaration-no-important */
          border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
        }

        .mdc-notched-outline__trailing {
          border-right: 1px solid;
          /* stylelint-disable-next-line declaration-no-important */
          border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
        }

        .mdc-notched-outline__leading,
        .mdc-notched-outline__notch,
        .mdc-notched-outline__trailing {
          border: none;
        }
      }
    }
  }

  .mat-mdc-text-field-wrapper {
    // background-color: map.get(vars.$app-custom-colors, "neutral-30");
    height: 3.75rem;
    padding-left: 0.75rem;
    background-color: map.get(vars.$app-custom-colors, "neutral-white");
    border-radius: 1rem;

    .mat-mdc-form-field-flex {
      height: 3.75rem;
    }

    .mat-mdc-form-field-infix {
      height: 3.75rem;
      min-height: 3.75rem;
      padding: 0.25rem 0;
      justify-content: center;
      display: flex;

      input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-text-fill-color: map.get(vars.$app-custom-colors, "brand-ink");
        }
      }
    }

    .mat-mdc-input-element {
      height: 3.75rem;
      font-size: 1rem;
      color: map.get(vars.$app-custom-colors, "brand-ink");
      padding-top: 0.1rem;

      &::placeholder {
        color: map.get(vars.$app-custom-colors, "brand-ink-30");
      }
    }

    &:hover,
    &.mdc-text-field--focused {
      // background-color: map.get(vars.$app-custom-colors, "neutral-30");

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__leading {
        border-left: 1px solid;

        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__trailing {
        border-right: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }
    }

    &.mdc-text-field--disabled {
      background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.9);
      border: none;

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border: none;
      }
    }
  }

  &:not(.error-border) {
    .mat-mdc-text-field-wrapper:not(:hover, .mdc-text-field--focused) {
      .mdc-notched-outline__leading {
        border-left: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__trailing {
        border-right: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }
    }
  }

  &.error-border {
    --mat-theme-error: #{map.get(vars.$app-custom-colors, "semantic-error-strong")};

    .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid) {
      .mdc-notched-outline__leading {
        border-left: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
      }

      .mdc-notched-outline__trailing {
        border-right: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
      }
    }
  }

  .mdc-text-field--disabled {
    /* stylelint-disable-next-line declaration-no-important */
    border: 0.0625rem solid map.get(vars.$app-custom-colors, "brand-surface") !important;
  }

  &.mat-form-field-disabled {
    background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.9);

    .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid, .mdc-text-field--focused, :hover) {
      .mdc-notched-outline__leading {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }

      .mdc-notched-outline__trailing {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }
    }
  }
}

.form-input-search .mat-mdc-text-field-wrapper:hover,
.form-input-search .mat-mdc-text-field-wrapper:active,
.form-input-search .mat-mdc-text-field-wrapper:active:hover,
.form-input-search .mat-mdc-text-field-wrapper.mdc-text-field--focused {
  background-color: map.get(vars.$app-custom-colors, "neutral-white");
}

.form-input-search .mat-mdc-text-field-wrapper .mdc-notched-outline__leading:hover,
.form-input-search .mat-mdc-text-field-wrapper .mdc-notched-outline__trailing:hover,
.form-input-search .mat-mdc-text-field-wrapper .mdc-notched-outline__notch:hover {
  border-top: 0.0625rem solid;
  border-bottom: 0.0625rem solid;
  /* stylelint-disable-next-line declaration-no-important */
  border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-black"), $alpha: -0.7) !important;
}

.form-input-search .mat-mdc-text-field-wrapper .mat-mdc-input-element:hover {
  color: map.get(vars.$app-custom-colors, "neutral-black");
}

.form-input-search.footer-input-search {
  &.footer-input-search {
    height: 2.5rem;

    .mat-mdc-text-field-wrapper {
      height: 2.5rem;
      background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-100"), $alpha: -0.88);

      .mat-mdc-form-field-flex {
        height: 2.5rem;
      }

      .mat-mdc-input-element {
        font-size: 0.8125rem;
        letter-spacing: -0.0094rem;
        line-height: 1.25rem;
        color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.45);

        &::placeholder {
          color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.45);
        }
      }
    }
  }
}

.mat-mdc-form-field .mat-mdc-select.mat-mdc-select-invalid .mat-mdc-select-arrow {
  color: color.adjust(map.get(vars.$app-custom-colors, "neutral-black"), $alpha: -0.46);
}

.mat-mdc-form-field {
  .mat-mdc-form-field-subscript-wrapper {
    .mat-mdc-form-field-error-wrapper {
      padding: 0;

      .mat-mdc-form-field-error {
        font-size: 0.75rem;
        padding-left: 1rem;
      }
    }
  }
}

.edit-limit-form-field {
  &.form-input-secondary.mat-form-field-disabled {
    background-color: transparent;
  }

  .mdc-text-field--disabled {
    border-radius: 0.375rem;
  }

  .mat-mdc-text-field-wrapper {
    padding-left: 0.375rem;
  }
}

.form-input-readonly {
  height: 1.3125rem;
  width: 100%;
  border-radius: 0.375rem;

  --mat-shape-small: 0.375rem;

  &.relative {
    position: relative;
  }

  &.view-mode {
    .mdc-notched-outline__leading {
      border: none;
    }

    .mdc-notched-outline__trailing {
      border: none;
    }
  }

  .mat-mdc-text-field-wrapper {
    height: 1.3125rem;
    padding: 0;
    background-color: white;
    border-radius: 1rem;

    .mat-mdc-form-field-flex {
      height: 1.3125rem;
    }

    .mat-mdc-form-field-infix {
      height: 1.3125rem;
      min-height: 1.3125rem;
      padding: 0;
      justify-content: center;
      display: flex;

      input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-text-fill-color: map.get(vars.$app-custom-colors, "brand-ink");
        }
      }
    }

    .mat-mdc-input-element {
      height: 1.3125rem;
      font-size: 0.875rem;
      color: map.get(vars.$app-custom-colors, "brand-ink");
      padding-top: 0;

      &::placeholder {
        color: map.get(vars.$app-custom-colors, "brand-ink-30");
      }
    }

    &:hover,
    &.mdc-text-field--focused {
      // background-color: map.get(vars.$app-custom-colors, "neutral-30");

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__leading {
        border-left: 1px solid;

        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__trailing {
        border-right: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }
    }

    &.mdc-text-field--disabled {
      background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.9);
      border: none;

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border: none;
      }

      border-radius: 0.375rem;
    }
  }

  &:not(.error-border) {
    .mat-mdc-text-field-wrapper:not(:hover, .mdc-text-field--focused) {
      .mdc-notched-outline__leading {
        border-left: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__trailing {
        border-right: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        border-top: 1px solid;
        border-bottom: 1px solid;
        /* stylelint-disable-next-line declaration-no-important */
        border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
      }
    }
  }

  // &.error-border {
  //   .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid, .mdc-text-field--focused, :hover) {
  //     .mdc-notched-outline__leading {
  //       border-left: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
  //     }

  //     .mdc-notched-outline__trailing {
  //       border-right: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
  //     }

  //     .mdc-notched-outline__leading,
  //     .mdc-notched-outline__notch,
  //     .mdc-notched-outline__trailing {
  //       border-top: 1px solid;
  //       border-bottom: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
  //     }

  //     .mdc-text-field--invalid {
  //       border: 1px solid red;
  //       .mdc-notched-outline__leading,
  //       .mdc-notched-outline__notch,
  //       .mdc-notched-outline__trailing {
  //         border-top: 1px solid;
  //         border-bottom: 1px solid;
  //         /* stylelint-disable-next-line declaration-no-important */
  //         border-color: color.adjust(map.get(vars.$app-custom-colors, "semantic-error"), $alpha: -0.5) !important;
  //       }
  //     }
  //   }
  // }

  .mdc-text-field--disabled {
    /* stylelint-disable-next-line declaration-no-important */
    border: 0.0625rem solid color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -1) !important;
  }

  &.mat-form-field-disabled {
    background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.9);

    .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid, .mdc-text-field--focused, :hover) {
      .mdc-notched-outline__leading {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }

      .mdc-notched-outline__trailing {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing {
        // stylelint-disable-next-line declaration-no-important
        border-color: transparent !important;
      }
    }
  }
}

.form-input-edit {
  flex: 1;

  // height: 2rem;
  font-size: 0.875rem;

  .mat-mdc-text-field-wrapper:has(.limit-input-width) {
    /* stylelint-disable-next-line declaration-no-important */
    width: max-content !important;
  }

  .mat-mdc-text-field-wrapper {
    height: 2rem;
    background-color: white;
    border-radius: 0.75rem;

    --mat-shape-small: 0.75rem;

    .mat-mdc-input-element {
      height: 2rem;
      font-size: 0.875rem;
    }

    .mat-mdc-form-field-infix {
      height: 2rem;
      min-height: 2rem;
      padding: 0.3rem 0 0.1rem;
    }

    .mat-mdc-form-field-flex {
      height: 2rem;
    }
  }

  &.large {
    .mat-mdc-text-field-wrapper {
      height: 3rem;
      background-color: white;
      border-radius: 0.75rem;

      --mat-shape-small: 0.75rem;

      .mat-mdc-input-element {
        // stylelint-disable-next-line declaration-no-important
        height: 2.5rem !important;
        font-size: 1.25rem;

        @include utils.media("lt-sm-2") {
          // stylelint-disable-next-line declaration-no-important
          height: 1.5rem !important;
          font-size: 0.875rem;
        }
      }

      .mat-mdc-form-field-infix {
        height: 3rem;
        min-height: 3rem;
        padding: 0.3rem 0 0.1rem;

        // @include utils.media("lt-sm-2") {}
      }

      .mat-mdc-form-field-flex {
        height: 3rem;

        @include utils.media("lt-sm-2") {
          height: 2rem;
        }
      }

      @include utils.media("lt-sm-2") {
        height: 2rem;
      }
    }
  }

  .mat-mdc-select {
    .mat-mdc-select-arrow-wrapper {
      z-index: 1;
      margin-right: -0.25rem;
    }

    .mat-mdc-select-arrow {
      color: unset;
    }

    .mat-mdc-select-value {
      color: map.get(vars.$app-custom-colors, "brand-surface");
      font-size: 0.875rem;
      padding-top: 0.125rem;
    }

    .mat-mdc-select-placeholder {
      color: unset;
    }
  }

  &.relative {
    position: relative;
  }

  &.mini {
    .mat-mdc-text-field-wrapper {
      height: 2rem;
    }
  }

  // &.large {
  //   .mat-mdc-text-field-wrapper {
  //     height: 3rem;
  //     border-radius: 1rem;
  //     font-size: 1.25rem;

  //     .mat-mdc-form-field-infix,
  //     .mat-mdc-input-element {
  //       height: 3rem;
  //       padding: 0.1rem;
  //     }
  //   }
  // }
}

.form-input-edit-smaller {
  flex: 1;
  height: 1.3125rem;
  font-size: 0.875rem;

  &.relative {
    position: relative;
  }

  .mat-mdc-text-field-wrapper {
    height: 2rem;
    background-color: white;
    border-radius: 0.75rem;

    --mat-shape-small: 0.75rem;

    .mat-mdc-input-element {
      height: 1.3125rem;
      font-size: 0.875rem;
    }

    .mat-mdc-form-field-infix {
      height: 1.3125rem;
      min-height: 1.3125rem;
      padding: 0.375rem 0;
    }

    .mat-mdc-form-field-flex {
      height: 1.3125rem;
    }
  }

  .mat-mdc-select {
    .mat-mdc-select-arrow-wrapper {
      z-index: 1;
      margin-right: -0.25rem;
    }

    .mat-mdc-select-arrow {
      color: unset;
    }

    .mat-mdc-select-value {
      color: map.get(vars.$app-custom-colors, "brand-surface");
      font-size: 0.875rem;
      padding-top: 0.125rem;
    }

    .mat-mdc-select-placeholder {
      color: unset;
    }
  }
}

.form-input-select {
  flex: 0;
  height: 2rem;
  font-size: 0.875rem;

  &.relative {
    position: relative;
  }

  .mat-mdc-text-field-wrapper:not(.mdc-text-field--focused) {
    height: 2rem;
    background-color: white;
    border-radius: 0.75rem;

    --mat-shape-small: 0.75rem;

    .mat-mdc-input-element {
      height: 2rem;
      font-size: 0.875rem;
    }

    .mat-mdc-form-field-infix {
      height: 2rem;
      min-height: 2rem;

      // padding: 0.1rem 0;
      padding: 0;
      width: 100%;

      .mat-datepicker-input {
        height: 2rem;
      }

      .mat-mdc-select,
      .mat-mdc-select-value {
        height: 2rem;
        align-content: center;
      }
    }

    .mat-mdc-form-field-flex {
      height: 2rem;

      // .mdc-notched-outline__leading:not(.mat-focused),
      // .mdc-notched-outline__notch:not(.mat-focused),
      // .mdc-notched-outline__trailing:not(.mat-focused) {
      //   border-color: map.get(vars.$app-custom-colors, "neutral-90");
      // }
    }
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--focused {
    height: 2rem;
    background-color: white;
    border-radius: 0.75rem;

    --mat-shape-small: 0.75rem;

    .mat-mdc-input-element {
      height: 1rem;
      font-size: 0.875rem;
    }

    .mat-mdc-form-field-infix {
      height: 2rem;
      min-height: 2rem;
      padding: 0.1875rem 0;
      width: 100%;
    }

    .mat-mdc-form-field-flex {
      height: 2rem;
    }
  }

  .mat-mdc-select {
    .mat-mdc-select-arrow-wrapper {
      z-index: 1;
      margin-right: -0.25rem;
    }

    .mat-mdc-select-arrow {
      color: unset;
    }

    .mat-mdc-select-value {
      color: map.get(vars.$app-custom-colors, "brand-surface");
      font-size: 0.875rem;
      padding-top: 0.125rem;
    }

    .mat-mdc-select-placeholder {
      color: unset;
    }
  }

  &.error-border {
    .mdc-notched-outline__leading:not(.mat-focused),
    .mdc-notched-outline__notch:not(.mat-focused),
    .mdc-notched-outline__trailing:not(.mat-focused) {
      border-color: map.get(vars.$app-custom-colors, "semantic-error");
    }
  }

  // &.error-border {
  //   --mat-theme-error: #e72369;

  //   .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid) {
  //     .mdc-notched-outline__leading {
  //       border-left: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
  //     }

  //     .mdc-notched-outline__trailing {
  //       border-right: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
  //     }

  //     .mdc-notched-outline__leading,
  //     .mdc-notched-outline__notch,
  //     .mdc-notched-outline__trailing {
  //       border-top: 1px solid;
  //       border-bottom: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
  //     }
  //   }
  // }
}

.form-input-select-secondary {
  flex: 0;
  height: 2.5rem;
  font-size: 1rem;

  &.relative {
    position: relative;
  }

  .mat-mdc-text-field-wrapper:not(.mdc-text-field--focused) {
    height: 2.5rem;
    background-color: map.get(vars.$app-custom-colors, "neutral-300");
    border-radius: 1rem;

    --mat-shape-small: 1rem;

    .mat-mdc-input-element {
      height: 2.5rem;
      font-size: 1rem;
    }

    .mat-mdc-form-field-infix {
      height: 2.5rem;
      min-height: 2.5rem;

      // padding: 0.1rem 0;
      padding: 0;
      width: 100%;

      .mat-datepicker-input {
        height: 2.5rem;
      }

      .mat-mdc-select,
      .mat-mdc-select-value {
        height: 2.5rem;
        align-content: center;
      }
    }

    .mat-mdc-form-field-flex {
      height: 2.5rem;

      // .mdc-notched-outline__leading:not(.mat-focused),
      // .mdc-notched-outline__notch:not(.mat-focused),
      // .mdc-notched-outline__trailing:not(.mat-focused) {
      //   border-color: map.get(vars.$app-custom-colors, "neutral-90");
      // }
    }
  }

  .mat-mdc-text-field-wrapper.mdc-text-field--focused {
    height: 2rem;
    background-color: white;
    border-radius: 1rem;

    --mat-shape-small: 1rem;

    .mat-mdc-input-element {
      height: 1rem;
      font-size: 1rem;
    }

    .mat-mdc-form-field-infix {
      height: 2.5rem;
      min-height: 2.5rem;
      padding: 0.1875rem 0;
      width: 100%;
    }

    .mat-mdc-form-field-flex {
      height: 2rem;
    }
  }

  .mat-mdc-select {
    .mat-mdc-select-arrow-wrapper {
      z-index: 1;
      margin-right: -0.25rem;
    }

    .mat-mdc-select-arrow {
      color: unset;
    }

    .mat-mdc-select-value {
      color: map.get(vars.$app-custom-colors, "brand-surface");
      font-size: 1rem;
      padding-top: 0.125rem;
    }

    .mat-mdc-select-placeholder {
      color: map.get(vars.$app-custom-colors, "neutral-90");
    }
  }

  &.error-border {
    .mdc-notched-outline__leading:not(.mat-focused),
    .mdc-notched-outline__notch:not(.mat-focused),
    .mdc-notched-outline__trailing:not(.mat-focused) {
      border-color: map.get(vars.$app-custom-colors, "semantic-error");
    }
  }

  // &.error-border {
  //   --mat-theme-error: #e72369;

  //   .mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid) {
  //     .mdc-notched-outline__leading {
  //       border-left: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
  //     }

  //     .mdc-notched-outline__trailing {
  //       border-right: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-white"), $alpha: -0.5) !important;
  //     }

  //     .mdc-notched-outline__leading,
  //     .mdc-notched-outline__notch,
  //     .mdc-notched-outline__trailing {
  //       border-top: 1px solid;
  //       border-bottom: 1px solid;
  //       /* stylelint-disable-next-line declaration-no-important */
  //       border-color: map.get(vars.$app-custom-colors, "brand-surface") !important;
  //     }
  //   }
  // }
}

/* In your component's CSS or global styles */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: none;
}

// *****************************************************************************
// #endregion Form Input Secondary
// *****************************************************************************

// *****************************************************************************
// #region Mat Checkbox
// *****************************************************************************

.mat-mdc-checkbox {
  &.mat-mdc-checkbox.mat-primary {
    // --mat-checkbox-selected-checkmark-color: #{map.get(vars.$app-custom-colors, "neutral-white")};
    // --mat-checkbox-selected-focus-icon-color: #{map.get(vars.$app-custom-colors, "neutral-white")};
    --mat-checkbox-selected-hover-icon-color: #{map.get(vars.$app-custom-colors, "brand-accent")};
    --mat-checkbox-selected-icon-color: #{map.get(vars.$app-custom-colors, "brand-accent")};
    --mat-checkbox-selected-pressed-icon-color: #{map.get(vars.$app-custom-colors, "brand-accent")};
    --mat-checkbox-unselected-focus-icon-color: #{map.get(vars.$app-custom-colors, "brand-surface")};
    --mat-checkbox-unselected-hover-icon-color: #{map.get(vars.$app-custom-colors, "brand-surface")};
    --mat-checkbox-unselected-icon-color: #{map.get(vars.$app-custom-colors, "brand-surface")};
    --mat-checkbox-unselected-pressed-icon-color: #{map.get(vars.$app-custom-colors, "brand-surface")};
    --mat-checkbox-state-layer-size: 1.25rem;
  }
}

.mdc-form-field {
  .mdc-checkbox {
    .mdc-checkbox__background {
      border-radius: 0.25rem;
    }
  }

  & > label {
    /* stylelint-disable-next-line declaration-no-important */
    padding-left: 0.75rem !important;
  }
}

// .mat-mdc-checkbox {
//   .mdc-form-field {
//     width: 100%;
//   }
// }

// .mat-mdc-checkbox {
//   .mdc-form-field {
//     .mdc-checkbox {
//       transform: scale(0.75);
//       padding: 0;
//       padding-top: 0.125rem;

//       .mdc-checkbox__ripple {
//         width: 1rem;
//         height: 1rem;
//       }

//       .mat-ripple {
//         .mat-mdc-checkbox-ripple {
//           .mat-mdc-focus-indicator {
//             width: 1rem;
//             height: 1rem;
//           }
//         }
//       }

//       .mdc-checkbox__native-control {
//         height: 1rem;
//         width: 1rem;
//       }

//       .mat-mdc-checkbox-touch-target {
//         height: 1.125rem;
//         width: 1.125rem;
//       }

//       .mdc-checkbox__background {
//         top: unset;
//         left: unset;
//       }
//     }

//     label {
//       padding-left: 0.625rem;
//     }
//   }

//   &.ng-invalid {
//     .mdc-form-field {
//       .mdc-checkbox__background {
//         /* stylelint-disable-next-line declaration-no-important */
//         border-color: map.get(vars.$app-custom-colors, "red-100") !important;
//       }
//     }
//   }
// }

// /* stylelint-disable-next-line max-line-length */
// .mat-mdc-checkbox
//   .mdc-form-field
//   .mdc-checkbox
//   .mdc-checkbox__native-control:enabled
//   ~ .mdc-checkbox__background
//   .mdc-checkbox__checkmark {
//   color: map.get(vars.$app-custom-colors, "neutral-white");
// }

// /* custom checkbox */
// .custom-checkbox.mat-mdc-checkbox.mat-primary {
//   --mat-checkbox-selected-checkmark-color: #{map.get(vars.$app-custom-colors, "neutral-white")};
//   --mat-checkbox-selected-focus-icon-color: #{map.get(vars.$app-custom-colors, "primary-35")};
//   --mat-checkbox-selected-hover-icon-color: #{map.get(vars.$app-custom-colors, "primary-35")};
//   --mat-checkbox-selected-icon-color: #{map.get(vars.$app-custom-colors, "primary-35")};
//   --mat-checkbox-selected-pressed-icon-color: #{map.get(vars.$app-custom-colors, "primary-35")};
//   --mat-checkbox-unselected-focus-icon-color: #{map.get(vars.$app-custom-colors, "neutral-35")};
//   --mat-checkbox-unselected-hover-icon-color: #{map.get(vars.$app-custom-colors, "neutral-35")};
//   --mat-checkbox-disabled-selected-icon-color: #{map.get(vars.$app-custom-colors, "neutral-35")};
//   --mat-checkbox-disabled-unselected-icon-color: #{map.get(vars.$app-custom-colors, "neutral-35")};
//   --mat-checkbox-unselected-icon-color: #{map.get(vars.$app-custom-colors, "neutral-35")};
//   --mat-checkbox-unselected-pressed-icon-color: #{map.get(vars.$app-custom-colors, "primary-35")};
// }

// .mdc-form-field {
//   .mdc-checkbox {
//     input[type="checkbox"] {
//       &.mdc-checkbox__native-control {
//         width: 100%;
//         height: 100%;
//       }
//     }

//     .mat-mdc-checkbox-touch-target {
//       background-color: #{map.get(vars.$app-custom-colors, "neutral-35")};
//       border-radius: 0.125rem;
//     }

//     .mdc-checkbox__ripple {
//       display: none;
//     }

//     .mdc-checkbox__background {
//       border: none;
//     }
//   }
// }

// .mdc-form-field-alignment-normal {
//   padding-top: 0.5rem;

//   .mdc-form-field {
//     align-items: normal;
//   }
// }

// *****************************************************************************
// #endregion Mat Checkbox
// *****************************************************************************

// *****************************************************************************
// #region Filter Form Field
// *****************************************************************************
.filter-form-field {
  border-radius: 0.375rem;

  .mat-mdc-form-field-error {
    white-space: nowrap;
    padding: 0;
    padding-left: 1.2rem;
  }

  .mdc-text-field {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading {
    border-left: 1px solid;
    /* stylelint-disable-next-line declaration-no-important */
    border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-100"), $alpha: -0.7) !important;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-right: 1px solid;
    /* stylelint-disable-next-line declaration-no-important */
    border-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-100"), $alpha: -0.7) !important;
  }

  .mat-datepicker-toggle .mat-icon {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: map.get(vars.$app-custom-colors, "neutral-100");
  }
}

// *****************************************************************************
// #endregion Filter Form Field
// *****************************************************************************

// *****************************************************************************
// #region Mat Selection List -> .custom-list-option
// *****************************************************************************

.custom-list-option {
  &[aria-selected="true"] {
    &.mdc-list-item {
      &:active .mdc-list-item__primary-text,
      &:visited .mdc-list-item__primary-text,
      &:focus .mdc-list-item__primary-text,
      &:hover .mdc-list-item__primary-text {
        color: map.get(vars.$app-custom-colors, "semantic-error");
      }

      .mdc-list-item__primary-text {
        color: map.get(vars.$app-custom-colors, "semantic-error");
      }
    }
  }

  &.mdc-list-item {
    &.mdc-list-item--with-one-line {
      height: 2.25rem;
    }

    .mdc-list-item__start,
    .mdc-list-item__end {
      --mat-checkbox-selected-checkmark-color: #{map.get(vars.$app-custom-colors, "semantic-error")};
      --mat-checkbox-selected-focus-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
      --mat-checkbox-selected-hover-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
      --mat-checkbox-selected-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
      --mat-checkbox-selected-pressed-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
      --mat-checkbox-unselected-hover-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
      --mat-checkbox-disabled-selected-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
      --mat-checkbox-disabled-unselected-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
      --mat-checkbox-unselected-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
      --mat-checkbox-unselected-pressed-icon-color: #{map.get(vars.$app-custom-colors, "brand-background")};
    }

    &:active .mdc-list-item__primary-text,
    &:visited .mdc-list-item__primary-text,
    &:hover .mdc-list-item__primary-text {
      color: map.get(vars.$app-custom-colors, "semantic-error");
    }

    &:focus .mdc-list-item__primary-text {
      color: map.get(vars.$app-custom-colors, "neutral-white");
    }
  }

  .mdc-list-item__primary-text {
    font-family: "Sailec Regular", sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    text-overflow: unset;
    white-space: initial;
    color: map.get(vars.$app-custom-colors, "neutral-white");
  }
}

.mdc-list {
  .custom-list-option {
    .mdc-checkbox {
      .mdc-checkbox__native-control {
        &:enabled {
          &:not(:checked) {
            &:not(:indeterminate) {
              &:not([data-indeterminate="true"]) ~ .mdc-checkbox__background {
                border: none;
                background-color: #{map.get(vars.$app-custom-colors, "brand-background")};
              }
            }
          }
        }
      }
    }
  }
}

// *****************************************************************************
// #endregion Mat Selection List -> .custom-list-option
// *****************************************************************************

// *****************************************************************************
// #region Mat label
// *****************************************************************************

.form-outline-label {
  color: map.get(vars.$app-custom-colors, "neutral-white");
  font-size: 0.75rem;
}

// *****************************************************************************
// #endregion Mat label
// *****************************************************************************
