/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-max-specificity */

@use "sass:map" as map;
@use "src/theme/theme-variables" as vars;
@use "src/theme/utils.scss" as utils;
@use "sass:color" as color;

// *****************************************************************************
// #region Base material design overrides
// *****************************************************************************

// General mat button settings
.mdc-button.mat-mdc-button-base {
  font-family: var(--font-sans);
  font-size: 0.6875rem;
  letter-spacing: 0.0563rem;
  line-height: 1.25rem;
  border-radius: 0.63rem;
  padding: 0 0.5rem;
  min-width: 0;

  &.button-larger-text {
    font-size: 0.8125rem;
    letter-spacing: 0.0125rem;
    line-height: 1.25rem;
  }

  &.button-text-xx-large {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: 0.048rem;
    height: 4.25rem;
    border-radius: 1rem;

    &.label-dark {
      color: map.get(vars.$app-custom-colors, "betaki-black100");
    }

    @include utils.media("lt-sm-2") {
      font-size: 0.875rem;
      font-style: normal;
      line-height: normal;
      height: 3rem;
      border-radius: 0.625rem;
    }
  }

  &.button-text-x-large {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    letter-spacing: 0.048rem;
    height: 3rem;
    border-radius: 1rem;

    &.label-dark {
      color: map.get(vars.$app-custom-colors, "betaki-black100");
    }

    @include utils.media("lt-sm-2") {
      font-size: 0.875rem;
      font-style: normal;
      line-height: normal;
      height: 2rem;
      border-radius: 0.625rem;
    }
  }

  &.button-text-large {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem;
    letter-spacing: 0.048rem;

    &.label-dark {
      color: map.get(vars.$app-custom-colors, "betaki-black100");
    }
  }

  &.button-text-medium {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 112.5% */
    letter-spacing: 0.048rem;

    &.label-dark {
      color: map.get(vars.$app-custom-colors, "betaki-black100");
    }

    @include utils.media("lt-sm-2") {
      font-size: 0.875rem;
      font-style: normal;
      line-height: normal;
      height: 2rem;
      border-radius: 0.5rem;
    }
  }

  &.button-text-small {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 128.571% */
    letter-spacing: 0.048rem;

    &.label-dark {
      color: map.get(vars.$app-custom-colors, "betaki-black100");
    }
  }

  &.button-text-x-small {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.125rem; /* 180% */
    letter-spacing: 0.048rem;

    &.label-dark {
      color: map.get(vars.$app-custom-colors, "betaki-black100");
    }
  }

  &.button-sidenav-link {
    font-size: 0.9375rem;
    font-weight: 500;
  }

  &.full-width {
    width: 100%;
  }

  &.rounded-mobile {
    @include utils.media("lt-sm-2") {
      border-radius: 0.75rem;
    }
  }
}

// Basic mat button without color theme set
// <button mat-button>Basic</button>
.mat-mdc-button {
  &.mat-unthemed {
    background-color: map.get(vars.$app-custom-colors, "betaki-green100");
    border: 1px solid map.get(vars.$app-custom-colors, "betaki-green100");

    // background-color: map.get(vars.$app-custom-colors, Betaki_success);

    &:not(:disabled) {
      color: map.get(vars.$app-custom-colors, "betaki-black30");

      // color: map.get(vars.$app-custom-colors, primary-200);
    }

    &:hover {
      background-color: map.get(vars.$app-custom-colors, "betaki-green50");
      border: 1px solid map.get(vars.$app-custom-colors, "betaki-green100");
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &.secondary {
    background-color: map.get(vars.$app-custom-colors, Betaki_success10);
    border: 1px solid map.get(vars.$app-custom-colors, "betaki-green100");

    &:not(:disabled) {
      color: map.get(vars.$app-custom-colors, "betaki-black30");

      // color: map.get(vars.$app-custom-colors, Betaki_black);
    }

    &:hover {
      background-color: map.get(vars.$app-custom-colors, "betaki-green50");
      border: 1px solid map.get(vars.$app-custom-colors, "betaki-green100");

      // background-color: color.adjust(map.get(vars.$app-custom-colors, Betaki_success), $lightness: 10%);
    }
  }
}

// Otlined button (stroked) without color theme set
// <button mat-stroked-button>Basic</button>
.mdc-button.mdc-button--outlined.mat-mdc-outlined-button {
  &.mat-unthemed {
    color: map.get(vars.$app-custom-colors, Betaki_olivia); // map.get(vars.$app-custom-colors, "Betaki_error");

    .mdc-button__ripple {
      border: 0.0625rem solid;
      border-color: map.get(
        vars.$app-custom-colors,
        Betaki_success
      ); // map.get(vars.$app-custom-colors, "Betaki_error");

      transition:
        background-color 0.3s ease,
        border-color 0.3s ease,
        color 0.3s ease;
    }

    &.secondary {
      .mdc-button__ripple {
        border: 0.0625rem solid;
        border-color: map.get(
          vars.$app-custom-colors,
          neutral-white
        ); // map.get(vars.$app-custom-colors, "Betaki_error");

        transition:
          background-color 0.3s ease,
          border-color 0.3s ease,
          color 0.3s ease;
      }
    }

    &:hover {
      .mdc-button__ripple {
        background-color: map.get(
          vars.$app-custom-colors,
          Betaki_success
        ); // map.get(vars.$app-custom-colors, "Betaki_error");
      }

      .mdc-button__label {
        color: map.get(vars.$app-custom-colors, Betaki_olivia); // map.get(vars.$app-custom-colors, "neutral-10");
      }
    }

    &:disabled {
      .mdc-button__label {
        opacity: 0.38;
      }

      .mdc-button__ripple {
        border-color: color.adjust(map.get(vars.$app-custom-colors, Betaki_success), $alpha: -0.75);
      }
    }
  }
}

// *****************************************************************************
// #endregion
// *****************************************************************************

// *****************************************************************************
// #region Custom designs
// *****************************************************************************

// Basic nav link button without color theme set
// <button class="nav-link-button" mat-button routerLinkActive="active-button" </button>
.nav-link-button {
  &.mat-mdc-button {
    &.mat-unthemed {
      --mat-button-text-label-text-color: map.get(vars.$app-custom-colors, "neutral-white");

      background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-10"), $alpha: -0.7);
      color: white;
      transition: color 0.3s ease;

      &:hover {
        color: map.get(vars.$app-custom-colors, "Betaki_error");
      }

      &.active-button {
        background-color: color.adjust(map.get(vars.$app-custom-colors, "neutral-10"), $alpha: -0.5);
        color: map.get(vars.$app-custom-colors, "Betaki_error");
      }

      &:disabled {
        .mdc-button__label {
          opacity: 0.38;
        }
      }
    }

    &:not(:disabled) {
      --mat-button-text-label-text-color: map.get(vars.$app-custom-colors, "neutral-white");
    }
  }
}

.mat-mdc-button.mat-mdc-button-base {
  min-height: 30px;

  &.mat-unthemed {
    /* stylelint-disable-next-line declaration-no-important */
    --mat-button-text-label-text-color: map.get(vars.$app-custom-colors, "neutral-white") !important;

    color: map.get(vars.$app-custom-colors, "neutral-white");
  }
}

.button-lg.mat-mdc-button.mat-mdc-button-base,
.button-lg.mdc-button.mdc-button--outlined.mat-mdc-outlined-button {
  min-height: 40px;
}

.mat-mdc-button:not(:disabled) {
  --mat-button-text-label-text-color: map.get(vars.$app-custom-colors, "neutral-white");
}

.mat-mdc-outlined-button[disabled][disabled] {
  --mat-button-outlined-outline-color: color.adjust(map.get(vars.$app-custom-colors, "Betaki_error"), $alpha: -0.75);
}

app-payments-table {
  .button-container {
    @include utils.media("gt-sm-1") {
      .mdc-button:hover {
        background-color: color.adjust(map.get(vars.$app-custom-colors, "Betaki_error"), $lightness: 10%);
      }
    }
  }
}

// *****************************************************************************
// #endregion
// *****************************************************************************
