@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

.main-container {
  width: 100%;
  min-height: 100vh;
  background-color: map.get(theme-variables.$app-custom-colors, "Betaki_grey_10");
  padding: 4rem;
  gap: 4rem;
  color: map.get(theme-variables.$app-custom-colors, "Betaki_black");
  text-align: center;
  justify-content: start;
  @include utils.media("lt-sm-2") {
    padding: 2rem;
    gap: 2rem;
  }
}

.title {
  color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 1rem;
  }
}

.description {
  font-size: 1.5rem;
  max-width: 30rem;
  line-height: 100%;
  letter-spacing: 0.0044rem;
  text-align: center;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 1rem;
  }
}

.confirm-button {
  width: 100%;
  max-width: 30rem;

  @include utils.media("lt-sm-2") {
    max-height: 2rem;
    max-width: 10rem;
  }
}

.form-container {
  max-width: 40rem;
  width: 100%;
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  padding: 2rem 5rem;
  border-radius: 1rem;
  gap: 2rem;

  @include utils.media("lt-sm-2") {
    padding: 2rem 1rem;
    gap: 1rem;
  }

  mat-label {
    padding-bottom: 0.25rem;

    @include utils.media("lt-sm-2") {
      font-size: 0.75rem;
    }
  }

  .form {
    width: 100%;
  }

  .login-button {
    span {
      color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
    }
  }
}

.live-chat-button {
  width: 10.5rem;
  height: 4.5rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1rem;
  margin-top: 2rem;

  mat-icon {
    width: 2.29rem;
    height: 2.29rem;
    flex-shrink: 0;
  }

  @include utils.media("lt-sm-2") {
    height: 3rem;
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.05;

    mat-icon {
      font-size: 1.8rem;
      height: 1.8rem;
    }
  }
}

.age-icon {
  max-height: 4.125rem;
  max-width: 4.125rem;

  @include utils.media("lt-sm-2") {
    max-height: 3rem;
    max-width: 3rem;
  }
}

.responsible-gaming-text {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.1rem;
  letter-spacing: 0.016rem;

  @include utils.media("lt-sm-2") {
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
    text-align: center;
    vertical-align: middle;
  }
}

.iframe-container {
  max-width: 460px;
  width: 100%;
  height: 513px;
  align-self: center;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.success-img {
  height: 5.25rem;
  width: 5.25rem;

  @include utils.media("lt-sm-2") {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.success-title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3844rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: map.get(theme-variables.$app-custom-colors, "betaki-green100");

  @include utils.media("lt-sm-2") {
    font-size: 1.125rem;
    line-height: 1.1575rem;
  }
}

.success-subtitle {
  max-width: 25.75rem;
  font-size: 1.5rem;
  line-height: 1.8025rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}

.success-message {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.2656rem;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
    line-height: 0.6144rem;
  }
}

.showHidePasswordButton {
  color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
  transition: color 0.3s ease;

  &:hover {
    color: color.adjust(map.get(theme-variables.$app-custom-colors, "Betaki_olivia"), $alpha: -0.4);
  }
}

.mat-mdc-form-field-icon-suffix {
  padding: 16px 0 0 4px;
}

.field-wrapper-edit {
  mat-form-field {
    width: 100%;
  }
}

.policy-container {
  max-width: 30rem;
  width: 100%;
}

.success-text-container {
  gap: 2rem;

  @include utils.media("lt-sm-2") {
    margin-top: -2rem;
    align-items: center;
  }
}

.full-width {
  width: 100%;
}

.hide-desktop {
  @include utils.media("gt-sm-1") {
    display: none;
  }
}

.hide-mobile {
  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
}

.policy-footer {
  @include utils.media("lt-sm-2") {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 3rem;
    margin-top: -1rem;
  }
}
