@use "sass:map";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

.bonuses-container {
  display: flex;
  flex-flow: column;
  gap: 2.25rem;
  width: 100%;
  padding: 3rem 0;

  @include utils.media("lt-sm-2") {
    gap: 1.5rem;
  }
}

.bonuses-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: stretch;

  @include utils.media("lt-sm-2") {
    gap: 1.5rem;
  }
}

.bonuses-wrapper > .bonus-item {
  flex: 0 1 calc(50% - 1rem);
  box-sizing: border-box;

  @media screen and (max-width: 64rem) {
    flex: unset;
    width: 100%;
  }
}
