@use "sass:map" as map;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

.bonuses-container {
  display: flex;
  flex-flow: column;
  gap: 2.25rem;
  width: 100%;
  padding: 3rem 0;

  @include utils.media("lt-sm-2") {
    gap: 1.5rem;
  }
}

.bonuses-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  @include utils.media("lt-sm-2") {
    gap: 1.5rem;
  }
}

.bonuses-wrapper > div {
  flex: 0 1 calc(50% - 1rem);
  box-sizing: border-box;

  @include utils.media("lt-sm-2") {
    flex: 1;
  }
}
