@use "sass:map" as map;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

.bonuses-container {
  display: flex;
  flex-flow: column;
  gap: 2.25rem;
  width: 100%;
  padding: 3rem 0;

  @include utils.media("lt-sm-2") {
    gap: 1.5rem;
  }
}

.bonuses-wrapper {
  display: grid;
  gap: 2rem;
  align-items: stretch;

  @include utils.media("gt-sm-1") {
    grid-template-columns: repeat(2, 1fr);
  }

  @include utils.media("lt-sm-2") {
    gap: 1.5rem;
  }


}
