@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

.main-container {
  width: 100%;
  min-height: 100vh;
  background-color: map.get(theme-variables.$app-custom-colors, "Betaki_grey30");
  padding: 4rem;
  gap: 3rem;
  color: map.get(theme-variables.$app-custom-colors, "Betaki_black");
  text-align: center;
  justify-content: start;

  @include utils.media("lt-sm-2") {
    padding: 2rem;
    gap: 2rem;
  }
}

.title {
  color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 1rem;
  }
}

.description {
  font-size: 1.5rem;
  max-width: 45.875rem;
  line-height: 100%;
  letter-spacing: 0.0044rem;
  text-align: center;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 1rem;
  }
}

.form-container {
  max-width: 45.875rem;
  width: 100%;
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  padding: 2rem 3rem 0;
  border-radius: 1rem;

  mat-label {
    text-align: start;
    padding-bottom: 0.25rem;

    @include utils.media("lt-sm-2") {
      font-size: 0.75rem;
    }
  }

  @include utils.media("lt-sm-2") {
    padding: 1rem;
    gap: 2rem;
  }
}

.policy-container {
  max-width: 20rem;
  width: 100%;
  text-align: start;

  @include utils.media("lt-sm-2") {
    flex-direction: column;
    text-align: center;
  }
}

.bottom-container {
  max-width: 45.875rem;
  width: 100%;
  justify-content: space-between;

  @include utils.media("lt-sm-2") {
    justify-content: center;
  }
}

.live-chat-button {
  width: 10.5rem;
  height: 4.5rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1rem;

  mat-icon {
    width: 2.29rem;
    height: 2.29rem;
    flex-shrink: 0;
  }

  @include utils.media("lt-sm-2") {
    height: 3rem;
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.05;
    margin-bottom: 2rem;

    mat-icon {
      font-size: 1.8rem;
      height: 1.8rem;
    }
  }
}

.age-icon {
  max-height: 4.125rem;
  max-width: 4.125rem;

  @include utils.media("lt-sm-2") {
    max-height: 3rem;
    max-width: 3rem;
  }
}

.responsible-gaming-text {
  font-size: 0.75rem;
  font-style: normal;
  line-height: 1.1rem;
  letter-spacing: 0.016rem;
}

.iframe-container {
  max-width: 460px;
  width: 100%;
  height: 513px;
  align-self: center;

  @include utils.media("lt-xs-2") {
    height: 43.75rem;
  }

  @include utils.media("lt-xs-1") {
    height: 50.25rem;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.confirm-button {
  width: 100%;
  max-width: 30rem;

  @include utils.media("lt-sm-2") {
    max-width: 10rem;
    max-height: 2rem;
    font-size: 0.75rem;
  }
}

.hide-mobile {
  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.full-width {
  width: 100%;
}

.hide-desktop {
  @include utils.media("gt-sm-1") {
    display: none;
  }
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
}

.register-container {
  font-size: 0.75rem;

  button {
    max-height: 1.5rem;
  }
}
