<div class="main-container flex-col items-center">
  <app-page-breadcrumbs
    [showTopBar]="false"
    [breadcrumbs]="breadcrumbs"
    class="form-tab-title items-center justify-center gap-16 mobile-only"
  ></app-page-breadcrumbs>

  <span class="title hide-mobile" translate>{{ title }}</span>

  <span class="description hide-mobile" translate>{{ descriptionMessage }}</span>
  <form [formGroup]="registerForm" class="flex-col form-container gap-42" *ngIf="resetPasswordStep === 1">
    <div class="description">{{ descriptionMessage }}</div>
    <div class="flex-col">
      <mat-label translate>Provide your CPF number</mat-label>
      <mat-form-field class="form-input-primary error-border no-border large-desktop" subscriptSizing="dynamic">
        <input
          matInput
          [placeholder]="'Enter your CPF' | translate"
          formControlName="cpf"
          autocomplete="off"
          appTrimInput
        />
        <mat-error
          *ngIf="registerForm.controls.cpf?.hasError('required') && registerForm?.controls?.cpf?.touched"
          class="error-msg"
          translate
        >
          {{ 'Required' | translate }}</mat-error
        >
        <mat-error
          *ngIf="
            registerForm.controls.cpf?.hasError('cpfInvalid') &&
            registerForm?.controls?.cpf?.dirty &&
            !registerForm.controls.cpf?.hasError('required')
          "
          class="error-msg"
          translate
        >
          {{ 'CPF number is invalid' | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="flex-col">
      <mat-error class="error-msg" *ngIf="errorMessage" style="text-align: center">
        {{ errorMessage | translate }}
      </mat-error>
    </div>
  </form>

  <button
    [disabled]="registerForm.invalid"
    mat-button
    type="submit"
    class="confirm-button button-text-xx-large label-dark flex-row flex-grow rounded-mobile"
    (click)="resetPassword()"
    *ngIf="resetPasswordStep === 1"
  >
    {{ 'Send' | translate }}
    <app-loader class="loader" [isLoading]="isLoading" [size]="0.5"></app-loader>
  </button>

  <div class="register-container hide-desktop flex-row gap-8 items-center" *ngIf="resetPasswordStep === 1">
    <span translate>Don't have an account yet?</span>
    <button mat-stroked-button class="button-text-x-small label-dark rounded-mobile" routerLink="/register">
      {{ 'Create an account' | translate }}
    </button>
  </div>

  <!-- <div class="flex-col form-container" *ngIf="resetPasswordStep === 2">
    <h1>{{ 'Reset your password' | translate }}</h1>
    <div class="description mb-16">
      <span>{{ 'Please follow the instructions to securely complete facial verification.' | translate }}</span>
    </div>

    <div class="iframe-container flex items-center justify-center">
      <iframe
        *ngIf="safeUrl && !isLoading"
        [src]="safeUrl"
        frameborder="0"
        allow="geolocation;camera;fullscreen;accelerometer;gyroscope;magnetometer;"
      ></iframe>

      <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
  </div> -->

  <div class="flex-row flex-wrap items-center bottom-container">
    <button class="live-chat-button" (click)="onChatClick()" mat-button>
      <div class="flex-row items-center gap-10">
        <span translate> Do you need help? </span>
        <mat-icon svgIcon="help-chat-icon"></mat-icon>
      </div>
    </button>
    <div class="flex-row gap-8 items-center policy-container">
      <img class="age-icon" src="assets/general/icons/18-plus.svg" />

      <span translate class="responsible-gaming-text">
        <b>Jogue com Responsabilidade</b><br />
        O jogo deve ser uma forma de entretenimento saudável. Pratique sempre o jogo consciente e fique atento aos
        sinais de comportamento compulsivo.
      </span>
    </div>
  </div>
</div>
