@use "sass:map";
@use "sass:color";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

.main-container {
  width: 100%;
  min-height: 100vh;
  background-color: map.get($app-custom-colors, "Betaki_grey30");
  display: flex;
  align-items: flex-start;
  padding: 4rem;
  flex-direction: row;
  gap: 4rem;
  color: #090b01;
  text-align: center;
  justify-content: center;
  @include utils.media("lt-sm-2") {
    padding: 2rem;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;
  }
}

.login-container {
  height: 100%;
  max-width: 640px;
  gap: 4rem;
  width: 100%;

  @include utils.media("lt-sm-2") {
    gap: 2rem;
  }
}

.title {
  font-size: 1.75rem;
  color: map.get($app-custom-colors, "Betaki_olivia");
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;

  @include utils.media("lt-sm-2") {
    font-size: 1rem;
    line-height: 2.0013rem;
    margin-bottom: 1rem;
  }
}

.login-form-container {
  max-width: 40rem;
  width: 100%;
  background-color: map.get($app-custom-colors, "neutral-white");
  padding: 3rem;
  border-radius: 1rem;

  @include utils.media("lt-sm-2") {
    padding: 2rem 1rem;
  }

  .forgot-password {
    width: fit-content;
    align-self: flex-end;
    text-decoration: underline;
    padding-bottom: 0.5rem;
    color: map.get($app-custom-colors, "Betaki_olivia");

    @include utils.media("lt-sm-2") {
      font-size: 0.8rem;
      line-height: 1.5rem;
      letter-spacing: 0.15px;
    }
  }

  .form {
    gap: 2.5rem;
    width: 100%;

    @include utils.media("lt-sm-2") {
      gap: 1rem;
    }
  }
}

.link {
  cursor: pointer;
}

.login-button {
  max-width: 17.5rem;
  min-height: 4rem;
  width: 100%;

  @include utils.media("lt-sm-2") {
    max-width: 10rem;
    height: 2rem;
    min-height: unset;
    margin-bottom: 0;
  }
}

.register-container {
  display: flex;
  gap: 0.55rem;

  span {
    align-content: center;
  }

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
    line-height: 1.5rem;
    letter-spacing: 0.0094rem;

    button {
      font-size: 0.75rem;
    }
  }
}

.banner-container {
  width: 20rem;
  height: 75rem;
  background-color: white;
  border-radius: 2rem;
}

.hide-mobile {
  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.hide-desktop {
  @include utils.media("gt-sm-1") {
    display: none;
  }
}

.custom-icon-button {
  color: map.get($app-custom-colors, "Betaki_olivia");

  &:hover {
    color: color.adjust(map.get($app-custom-colors, "Betaki_olivia"), $alpha: -0.4);
  }
}

.login-btn-wrapper {
  padding: 2rem 0 3rem;
  width: 100%;
  @include utils.media("lt-sm-2") {
    padding: 1rem 0 0;
  }
}

.policy-container {
  order: 1;
  max-width: 40rem;
  width: 100%;
  justify-content: center;

  @include utils.media("lt-sm-2") {
    order: 2;
  }
}

.live-chat-button {
  align-self: center;
  order: 2;
  width: 13rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  line-height: 1rem;
  margin-top: 2rem;

  mat-icon {
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
  }

  @include utils.media("lt-sm-2") {
    order: 1;
    height: 2rem;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
    width: 11rem;

    mat-icon {
      font-size: 1rem;
      height: 1rem;
    }
  }
}

.age-icon {
  max-height: 4.125rem;
  max-width: 4.125rem;

  @include utils.media("lt-sm-2") {
    max-height: 3rem;
    max-width: 3rem;
  }
}

.responsible-gaming-text {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.1rem;
  letter-spacing: 0.016rem;

  @include utils.media("lt-sm-2") {
    font-size: 0.8rem;
    line-height: 1rem;
    letter-spacing: 0.05rem;
    text-align: center;
    vertical-align: middle;
  }
}

.policy-and-chat-container {
  display: flex;
  flex-direction: column;

  @include utils.media("lt-sm-2") {
    gap: 3rem;
  }
}

.error-icon {
  color: map.get($app-custom-colors, "Betaki_error");
}

.close-button {
  align-self: flex-end;
  cursor: pointer;
}

.full-width {
  width: 100%;
}
