<div class="main-container">
  <div class="banner-container hide-mobile" [innerHTML]="bannerItem?.templateHtml"></div>
  <app-page-breadcrumbs
    [showTopBar]="false"
    [breadcrumbs]="breadcrumbs"
    class="form-tab-title items-center justify-center gap-4 hide-desktop"
  />

  <form [formGroup]="loginForm" class="flex flex-col gap-16 items-center justify-start login-container">
    <div class="login-form-container flex flex-col items-center">
      <span class="title hide-mobile" translate>Enter to play</span>

      <div class="form flex flex-col">
        <!-- Username / Email -->
        <div class="field-wrapper">
          <mat-form-field
            appearance="outline"
            class="form-input-primary error-border flex flex-col no-border large-desktop"
            subscriptSizing="dynamic"
          >
            <input
              #usernameInput
              matInput
              name="username"
              type="text"
              autocomplete="username"
              [placeholder]="'Email or CPF' | translate"
              formControlName="username"
              appTrimInput
            />
            <!-- <button mat-icon-button matSuffix class="custom-icon-button">
              <mat-icon
                fontSet="material-icons-outlined"
                [class.error-icon]="loginForm.controls.username.touched && loginForm.controls.username.invalid"
                matIconSuffic
                >person</mat-icon
                >
              </button> -->
            <!-- eslint-disable-next-line @angular-eslint/template/prefer-control-flow -->
            @if (loginForm.controls.username.hasError('required') && loginForm.controls.username.touched) {
              <ng-container>
                <mat-error class="error-msg" translate> Required </mat-error>
              </ng-container>
            }
          </mat-form-field>
        </div>

        <!-- Password -->
        <div class="field-wrapper">
          <mat-form-field
            appearance="outline"
            class="form-input-primary error-border flex flex-col no-border large-desktop"
            subscriptSizing="dynamic"
          >
            <input
              matInput
              name="current-password"
              [type]="hidePassword ? 'password' : 'text'"
              autocomplete="current-password"
              [placeholder]="'Enter your password' | translate"
              formControlName="password"
              appTrimInput
            />
            <button
              mat-icon-button
              matSuffix
              (click)="togglePassword()"
              [attr.aria-label]="showHidePasswordLabel"
              [attr.title]="showHidePasswordLabel"
              class="custom-icon-button"
              type="button"
            >
              <mat-icon
                fontSet="material-icons-outlined"
                [class.error-icon]="loginForm.controls.password.touched && loginForm.controls.password.invalid"
              >
                {{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon
              >
            </button>
            <!-- eslint-disable-next-line @angular-eslint/template/prefer-control-flow -->
            @if (loginForm.controls.password.hasError('required') && loginForm.controls.password.touched) {
              <ng-container>
                <mat-error class="error-msg" translate> Required </mat-error>
              </ng-container>
            }
          </mat-form-field>
        </div>

        <!-- Error -->
        @if (error && error !== 'PlayerLockedOut') {
          <div class="error-msg" [innerHTML]="error | translate">
            {{ error | translate }}
          </div>
        }
        @if (error === 'PlayerLockedOut') {
          <div class="error-msg">
            {{ error | translate }}
            <a class="reset-password-link">{{ 'Please reset your password.' | translate }}</a>
          </div>
        }

        <!-- Forgot password -->
        <a class="link forgot-password" routerLink="/forgot-password" translate>Forgot Your Password?</a>
      </div>

      <!-- Login button -->
      <div class="login-btn-wrapper">
        <button
          mat-button
          type="submit"
          [disabled]="loginForm.invalid || isDataLoading"
          class="label-dark full-width login-button button-text-x-large"
          (click)="onLogin()"
        >
          @if (!isDataLoading) {
            <span class="login-button-text mr-2" translate>ENTER</span>
          }
          <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5" />
        </button>
      </div>

      <div class="register-container hide-mobile">
        <span translate>New here?</span>
        <button mat-stroked-button class="button-text-medium label-dark" routerLink="/register">
          {{ 'Create an account' | translate }}
        </button>
      </div>
    </div>

    <div class="register-container hide-desktop">
      <span translate>New here?</span>
      <button routerLink="/register" mat-stroked-button class="button-text-medium label-dark">
        {{ 'Create an account' | translate }}
      </button>
    </div>

    <div class="policy-and-chat-container">
      <div class="flex flex-col gap-2 items-center policy-container">
        <span translate class="responsible-gaming-text">
          <b>Jogue com Responsabilidade</b><br />
          O jogo deve ser uma forma de entretenimento saudável. Pratique sempre o jogo consciente e fique atento aos
          sinais de comportamento compulsivo.
        </span>
        <img class="age-icon" src="assets/general/icons/18-plus.svg" />
      </div>

      <button class="live-chat-button" (click)="onChatClick()" mat-button>
        <div class="flex items-center gap-2.5">
          <mat-icon svgIcon="help-chat-icon" />
          <span translate> Do you need help? </span>
        </div>
      </button>
    </div>
  </form>
</div>
