<app-base-dialog [displayCloseButton]="true" [height]="dialogHeight" title="">
  <!-- Title -->
  <div dialogContent>
    <div class="login-header-text mb-6.5" translate [class.hidden]="isStepTwo">
      Register at <span>{{ brandName }}</span>
    </div>
    <!-- Content -->
    <div class="form-container" [class.full-height]="isStepTwo">
      <mat-stepper class="sign-up-stepper" orientation="horizontal" [linear]="true" #stepper>
        <mat-step
          [stepControl]="registerForm"
          [editable]="!preRegistrationCompleted"
          [completed]="preRegistrationCompleted"
        >
          <!-- Personal data step -->
          <ng-template matStepContent>
            <app-personal-data
              (emitPersonalData)="onPersonalDataComplete($event)"
              [registerForm]="registerForm"
              [registerError]="registerError"
              [countriesCode]="countriesCode"
            />
            <!-- Sign in -->
            <div class="flex flex-wrap justify-center items-baseline gap-1 mt-2">
              <div class="info-text" translate>Already have an account?</div>
              <a class="link" (click)="onClose({ closeEvent: 'signIn' })" translate>Sign In now</a>
            </div>
          </ng-template>
        </mat-step>
        <mat-step [stepControl]="onboardingForm" [editable]="!onboardingCompleted" [completed]="onboardingCompleted">
          <!-- CAF onboarding wizard -->
          <ng-template matStepContent>
            @if (onboardingUrl) {
              <app-caf-onboarding [onboardingUrl]="onboardingUrl" (onboardingFinished)="onOnboardingFinished($event)" />
            }
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepContent>
            <div class="flex flex-col gap-2.5">
              <app-caf-onboarding-completed />

              <!-- Close button -->
              <div class="flex flex-wrap justify-center items-baseline gap-1">
                <button
                  mat-button
                  class="button-text-small label-dark flex-grow"
                  (click)="onClose({ closeEvent: 'closeDialog' })"
                >
                  <span class="register-button-text mr-2" translate>Close</span>
                </button>
              </div>
            </div>
          </ng-template>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
</app-base-dialog>
