<div class="game-footer">
  <swiper
    #swiper
    [config]="swiperConfig"
    [@games-drawer]
    *ngIf="gamesDrawer.length > 0 && expandedDrawer && (showGamesDrawer$ | async)"
    class="game-footer-drawer"
  >
    <!-- Left navigation -->
    <div slot="container-start" class="swiper-nav-icon-wrapper swiper-nav-left">
      <mat-icon class="swiper-nav-icon">chevron_left</mat-icon>
    </div>

    <!-- Right navigation -->
    <div slot="container-start" class="swiper-nav-icon-wrapper swiper-nav-right">
      <mat-icon class="swiper-nav-icon">chevron_right</mat-icon>
    </div>
    <!-- SLIDES -->
    <ng-template swiperSlide class="drawer-game-wrapper" *ngFor="let game of gamesDrawer; let indexOfElement = index">
      <app-game-card
        (gameSelected)="onGameSelected($event)"
        [game]="game"
        [indexOfElement]="indexOfElement"
        [emitEvent]="true"
        [hideDemoPlay]="true"
      ></app-game-card>
    </ng-template>
  </swiper>
  <span
    (click)="expandDrawer('lastPlayed', 0)"
    class="game-footer-link"
    [class.selected]="expandedDrawer === 'lastPlayed'"
    translate
    >LAST PLAYED</span
  >
  <span
    *ngFor="let category of menuCategories"
    (click)="expandDrawer(category.name, category.categoryId)"
    class="game-footer-link"
    [class.selected]="expandedDrawer === category.name"
    translate
    >{{ category.name }}</span
  >
  <!-- <span
    (click)="expandDrawer('newGames')"
    class="game-footer-link"
    [class.selected]="expandedDrawer === 'newGames'"
    translate
    >NEW GAMES</span
  > -->

  <app-game-search
    id="game-footer-search-wrapper"
    class="game-footer-search-wrapper"
    (listChanged)="onSearchListChanged()"
  ></app-game-search>
</div>
