@use "sass:map";
@use "sass:color";
@import "src/theme/theme-variables";
@import "src/theme/utils";

.game-footer-search-wrapper {
  display: flex;
  flex-basis: 100%;
}

.game-footer {
  position: relative;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: color.adjust(map.get($app-custom-colors, "neutral-10"), $alpha: -0.6);
  padding: 0 0.5rem;

  @include media(sm-2) {
    padding: 0 1.5rem;
  }

  @include media(md) {
    padding: 0 6.5rem;
  }

  @include media(gt-md) {
    padding: 0 11.375rem;
  }
}

.game-footer-link {
  font-size: 0.8125rem;
  font-weight: 500;
  letter-spacing: 0.0125rem;
  line-height: 1.25rem;
  padding: 1.5625rem 0;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: color 0.3s ease;
  text-transform: uppercase;

  + .game-footer-link {
    margin-left: 2rem;
  }

  &.selected,
  &:hover {
    color: map.get($app-custom-colors, "Betaki_error");
  }

  @include media(lt-sm-2) {
    display: none;
  }
}

:host ::ng-deep .game-footer-drawer {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  background-color: color.adjust(map.get($app-custom-colors, "neutral-10"), $alpha: -0.5);
  border-width: 0.5rem;
  border-color: transparent;
  border-style: solid;

  .drawer-game-wrapper {
    //needs to be important. Swipper has default style directly on element selector (highest priority)
    /* stylelint-disable-next-line declaration-no-important */
    margin-right: 0.5rem !important;
    max-width: 9.25rem;
  }
}

:host ::ng-deep .game-footer-search-wrapper .game-search-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: unset;
  flex-basis: 100%;
  z-index: 101;

  @include media(sm-2) {
    flex-basis: 23rem;
    margin-left: 3.625rem;
  }

  @include media(md) {
    flex-basis: 24.125rem;
    margin-left: 4.625rem;
  }

  @include media(gt-md) {
    flex-basis: 24.125rem;
    margin-left: 2.5rem;
  }
}

:host ::ng-deep .game-footer-search-wrapper .search-container {
  top: unset;
  bottom: 100%;
}

.swiper-nav-icon-wrapper {
  height: 2.5rem;
  width: 2.5rem;
  background-color: rgba(55, 37, 162, 65%);
  background-color: color.adjust(map.get($app-custom-colors, "neutral-10"), $alpha: -0.35);
  background-image: none;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);

  .swiper-nav-icon {
    color: map.get($app-custom-colors, "neutral-100");
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
    text-indent: 0.3125rem;
  }

  &.nav-disabled {
    display: none;
  }

  &.swiper-nav-left {
    left: 0;
  }

  &.swiper-nav-right {
    right: 0;
  }

  &:hover {
    background-color: map.get($app-custom-colors, "neutral-10");
  }
}
