<div class="game-footer">
  @if (gamesDrawer.length > 0 && expandedDrawer && (showGamesDrawer$ | async)) {
  <swiper-container #swiperContainer init="false" [@games-drawer] class="game-footer-drawer">
    <!-- Left navigation -->
    <div slot="container-start" class="swiper-nav-icon-wrapper swiper-nav-left">
      <mat-icon class="swiper-nav-icon">chevron_left</mat-icon>
    </div>
    <!-- Right navigation -->
    <div slot="container-start" class="swiper-nav-icon-wrapper swiper-nav-right">
      <mat-icon class="swiper-nav-icon">chevron_right</mat-icon>
    </div>
    <!-- SLIDES -->
    @for (game of gamesDrawer; track game; let indexOfElement = $index) {
    <swiper-slide class="drawer-game-wrapper">
      <app-game-card
        (gameSelected)="onGameSelected($event)"
        [game]="game"
        [indexOfElement]="indexOfElement"
        [emitEvent]="true"
        [hideDemoPlay]="true"
      />
    </swiper-slide>
    }
  </swiper-container>
  }
  <span
    (click)="expandDrawer('lastPlayed', 0)"
    class="game-footer-link"
    [class.selected]="expandedDrawer === 'lastPlayed'"
    translate
    >LAST PLAYED</span
  >
  @for (category of menuCategories; track category) {
  <span
    (click)="expandDrawer(category.name, category.categoryId)"
    class="game-footer-link"
    [class.selected]="expandedDrawer === category.name"
    translate
    >{{ category.name }}</span
  >
  }
  <!-- <span
      (click)="expandDrawer('newGames')"
      class="game-footer-link"
      [class.selected]="expandedDrawer === 'newGames'"
      translate
      >NEW GAMES</span
      > -->

  <app-game-search
    id="game-footer-search-wrapper"
    class="game-footer-search-wrapper"
    (listChanged)="onSearchListChanged()"
  />
</div>
