<div class="vip-container flex flex-col items-center">
  <h1>{{ 'The Comtrade Gaming VIP Program' | translate }}</h1>
  <p class="vip-description">
    {{
      'Comtrade Gaming is rewarding you for every Slot game you play. By simply placing bets, you can make your way through the levels and enjoy massive rewards along the way.'
        | translate
    }}
  </p>

  <div class="vip-programs-container flex justify-center flex-wrap">
    @for (program of vipPrograms; track program) {
      <app-vip-program-card class="vip-program-card" [program]="program" />
    }
  </div>
</div>

<app-welcome-message class="full-width">
  <h1 translate>VIP Program at Comtrade Gaming</h1>
  <p translate>
    Take your gaming experience to the next level with our exclusive VIP program. As a valued VIP member, you'll enjoy a
    range of premium benefits that will make you feel like a true casino VIP. Explore the exceptional perks that await
    you:
  </p>

  @if (readMoreHidden) {
    <p class="read-more" (click)="this.readMoreHidden = !this.readMoreHidden">Read more...</p>
  }

  <div [class.hidden]="readMoreHidden">
    <div class="read-more-expanded">
      <h2 translate>VIP Treatment for Online Casino and Slots</h2>
      <p translate>
        Prepare to be part of something extraordinary. Gain access to exclusive VIP treatment that will take your gaming
        experience to new heights. Rub shoulders with fellow VIP players, compete for incredible prizes, and immerse
        yourself in a world of luxury and excitement.
      </p>
      <p translate>
        Join Comtrade Gaming today and embark on a thrilling casino journey like no other. Our exciting promotions and
        exclusive VIP program are designed to provide you with an unforgettable gaming experience.
      </p>
    </div>
  </div>

  @if (!readMoreHidden) {
    <p class="read-more" (click)="this.readMoreHidden = !this.readMoreHidden">Read less...</p>
  }
</app-welcome-message>
