<div class="vip-container flex flex-col items-center">
  <h1>{{ 'The Comtrade Gaming VIP Program' | translate }}</h1>
  <p class="vip-description">
    {{
      'Comtrade Gaming is rewarding you for every Slot game you play. By simply placing bets, you can make your way through the levels and enjoy massive rewards along the way.'
        | translate
    }}
  </p>

  <div class="vip-programs-container flex justify-center flex-wrap">
    @for (program of vipPrograms; track program) {
      <app-vip-program-card class="vip-program-card" [program]="program" />
    }
  </div>
</div>
