<div
  class="hidden lg:flex sticky top-[64px] flex-col 2xl:ms-0 text-white h-[calc(100vh-64px)] space-y-2 transition-all duration-300"
  [class.w-64]="!isCollapsed()"
  [class.w-20]="isCollapsed()"
>
  <nav class="flex flex-col h-full p-3 space-y-2 overflow-y-auto bg-shark-950/30">
    <div class="flex pb-2" [class.justify-end]="!isCollapsed()" [class.justify-center]="isCollapsed()">
      <button (click)="toggleCollapse()" class="p-2 rounded-lg hover:bg-shark-900">
        <img
          [src]="'/assets/icons/arrow-left-white.svg' | cdnize"
          alt="Toggle sidebar"
          class="w-6 h-6 transition-transform duration-300"
          [class.rotate-180]="isCollapsed()"
        />
      </button>
    </div>
    <!-- @if(isAuthenticated){ -->
    <!-- <div
      class="flex items-center gap-3 px-1 py-2 rounded-lg transition-colors group hover:opacity-80 cursor-pointer"
      [class.justify-center]="isCollapsed()"
      (click)="handleProfileClick()"
    >
      <img src="/assets/icons/user-icon.svg" alt="User Photo" class="object-cover w-10 h-10 rounded-full shrink-0" />
      @if (playerDetails(); as details) {
      <div class="flex flex-col" [class.hidden]="isCollapsed()">
        <span class="text-base font-medium">{{ details.firstName }} {{ details.lastName }}</span>
        <span class="text-sm font-light">ID: {{ details.id }}</span>
      </div>
      }
    </div> -->
    <!-- } -->

    <!-- Menu Items Iteration -->
    <div class="flex flex-col mt-1 gap-y-2">
      @if (isLoading()) {
      <div class="flex items-center justify-center py-8">
        <svg
          class="w-8 h-8 text-betaki-400 animate-spin"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
      } @else { @for (item of menuItems(); track item.label) {
      <button
        class="flex items-center p-2 gap-x-2 cursor-pointer rounded-xl transition-opacity duration-200 ease-in-out hover:opacity-80"
        [class]="item.class"
        [class.bg-tournaments]="item.label === 'Torneios' || item.label === 'Club Bet Aki'"
        [class.bg-fresh]="item.label === 'Lançamentos'"
        [class.bg-providers]="item.label === 'Provedores'"
        [class.mb-1]="item.label === 'Club Bet Aki'"
        [class.justify-start]="!isCollapsed()"
        [class.justify-center]="isCollapsed()"
        (click)="navigateTo(item.routerLink!)"
      >
        <img [src]="item.icon | cdnize" [alt]="item.label" class="w-6 h-6 shrink-0" />
        <span class="text-[#E4EAF2]!" [class.hidden]="isCollapsed()">{{ item.label }}</span>
      </button>
      } }
    </div>

    @if (isAuthenticated) {
    <button
      (click)="logout()"
      class="flex items-center p-2 gap-x-2 cursor-pointer rounded-xl mt-auto w-full transition-opacity duration-200 ease-in-out hover:opacity-80"
      [class.justify-start]="!isCollapsed()"
      [class.justify-center]="isCollapsed()"
    >
      <img [src]="'/assets/icons/logout-icon-color.svg' | cdnize" alt="Casino" class="w-6 h-6 shrink-0" />
      <span class="text-[#E4EAF2]!" [class.hidden]="isCollapsed()">Sair</span>
    </button>
    }
  </nav>
</div>
