@if (!isMobile()) {
<div class="game-page-wrapper">
  @if (isDialogOpen) {
  <div class="game-close-dialog-dimmer-background" (click)="dimmerClick()"></div>
  }

  <div class="game-background">
    <img src="" alt="" />
  </div>

  <div class="game-wrapper">
    <div class="game-launcher-wrapper">
      @if (gameScreens.length > 0) {
      <div #gameGridWrapper class="game-grid-wrapper" [class.multi-screen]="multiScreen">
        <div class="game-grid-container">
          @for (gameScreen of gameScreens; track gameScreen) { @if (gameScreen?.screenState === screenState.Active) {
          @if (cookiesConsent) { @switch (gameScreen.gameState) { @case (gameState.InPlay) {
          <app-game-launch
            [gameScreen]="gameScreen"
            [isLive]="isLive"
            class="game-item-wrapper"
            [class.multi-screen]="multiScreen"
          />
          } @case (gameState.InSearch) {
          <app-game-search
            [LIMIT]="3"
            [GameScreenPosition]="gameScreen.position"
            class="game-search-wrapper"
            [class.multi-screen]="multiScreen"
          />
          } } } @else {
          <div class="missing-cookies-consent game-item-wrapper p-[5px]" [class.multi-screen]="multiScreen">
            <div>
              {{ 'Cookie Consent is required to start playing. You must accept our cookie policy.' | translate }}
            </div>
            <div>{{ 'Please review and accept the policy to enable gameplay.' | translate }}</div>
          </div>
          } } }
        </div>
      </div>

      <app-game-controls [isLive]="isLive" class="game-controls-modal" [class.no-in-play]="!isInPlay()" />
      }
    </div>
  </div>

  <app-game-page-footer />

  @if (isDialogOpen) {
  <app-game-close-dialog
    class="game-close-dialog"
    (confirmed)="onConfirmation()"
    (canceled)="onCancelation()"
    [gameNames]="gameNamesToClose"
    [@slideInOut]
  />
  }
</div>
} @else {
<div class="mobile-game-top-container">
  <div class="mobile-game-header">
    <a [routerLink]="[lobbyPath]" class="back-button">
      <mat-icon class="icon">close</mat-icon>
    </a>

    @if (false) {
    <button class="back-button" (click)="goBack()">
      <mat-icon class="icon">close</mat-icon>
    </button>
    }
  </div>
  <div class="mobile-game-wrapper">
    @if (mobileGameURL && mobileIframeVisible) {
    <iframe
      #mobileGameFrame
      class="game-iframe"
      referrerpolicy="origin"
      frameBorder="0"
      allowfullscreen
      [src]="mobileGameURL"
    ></iframe>
    }
  </div>
</div>
}
