<mat-sidenav-container autosize>
  <mat-sidenav
    [ngClass]="{ expanded: !sidenavState.collapsed, mobile: isMobile }"
    [mode]="'over'"
    [opened]="false"
    (openedChange)="onOpenedChange($event)"
    [fixedInViewport]="true"
    [autoFocus]="false"
    [ngStyle]="{ 'padding-top': '0', 'padding-bottom': '0' }"
    *ngIf="!hideSidenav"
  >
    <div class="close-button"><mat-icon (click)="toggleSidenavMenu()">close</mat-icon></div>
    <app-profile-menu></app-profile-menu>
  </mat-sidenav>

  <mat-sidenav-content #sidenavContent>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
