@use "theme/theme-variables" as theme-variables;
@use "sass:map";

.page-container {
  align-items: unset;
}

:host {
  width: 100%;
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.page-container {
  margin: 1.5rem 0 2rem;
}
