<div class="body-search" [formGroup]="form" (click)="globalSearchService.disableGlobalSearch()">
  <div class="search" name="games_list">
    <mat-form-field
      appearance="outline"
      class="form-input-search search-form-field"
      subscriptSizing="dynamic"
      onclick="event.stopPropagation()"
    >
      <input
        matInput
        type="text"
        class="search-input"
        placeholder="{{ 'Find your game' | translate }}"
        formControlName="name"
        autocomplete="off"
        #globalSearchInput
      />
      <span matTextPrefix class="search-icon font-icons font-icons--search"></span>
      <button
        matTextSuffix
        class="search-close font-icons font-icons--close"
        (click)="globalSearchService.disableGlobalSearch()"
      ></button>
    </mat-form-field>
    @if (gameName && filters !== null && filters !== undefined && filters.length > 0) {
    <div class="search-container">
      <ul class="search-list">
        @for (item of filters; track item) {
        <li>
          <a (click)="launchGame(item.externalGameId)" class="search-item" target="_self">
            <img
              class="search-image"
              [src]="item.gameDesktopAssetPath"
              (error)="onImgError($event)"
              [alt]="item.gameName"
              loading="true"
              width="37"
              height="52"
            />
            <span class="search-title">{{ item.gameName }}</span>
          </a>
        </li>
        }
      </ul>
    </div>
    }
  </div>
</div>
