<app-base-dialog customClass="confirmation-dialog" [title]="'Are you over 18 years old?' | translate">
  <ng-container dialogButtons>
    <div class="flex w-full justify-end gap-4">
      <button mat-stroked-button class="button-text-small label-dark flex-grow" (click)="onCancel()">
        <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
        <span translate>No</span>
      </button>
      <button mat-button class="button-text-small label-dark flex-grow" (click)="onConfirm()">
        <mat-icon fontSet="material-icons-outlined">check_circle</mat-icon>
        <span translate>Yes</span>
      </button>
    </div>
  </ng-container>
</app-base-dialog>
