<div class="limit-card-container">
  <div class="flex-row limit-card-header">
    <div class="flex-col left-align">
      <div class="flex-row">
        <span
          >{{ 'Limit type' | translate }}
          <span class="limit-value">{{ limit?.limitType ?? '' | translate }}</span></span
        >
      </div>
      <div class="flex-row">
        <span
          >{{ 'Currency' | translate }}
          <span class="limit-value">{{ limit?.currencyResolved ?? '' | translate }}</span></span
        >
      </div>
    </div>

    <div class="flex-col right-align">
      <div class="flex-row">
        <span [class.active]="limit?.limitStatus === 'Active'">{{
          limit?.limitStatus ?? '' | translate | uppercase
        }}</span>
      </div>
      <div class="flex-row" *ngIf="limit?.limitStatus === 'Pending'">
        <div class="close-icon" matRipple mat-icon-button (click)="onLimitEdit()">
          <mat-icon>edit_note</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row limit-card-content">
    <div class="flex-col left-align">
      <div>
        {{ 'Limit' | translate }}
      </div>
      <div class="limit-value">
        {{ limit?.limitResolved ?? '' }}
      </div>
    </div>

    <div class="flex-col left-align">
      <div>
        {{ 'Time left' | translate }}
      </div>
      <div class="limit-value">
        {{ limit?.limitResolved ?? '' }}
      </div>
    </div>
  </div>
</div>
