<div class="player-profile-page-container">
  <div class="bonuses-history-container">
    <div class="panel-content">
      <div
        class="form-wrapper flex-row flex-wrap flex-col--lt-sm-2 gapx-24 gapy-16 full-width"
        [formGroup]="filterForm"
      >
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>Status</div>
          <mat-form-field appearance="outline" class="form-input-select" subscriptSizing="dynamic">
            <mat-select
              formControlName="status"
              placeholder="Select"
              multiple
              #selectType
              [matTooltip]="selectType.triggerValue"
            >
              <mat-option *ngFor="let item of statusList" [value]="item">
                {{ item.label | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="filterForm.controls.status?.hasError('required')" class="error-msg" translate>
              Required</mat-error
            >
            <mat-icon [class]="selectType.panelOpen ? 'toggle-icon-focused' : 'toggle-icon'" matSuffix>{{
              selectType.panelOpen ? 'expand_less' : 'expand_more'
            }}</mat-icon>
          </mat-form-field>
        </div>
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>Period</div>
          <mat-form-field appearance="outline" class="form-input-select" subscriptSizing="dynamic">
            <mat-select
              formControlName="period"
              placeholder="Select"
              #selectPeriod
              [matTooltip]="selectPeriod.triggerValue"
            >
              <mat-option *ngFor="let item of periodList" [value]="item">
                {{ item.label | translate }}
              </mat-option>
            </mat-select>
            <mat-icon [class]="selectPeriod.panelOpen ? 'toggle-icon-focused' : 'toggle-icon'" matSuffix>{{
              selectPeriod.panelOpen ? 'expand_less' : 'expand_more'
            }}</mat-icon>
          </mat-form-field>
        </div>
        <div class="flex-row flex-col--lt-sm-2 gapx-24 gapy-16">
          <div class="field-wrapper-edit">
            <div class="form-field-label" translate>From</div>
            <mat-form-field appearance="outline" class="form-input-select" subscriptSizing="dynamic">
              <input
                matInput
                [matDatepicker]="pickerFrom"
                (click)="pickerFrom.open()"
                placeholder="{{ 'From' | translate }}"
                formControlName="dateFrom"
                [max]="currentDate"
                [readonly]="true || isMobile()"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerFrom">
                <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #pickerFrom></mat-datepicker>
              <mat-error translate class="error-msg" *ngIf="filterForm.controls.dateFrom.hasError('dateRangeError')"
                >From date cannot be after To date</mat-error
              >
            </mat-form-field>
          </div>
          <div class="field-wrapper-edit">
            <div class="form-field-label" translate>To</div>
            <mat-form-field appearance="outline" class="form-input-select" subscriptSizing="dynamic">
              <input
                matInput
                [matDatepicker]="pickerTo"
                (click)="pickerTo.open()"
                placeholder="{{ 'To' | translate }}"
                formControlName="dateTo"
                [min]="minimumDate"
                [max]="currentDate"
                [readonly]="true || isMobile()"
              />
              <mat-datepicker-toggle matSuffix [for]="pickerTo">
                <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
              <mat-error translate class="error-msg" *ngIf="filterForm.controls.dateFrom.hasError('dateRangeError')"
                >From date cannot be after To date</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="flex-row flex-wrap flex-col--lt-sm-2 gapx-24 gapy-16 full-width">
        <div class="section-actions">
          <button [disabled]="filterForm.invalid" mat-button class="section-action flex-grow" (click)="searchItems()">
            <span translate>Search</span>
          </button>
        </div>
      </div>
      <div class="table-container" *ngIf="pagedData.length">
        <ng-container *ngTemplateOutlet="bonusHistoryTable"></ng-container>
      </div>
    </div>
  </div>

  <ng-template #bonusHistoryTable>
    <mat-card *ngFor="let record of pagedData">
      <div class="table-row flex-col--lt-sm-2">
        <div class="col wide">
          <div class="label" translate>Bonus name</div>
          <div class="value">{{ record.bonusFriendlyName || record.bonusName }}</div>
        </div>
        <div class="col wide">
          <div class="label" translate>Received on</div>
          <div class="value">{{ record.acceptedDate | date: dateFormat }}</div>
        </div>
        <div class="col wide">
          <div class="label" translate>Bonus amount</div>
          <div class="value">
            {{ record.currency }} {{ dataStoreService.getNumberInLocalFormat(record.redeemedAmount ?? 0) }}
          </div>
        </div>
        <div class="col">
          <div class="label" translate>Status</div>
          <div class="value" translate>{{ record.status }}</div>
        </div>
      </div>
    </mat-card>
    <mat-paginator [length]="bonusHistoryData.length" [pageSize]="tablePageSize" (page)="onPageChange($event)">
    </mat-paginator>
  </ng-template>
</div>
