<div class="profile-link-container">
  <a
    class="profile-link"
    routerLink="/profile/transaction-history"
    (click)="onLinkClick()"
    [routerLinkActive]="['profile-link-active']"
  >
    <div class="flex profile-link-content">
      <mat-icon class="link-icon" svgIcon="essentials-arrows-horizontal" />
      <div class="link-title">
        {{ 'Transactions' | translate }}
      </div>
    </div>
  </a>

  <a
    class="profile-link"
    routerLink="/profile/game-history"
    (click)="onLinkClick()"
    [routerLinkActive]="['profile-link-active']"
  >
    <div class="flex profile-link-content">
      <mat-icon class="link-icon" svgIcon="profile-casino" />
      <div class="link-title">
        {{ 'Casino' | translate }}
      </div>
    </div>
  </a>

  <a
    class="profile-link"
    routerLink="/profile/sportsbook-bet-history"
    (click)="onLinkClick()"
    [routerLinkActive]="['profile-link-active']"
  >
    <div class="flex profile-link-content">
      <mat-icon class="link-icon" svgIcon="profile-sportsbook" />
      <div class="link-title">
        {{ 'Sports betting' | translate }}
      </div>
    </div>
  </a>

  <a
    class="profile-link"
    routerLink="/profile/promo"
    (click)="onLinkClick()"
    [routerLinkActive]="['profile-link-active']"
  >
    <div class="flex profile-link-content">
      <mat-icon class="link-icon" svgIcon="essentials-star" />
      <div class="link-title">
        {{ 'Promotions and bonuses' | translate }}
      </div>
    </div>
  </a>

  <div class="profile-link-expandable">
    <div class="expandable-items-wrapper">
      <a class="profile-link" (click)="toggleMenu()">
        <div class="flex profile-link-content">
          <mat-icon class="link-icon" svgIcon="essentials-user" />
          <div class="link-title">
            {{ 'Profile' | translate }}
          </div>
        </div>
      </a>

      @if (expanded) {
      <a
        class="profile-link"
        (click)="onLinkClick()"
        routerLink="/profile/general/security"
        [routerLinkActive]="['profile-link-active']"
      >
        <div class="flex profile-link-content">
          <div class="link-subtitle">
            {{ 'Login and security' | translate }}
          </div>
        </div>
      </a>
      } @if (expanded) {
      <a
        class="profile-link"
        (click)="onLinkClick()"
        routerLink="/profile/responsible-gambling"
        [routerLinkActive]="['profile-link-active']"
      >
        <div class="flex profile-link-content">
          <div class="link-subtitle">
            {{ 'Player protection' | translate }}
          </div>
        </div>
      </a>
      } @if (expanded) {
      <a
        class="profile-link"
        (click)="onLinkClick()"
        routerLink="/profile/general/subscriptions"
        [routerLinkActive]="['profile-link-active']"
      >
        <div class="flex profile-link-content">
          <div class="link-subtitle">
            {{ 'Privacy settings' | translate }}
          </div>
        </div>
      </a>
      }
    </div>

    <div class="expandable-icon-wrapper">
      @if (!expanded) {
      <mat-icon fontSet="material-icons-outlined" class="link-navigation-icon expandable-icon" (click)="toggleMenu()"
        >expand_more</mat-icon
      >
      } @if (expanded) {
      <mat-icon fontSet="material-icons-outlined" class="link-navigation-icon expandable-icon" (click)="toggleMenu()"
        >expand_less</mat-icon
      >
      }
    </div>
  </div>

  <a
    class="profile-link"
    routerLink="/profile/messages"
    (click)="onLinkClick()"
    [routerLinkActive]="['profile-link-active']"
  >
    <div class="flex profile-link-content">
      <mat-icon class="link-icon" svgIcon="essentials-mail" />
      <div class="link-title">
        {{ 'Messages' | translate }}
        @if (displayNumberOfMessages) {
        <div class="link-title-notifications">{{ messageCount$ | async }}</div>
        }
      </div>
    </div>
  </a>
</div>
