@use "sass:map";
@use "src/theme/utils" as utils;
@use "sass:color";
@import "src/theme/theme-variables";

.spinner {
  display: flex;
  justify-content: center;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: map.get($app-custom-colors, "ATL_white10");
  border-radius: 0.75rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: map.get($app-custom-colors, "ATL_white35");
  border-radius: 0.75rem;
  margin: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: map.get($app-custom-colors, "ATL_white35");
}
