<app-base-dialog width="29rem" [title]="data.title ?? ''" [displayCloseButton]="!!data.showCloseButton && isMobile">
  <div dialogContent>
    <ng-container *ngIf="data">
      <div class="mb-32" [innerHTML]="sanitizedContent"></div>
    </ng-container>
  </div>

  <ng-container dialogButtons>
    <button
      *ngFor="let action of data.actions"
      mat-button
      class="button-text-small label-dark flex-grow"
      (click)="confirm(action.id ?? null)"
    >
      <span translate>{{ action.name }}</span>
    </button>
  </ng-container>
</app-base-dialog>
