<app-base-dialog
  width="29rem"
  [title]="data.title ?? ''"
  [customClass]="'lg:h-2/3  2xl:w-1/4!'"
  [displayCloseButton]="!!data.showCloseButton && isMobile"
  [customButtonClass]="'mt-auto'"
>
  <div dialogContent>
    @if (data) {
      <div class="mb-8 flex text-center" [innerHTML]="sanitizedContent"></div>
    }
  </div>

  <ng-container dialogButtons>
    <div class="flex gap-4">
      @for (action of data.actions; track action) {
        <button mat-button class="button-text-small label-dark flex-grow" (click)="confirm(action.id ?? null)">
          <span translate>{{ action.name }}</span>
        </button>
      }
    </div>
  </ng-container>
</app-base-dialog>
