.logo {
  width: 100%;
  max-width: 256px;
  margin-bottom: 1rem;
  path {
    fill: transparent;
    stroke: #bcd200;
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 3s ease-in-out forwards;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
    fill: #bcd200;
  }
}
