@use "sass:map";
@use "sass:color";
@import "src/theme/theme-variables";

// override template
/* stylelint-disable-next-line selector-max-compound-selectors */
:host ::ng-deep .activate-button {
  background-color: map.get($app-custom-colors, "Betaki_error");
  color: map.get($app-custom-colors, "neutral-10");

  &:hover {
    background-color: color.adjust(map.get($app-custom-colors, "Betaki_error"), $lightness: 10%);
  }
}

/* stylelint-disable-next-line selector-max-compound-selectors */
:host ::ng-deep .countdown-container {
  .countdown-item {
    background-color: map.get($app-custom-colors, "neutral-100");

    /* stylelint-disable-next-line selector-max-compound-selectors */
    span {
      color: map.get($app-custom-colors, "neutral-10");
    }
  }
}
