<div class="game-filters-container">
  <div class="inner-container">
    <div class="category-container">
      <div class="category-scroll-container" (wheel)="onMouseWheel($event)">
        <div class="category-scroll-menu">
          @for (category of menuGameCategories$ | async; track category; let i = $index) {
          <div class="category-item">
            <a
              #categoryLink
              class="category-circle"
              (click)="navigateTo(category.path)"
              [routerLink]="[category.path]"
              routerLinkActive="selected"
              [routerLinkActiveOptions]="{ exact: category.path === '/' || category.path === '' }"
              (isActiveChange)="scrollCategoryLinkIntoView($event, categoryLink)"
            >
              <mat-icon [svgIcon]="category.svgIcon ?? ''" />
            </a>
            <span>{{ category.translate ? (category.name | translate) : category.name }}</span>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
