<app-base-dialog
  [title]="'Account Closure' | translate"
  [customClass]="'md:h-75! lg:w-1/4!'"
  [displayCloseButton]="true"
>
  <p dialogContent>
    {{ 'Are you sure you want to close your account? This action is permanent and cannot be undone.' | translate }}
  </p>

  <ng-container dialogButtons>
    <div class="flex w-full items-center gap-4">
      <app-button class="flex-1" fullWidth variant="outline" (click)="cancel()">
        <span translate>Cancel</span>
      </app-button>

      <app-button class="flex-1" fullWidth variant="primary" (click)="confirm()">
        <span translate>Close Account</span>
      </app-button>
    </div>
  </ng-container>
</app-base-dialog>
