<app-base-dialog [title]="'Account Closure' | translate" [displayCloseButton]="true">
  <p dialogContent>
    {{ 'Are you sure you want to close your account? This action is permanent and cannot be undone.' | translate }}
  </p>

  <ng-container dialogButtons>
    <button mat-stroked-button class="button-text-small label-dark flex-grow" (click)="cancel()">
      <span translate>Cancel</span>
    </button>

    <button mat-button class="button-text-small label-dark flex-grow" (click)="confirm()">
      <span translate>Close Account</span>
    </button>
  </ng-container>
</app-base-dialog>
