@use "sass:map" as map;
@use "theme/utils" as utils;

@use "theme/theme-variables" as theme-variables;

:host {
  min-width: 100%;
  min-height: 100%;
}

.main-container {
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-10");
  min-height: calc(100vh - 6.25rem);
  height: calc(100% - 3.5rem);
  padding-top: 4.5rem;

  @include utils.media(gt-sm-1) {
    height: calc(100% - 4.5rem);
  }

  @include utils.media(lt-sm-2) {
    height: 100%;
  }
}

.header {
  position: sticky;
  z-index: 100;

  &.not-mobile {
    @include utils.media("lt-sm-2") {
      display: none;
    }
  }

  &.mobile {
    @include utils.media("gt-sm-2") {
      display: none;
    }
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
  }
}
