<!-- Desktop -->
<ng-container *ngIf="!isMobile(); else mobile">
  <!-- Header -->
  <app-header
    class="header not-mobile"
    [isSignedIn]="!!(isSignedIn$ | async)"
    [balance]="balance$ | async"
    [loyaltyPoints]="loyaltyPoints$ | async"
    [playerInfo]="playerInfo"
  ></app-header>

  <!-- Header -->
  <!-- <app-header
    class="header mobile"
    [isSignedIn]="!!(isSignedIn$ | async)"
    [balance]="balance$ | async"
    [loyaltyPoints]="loyaltyPoints$ | async"
    [isDemoPlay]="isDemoPlay$ | async"
  ></app-header> -->

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <app-global-search *ngIf="globalSearchService.isEnabled()"> </app-global-search>
</ng-container>

<!-- Mobile -->
<ng-template #mobile>
  <router-outlet></router-outlet>
</ng-template>
