<div id="{{ 'live-game-card-' + game().id }}" class="">
  <div
    [class]="{
      'w-full': layout() === 'responsive',
      'shrink-0 h-24 max-w-80 sm:max-w-full lg:h-56 min-w-[100px] sm:min-w-[130px] lg:min-w-auto lg:max-h-[160px] me-1':
        layout() === 'fixed'
    }"
    class="aspect-[4/2] rounded-lg shadow-lg overflow-hidden group cursor-pointer"
  >
    <div class="h-full w-full flex flex-col">
      <div class="relative flex-grow overflow-hidden">
        <div class="absolute inset-0 transition-transform duration-300 group-hover:scale-120">
          <img
            [src]="gameImageUrl | cdnize"
            [alt]="game().name"
            width="420"
            draggable="false"
            height="560"
            class="w-full h-full object-center object-cover"
          />
        </div>
        <div class="absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-t from-black/80 to-transparent"></div>
      </div>
    </div>
  </div>
  <h3 class="text-white font-bold text-sm sm:text-base mb-1 ps-3 line-clamp-1 truncate max-w-[150px] lg:max-w-[280px]">
    {{ game().name }}
  </h3>
  <!-- <div class="ps-4 text-left text-white">
    <span class="flex items-center text-xs font-semibold">
      <img [src]="brandLiveBadge" class="pe-2 h-4" alt="Live icon" />
      {{ 'Lilly' }}
    </span>
  </div> -->
</div>
