<div class="player-profile-page-container">
  <app-page-breadcrumbs [breadcrumbs]="breadcrumbs"></app-page-breadcrumbs>

  <div class="page-section-multiple">
    <div class="section-item-container nowrap">
      <div class="section-item">
        <mat-icon class="item-icon" svgIcon="essentials-risk-management"></mat-icon>
        <div class="flex-col">
          <div class="flex-col item-title">
            {{ 'Login' | translate }}
          </div>
          <div class="flex-col login-credentials">
            {{ playerEmail | translate }}
          </div>
        </div>
      </div>
    </div>

    <mat-divider class="mat-divider"></mat-divider>

    <div class="section-item-container">
      <div class="section-item flex-col--lt-sm-2">
        <mat-icon class="item-icon" svgIcon="essentials-account-box"></mat-icon>
        <div class="flex-col">
          <div class="flex-col item-title">
            {{ 'Password' | translate }}
          </div>
          <div class="flex-col login-credentials">
            {{ '********' | translate }}
          </div>
        </div>
      </div>
      <div class="edit-password-btn-container">
        <button
          mat-button
          class="button-text-small label-dark flex-grow"
          [routerLink]="'/profile/general/security/login-credentials/edit-password'"
        >
          {{ 'Edit password' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
