<div
  class="fixed inset-0 z-50 flex! items-center! justify-center! bg-black/60"
  animate.leave="animate-leave-fadeOut"
  (click)="closeDialog()"
  tabindex="0"
  role="button"
  (keydown.enter)="closeDialog()"
  (keydown.space)="closeDialog()"
>
  <div animate.enter="animate-enter-slide-down" class="relative w-full h-full bg-white overflow-hidden md:rounded-lg
  flex flex-col" [class]="customClass" [class.md:w-1/2]="size() === 'sm'" [class.xl:w-1/3]="size() === 'sm'"
  [class.md:w-2/3]="size() === 'md'" [class.xl:w-1/2]="size() === 'md'" [class.md:w-4/5]="size() === 'lg'"
  [class.xl:w-2/3]="size() === 'lg'" [class.md:w-11/12]="size() === 'xl'" [class.xl:w-5/6]="size() === 'xl'"
  (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()" tabindex="-1" role="dialog" > @if
  (displayCloseButton) {
  <button class="absolute top-0 right-0 mt-4 mr-4 text-gray-500 hover:text-gray-700" (click)="closeDialog()">
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  } @if (displayTopBar) {
  <div class="flex items-center justify-between p-4 flex-shrink-0" [class.flex-col]="displayLogo && title">
    @if (displayLogo) {
    <img alt="logo" class="h-10 w-auto" [src]="'assets/general/logo/betaki-logo.png' | cdnize" />
    } @if (title) {
    <h2 class="text-xl md:text-2xl font-bold" [class.mt-6]="displayLogo && title">{{ title }}</h2>
    }
  </div>
  } @else if (title) {
  <h2 class="text-xl md:text-2xl font-bold p-4 flex-shrink-0">{{ title }}</h2>
  }

  <div class="p-4 sm:p-3 2xl:p-6 flex-grow min-h-0">
    <div class="h-full flex flex-col">
      <div [class.flex-grow]="hasDialogContent()" class="overflow-y-auto">
        <ng-content select="[dialogContent]" />
      </div>

      <div class="base-dialog-button-wrapper mt-4 flex-shrink-0">
        <ng-content select="[dialogButtons]" />
      </div>
    </div>
  </div>
</div>
