<div
  #dialogContainer
  [class]="'dialog-container flex-col ' + position + ' ' + customClass"
  [ngClass]="{
    mobile: isMobile,
    'not-mobile': !isMobile,
    'fullscreen-mobile': fullscreenMobile
  }"
>
  <div class="top-bar">
    <div class="spacer"></div>
    <!-- Logo -->
    <img *ngIf="displayLogo" alt="logo" class="logo" [src]="'assets/general/logo/betaki-logo.png' | cdnize" />
    <!-- Close icon -->
    <div *ngIf="displayCloseButton" class="close-icon close-btn" matRipple (click)="closeDialog()">
      <mat-icon svgIcon="close-icon"></mat-icon>
    </div>
  </div>

  <!-- Dialog content -->
  <div class="base-dialog-content">
    <h2 class="title">{{ title }}</h2>
    <ng-content select="[dialogContent]"></ng-content>

    <!-- Dialog buttons -->
    <div class="base-dialog-button-wrapper">
      <ng-content select="[dialogButtons]"></ng-content>
    </div>
  </div>
</div>
