<div class="flex justify-center">
  <div class="w-1/2 flex flex-col bg-shark-900 rounded-l-[1rem] hidden lg:flex relative overflow-hidden">
    @if (!isBannerLoaded()) {
    <div
      class="absolute inset-0 bg-[#272a31] border rounded-lg border-betaki-500 animate-pulse z-10 flex items-center justify-center"
    >
      <svg
        class="w-10 h-10 text-betaki-400 animate-spin"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
      >
        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
    </div>
    }
    <img
      ngSrc="assets/natal-login.jpeg"
      alt="Banner"
      fill
      class="object-cover rounded-l-[1rem] transition-opacity duration-300"
      [class.opacity-0]="!isBannerLoaded()"
      (load)="onBannerLoad()"
      priority
    />
  </div>

  <div
    class="bg-[#FFF] w-full h-full lg:w-3/4 rounded-[1rem] lg:rounded-l-[0px] md:rounded-r-[1rem] md:min-h-[500px] flex flex-col items-center justify-center"
  >
    <div class="w-full relative md:hidden">
      @if (!isInnerBannerLoaded()) {
      <div
        class="absolute inset-0 bg-shark-900 animate-pulse z-10 flex items-center justify-center rounded-t-lg h-[117px]"
      >
        <svg
          class="w-8 h-8 text-betaki-400 animate-spin"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
      </div>
      }
      <img
        ngSrc="assets/banner2.png"
        alt="Banner"
        width="320"
        height="117"
        priority
        class="w-full h-auto rounded-t-lg transition-opacity duration-300"
        [class.opacity-0]="!isInnerBannerLoaded()"
        (load)="onInnerBannerLoad()"
      />
    </div>
    <!-- inner banner -->
    <h1 class="mt-4 sm:mt-0 text-md sm:text-3xl font-bold text-shark-950">Entre para jogar!</h1>
    <form
      class="flex justify-center flex-col py-8 w-full max-w-sm gap-8 p-6 text-xs sm:text-lg"
      [formGroup]="form"
      (ngSubmit)="onLogin()"
    >
      <div>
        <div class="relative">
          <input
            placeholder="E-mail ou CPF"
            class="bg-[#EFF1F2]! p-3 rounded-lg w-full border border-transparent placeholder:text-gray-400"
            [class.border-red-500!]="
              form.get('username')?.invalid &&
              (form.get('username')?.touched || form.get('username')?.dirty)
            "
            autocomplete="username"
            type="text"
            id="username"
            formControlName="username"
            [mask]="mask()"
            (input)="onUsernameInput($event)"
          />

          <img
            src="/assets/icons/user-form.svg"
            alt="User Icon"
            class="absolute right-3 top-1/2 -translate-y-1/2 w-5 h-5"
            [class.red-icon]="
              form.get('username')?.invalid &&
              (form.get('username')?.touched || form.get('username')?.dirty)
            "
          />
        </div>
        @if (form.get('username')?.invalid && (form.get('username')?.touched || form.get('username')?.dirty)) {
        <div class="text-red-500 text-xs mt-1">
          @if (form.get('username')?.hasError('required')) {
          <span>Não pode ficar em branco.</span>
          }
        </div>
        }
      </div>

      <div>
        <div class="relative">
          <input
            placeholder="Insira sua senha"
            autocomplete="current-password"
            class="bg-[#EFF1F2]! p-3 rounded-lg w-full border border-transparent placeholder:text-gray-400"
            [class.border-red-500!]="
              form.get('password')?.invalid &&
              (form.get('password')?.touched || form.get('password')?.dirty)
            "
            [type]="showPassword() ? 'text' : 'password'"
            id="password"
            formControlName="password"
          />

                    <button
                      type="button"
                      class="absolute top-1/2 right-3 -translate-y-1/2 cursor-pointer focus:outline-none focus:ring-0"
                      (click)="togglePasswordVisibility()"
                      [class.red-icon]="
                        form.get('password')?.invalid &&
                        (form.get('password')?.touched || form.get('password')?.dirty)
                      "
                    >
                      <img
                        [src]="showPassword() ? 'assets/icons/eye-open.svg' : 'assets/icons/hide-pass.svg'"
                        alt="Toggle password visibility"
                        class="w-5 h-5 text-shark-950 hover:text-shark-800"
                      />
                    </button>        </div>
        @if (form.get('password')?.invalid && (form.get('password')?.touched || form.get('password')?.dirty)) {
        <div class="text-red-500 text-xs mt-1">
          @if (form.get('password')?.hasError('required')) {
          <span>Não pode ficar em branco.</span>
          }
        </div>
        }
        <div class="flex justify-end mt-2">
          <a routerLink="/auth/forgot-password" class="text-xs sm:text-sm underline">Esqueceu sua senha?</a>
        </div>
      </div>

      @if (loginError()) {
      <div class="text-red-500 text-center -my-4">
        <span class="text-xs sm:text-sm"> {{ loginError() }}</span>
      </div>
      }

      <app-button
        variant="primary"
        shape="rectangle"
        size="lg"
        overrideClass="w-1/2 sm:w-full m-auto rounded-xl p-2 sm:p-4 text-lg"
        type="submit"
        [disabled]="form.invalid || submitLoading()"
        [loading]="submitLoading()"
      >
        Entrar
      </app-button>

      <div class="flex justify-center items-center gap-x-5 text-shark-950">
        <span class="text-xs sm:text-sm">Novo por aqui?</span>
        <app-button variant="outline" routerLink="/auth/register" overrideClass="py-2 px-3 text-xs sm:text-sm">
          Crie uma conta
        </app-button>
      </div>
    </form>
  </div>
</div>
