<div class="player-profile-page-container">
  <app-page-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <div class="flex flex-col gap-4">
    <div class="page-section">
      <div class="section-item-container nowrap">
        <a class="section-item login-security" routerLink="/profile/general/security/login-credentials">
          <mat-icon class="item-icon" svgIcon="view-details" />
          <div class="flex flex-col">
            <div class="flex flex-col item-title">
              {{ 'Login credentials' | translate }}
            </div>
          </div>
          <div class="section-navigation">
            <mat-icon fontSet="material-icons-outlined" class="section-icon-16">chevron_right</mat-icon>
          </div>
        </a>
      </div>
    </div>

    <!-- <div class="page-section">
    <div class="section-item-container nowrap">
      <a class="section-item">
        <mat-icon class="item-icon" svgIcon="selfie"></mat-icon>
        <div class="flex flex-col">
          <div class="flex flex-col item-title">
            {{ 'Two-factor authentication' | translate }}
          </div>
        </div>
        <div class="section-navigation">
          <mat-slide-toggle class="silde-toggle" [formControl]="twoFactorAuthentication" [checked]="true">
          </mat-slide-toggle>
        </div>
      </a>
    </div>
  </div> -->

    <mat-accordion class="flex flex-col gap-4">
      <mat-expansion-panel class="profile-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="section-item login-security">
            <mat-icon class="item-icon" svgIcon="session-history" />
            <span class="item-title">{{ 'Session History' | translate }}</span></mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container *ngTemplateOutlet="sessionHistoryTemplate" />
      </mat-expansion-panel>

      <mat-expansion-panel class="profile-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="section-item login-security">
            <mat-icon class="item-icon" svgIcon="annual-report" />
            <span class="item-title">{{ 'Annual income report' | translate }}</span></mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container *ngTemplateOutlet="annualReportTemplate" />
      </mat-expansion-panel>

      <mat-expansion-panel class="profile-panel">
        <mat-expansion-panel-header>
          <mat-panel-title class="section-item login-security">
            <mat-icon class="item-icon" svgIcon="close" />
            <span class="item-title">{{ 'Close account' | translate }}</span></mat-panel-title
          >
        </mat-expansion-panel-header>
        <ng-container *ngTemplateOutlet="closeAccountTemplate" />
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<ng-template #sessionHistoryTemplate>
  <div class="panel-content">
    <div class="form-wrapper flex flex-wrap flex-col--lt-sm-2 gap-x-6 gap-y-4 full-width" [formGroup]="filterForm">
      <div class="field-wrapper-edit">
        <div class="form-field-label" translate>Status</div>
        <mat-form-field appearance="outline" class="form-input-select" subscriptSizing="dynamic">
          <mat-select
            formControlName="status"
            placeholder="Select"
            multiple
            #selectType
            [matTooltip]="selectType.triggerValue"
          >
            @for (item of statusList; track item) {
            <mat-option [value]="item">
              {{ item.label | translate }}
            </mat-option>
            }
          </mat-select>
          @if (filterForm.controls.status.hasError('required')) {
          <ng-container>
            <mat-error class="error-msg" translate> Required</mat-error>
          </ng-container>
          }
          <mat-icon [class]="selectType.panelOpen ? 'toggle-icon-focused' : 'toggle-icon'" matSuffix>{{
            selectType.panelOpen ? 'expand_less' : 'expand_more'
          }}</mat-icon>
        </mat-form-field>
      </div>

      <div class="flex flex-col--lt-sm-2 gap-x-6 gap-y-4">
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>From</div>
          <mat-form-field appearance="outline" class="form-input-select" subscriptSizing="dynamic">
            <input
              matInput
              [matDatepicker]="pickerFrom"
              (click)="pickerFrom.open()"
              placeholder="{{ 'From' | translate }}"
              formControlName="dateFrom"
              [max]="currentDate"
              [readonly]="true || isMobile()"
            />
            <mat-datepicker-toggle matSuffix [for]="pickerFrom">
              <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #pickerFrom />
            @if (filterForm.controls.dateFrom.hasError('dateRangeError')) {
            <ng-container>
              <mat-error translate class="error-msg">From date cannot be after To date</mat-error>
            </ng-container>
            }
          </mat-form-field>
        </div>
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>To</div>
          <mat-form-field appearance="outline" class="form-input-select" subscriptSizing="dynamic">
            <input
              matInput
              [matDatepicker]="pickerTo"
              (click)="pickerTo.open()"
              placeholder="{{ 'To' | translate }}"
              formControlName="dateTo"
              [max]="currentDate"
              [readonly]="true || isMobile()"
            />
            <mat-datepicker-toggle matSuffix [for]="pickerTo">
              <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #pickerTo />
            @if (filterForm.controls.dateFrom.hasError('dateRangeError')) {
            <ng-container>
              <mat-error translate class="error-msg">From date cannot be after To date</mat-error>
            </ng-container>
            }
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap flex-col--lt-sm-2 gap-x-6 gap-y-4 full-width">
      <div class="section-actions">
        <button [disabled]="filterForm.invalid" mat-button class="section-action flex-grow" (click)="searchItems()">
          <span translate>Apply</span>
        </button>
      </div>
    </div>
    @if (pagedData.length) {
    <div class="table-container">
      <ng-container *ngTemplateOutlet="sessionHistoryTable" />
    </div>
    }
  </div>
</ng-template>

<ng-template #annualReportTemplate>
  <div class="panel-content-box">
    <p
      [innerHTML]="
        'To receive your annual income report, click the Request Report button. An email will be sent to you with a confirmation link. Click the link to complete the process.'
          | translate
      "
    ></p>
    <button mat-button class="button-text-small label-dark flex-grow mt-5 text-white!" (click)="annualReportRequest()">
      {{ 'Request report' | translate }}
    </button>
  </div>
</ng-template>

<ng-template #sessionHistoryTable>
  @for (record of pagedData; track record) {
  <mat-card>
    <div class="table-row flex-col--lt-sm-2">
      <div class="col wide">
        <div class="label" translate>IP</div>
        <div class="value">{{ record.clientIp }}</div>
      </div>
      <div class="col wide">
        <div class="label" translate="">Start</div>
        <div class="value">{{ record.logonTime | date : 'd MMM yyyy, HH:mm' }}</div>
      </div>
      <div class="col wide">
        <div class="label" translate="">End</div>
        <div class="value">{{ (record.logoutTime | date : 'd MMM yyyy, HH:mm') ?? '—' }}</div>
      </div>
      <div class="col">
        <div class="label" translate="">Status</div>
        <div class="value">{{ record.status ?? '-' | translate }}</div>
      </div>
    </div>
  </mat-card>
  }
  <mat-paginator [length]="sessionHistoryData.length" [pageSize]="tablePageSize" (page)="onPageChange($event)" />
</ng-template>

<ng-template #closeAccountTemplate>
  <div class="panel-content-box">
    <p [innerHTML]="'We are sorry to see you go. Close account.' | translate"></p>
    <button mat-button class="button-text-small label-dark flex-grow mt-5 text-white!" (click)="closeAccount()">
      {{ 'Close Account' | translate }}
    </button>
  </div>
</ng-template>
