<div class="profile-account-info">
  <div class="profile-info-name">
    {{ playerName }}
  </div>
  <div class="profile-info-email">
    {{ playerEmail }}
  </div>

  <div class="logout-button flex-row gap-8 hidden-desktop" (click)="onSignOut()">
    <mat-icon fontSet="material-icons-outlined">logout</mat-icon>
    <span translate>LOGOUT</span>
  </div>

  <div class="divider"></div>

  <div class="profile-account-balance-container">
    <div class="profile-account-balance-main">
      {{ account?.totalBalance | number: '1.2':dataStoreService.defaultLanguage }}
    </div>
    <div class="profile-account-balance-currency">{{ account?.currency }}</div>
  </div>

  <div [ngClass]="{ 'hidden-expand': !isExpanded }" class="profile-account-balance-details-container">
    <div class="profile-account-balance-details-balances">
      <!-- ICATL-89 As a Player I want to access the General section of the Profile Page -->
      <!-- <div class="profile-account-balance-details-balance">
        {{ account?.lockedBalance | number: '1.2':dataStoreService.defaultLanguage }}
      </div> -->
      <div class="profile-account-balance-details-balance">
        {{ account?.realMoneyBalance | number: '1.2':dataStoreService.defaultLanguage }}
      </div>
      <div class="profile-account-balance-details-balance">
        {{ account?.bonusCasinoBalance | number: '1.2':dataStoreService.defaultLanguage }}
      </div>
      <div class="profile-account-balance-details-balance">
        {{ account?.bonusSportsbookBalance | number: '1.2':dataStoreService.defaultLanguage }}
      </div>
    </div>
    <div class="profile-account-balance-details-infos">
      <!-- <div class="profile-account-balance-details-info" translate>Locked Balance</div> -->
      <div class="profile-account-balance-details-info" translate>Real Money Balance</div>
      <div class="profile-account-balance-details-info" translate>Bonus Casino Balance</div>
      <div class="profile-account-balance-details-info" translate>Bonus Sportsbook balance</div>
    </div>
  </div>

  <div *ngIf="isExpanded" class="divider hidden-desktop"></div>

  <div *ngIf="isExpanded" class="vip-level-container hidden-desktop">
    <app-vip-level [vipLevelName]="loyaltyPoints?.vipLevel ?? '/'" [vipCounter]="getVipLevelPercent()"></app-vip-level>
  </div>

  <div class="expand-icon-container" (click)="toggleInfo()">
    <mat-icon [ngClass]="isExpanded ? 'expanded' : ''">keyboard_arrow_down</mat-icon>
  </div>
</div>
