:host {
  position: fixed;
  width: 12rem; /* 192px */
  z-index: 40;

  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  pointer-events: none;
  // max-w

  @media screen and (max-width: 40rem) {
    width: 100%;
    left: 0;
    right: 0;
  }
}

.profile-modal-content {
  @media screen and (max-width: 40rem) {
    width: 100%;
  }
}

:host(.is-open) {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.bg-gold {
  background: linear-gradient(90deg, #eabb2c 0%, #dcae24 100%);
}
