@if (isOpen()) {
<div
  animate.enter="animate-enter-fadeIn"
  animate.leave="animate-leave-fadeOut"
  class="bg-[#f1f1f1] xs:rounded-md shadow-lg w-90 relative overflow-hidden profile-modal-content border-brand-500! text-sm"
>
  <div class="py-4 px-4">
    <div class="profile-data flex">
      <!-- circular image -->

      <div class="profile-info flex items-center text-black justify-center w-full">
        <mat-icon class="user-icon" svgIcon="essentials-user-black-outlined" />
        @if (playerDetails(); as details) {
        <h5 class="mb-0 font-medium ms-2">{{ details.firstName }} {{ details.lastName }}</h5>
        } @else {
        <h5 class="mb-0 font-medium">Usuário</h5>
        <p class="mb-0 text-muted">Carregando...</p>
        }
      </div>
    </div>

    <div
      class="rounded-lg p-4 d-flex border-1 border-[#DDDDDD] align-items-center mt-4 profile-balance bg-white text-black font-bold"
    >
      <div class="flex justify-between w-full">
        <span class="flex gap-1.5 items-center">
          Saldo
          <img
            [src]="
              isBalanceVisible() ? '/assets/icons/hide-pass.svg' : '/assets/icons/eye-open.svg'
            "
            alt="Password Icon"
            class="w-4 h-4 cursor-pointer"
            tabindex="0"
            (click)="toggleBalanceVisibility()"
            (keyup.enter)="toggleBalanceVisibility()"
            (keyup.space)="toggleBalanceVisibility()"
          />
        </span>
        @if(isBalanceVisible()){
        <span>R$ {{ (totalBalance() | currency : 'BRL')?.slice(2) }} </span>
        } @else {
        <span>R$ *****</span>
        }
      </div>

      <div class="bg-[#20240029] h-px my-3"></div>

      <div class="flex justify-between w-full pb-2">
        <span class="flex gap-1.5 items-center text-xs!"> Saldo disponível para o saque </span>
        @if(isBalanceVisible()){
        <span>R$ {{ (withdrawableBalance() | currency : 'BRL')?.slice(2) }} </span>
        } @else {
        <span>R$ *****</span>
        }
      </div>

      <div class="flex justify-between w-full pb-2">
        <span class="flex gap-1.5 items-center text-xs!"> Bônus de Apostas Esportivas </span>
        @if(isBalanceVisible()){
        <span>R$ {{ (sportsbookBonusBalance() | currency : 'BRL')?.slice(2) }} </span>
        } @else {
        <span>R$ *****</span>
        }
      </div>

      <div class="flex justify-between w-full">
        <span class="flex gap-1.5 items-center text-xs!"> Bônus de Cassino </span>
        @if(isBalanceVisible()){
        <span>R$ {{ (casinoBonusBalance() | currency : 'BRL')?.slice(2) }} </span>
        } @else {
        <span>R$ *****</span>
        }
      </div>
    </div>

    <div class="profile-actions flex flex-col justify-center items-center text-center text-black">
      <a
        class="underline font-medium mt-4 cursor-pointer"
        (click)="updateBalance()"
        (keyup.enter)="updateBalance()"
        (keyup.space)="updateBalance()"
        tabindex="0"
      >
        Atualizar
      </a>

      <div class="w-full flex items-center mt-4 gap-2">
        <button
          tabindex="0"
          class="bg-brand-500 text-white p-3 rounded-lg font-bold h-full w-full cursor-pointer"
          routerLink="/profile"
          (click)="onMyAccount()"
          (keyup.enter)="onMyAccount()"
          (keyup.space)="onMyAccount()"
        >
          Minha conta
        </button>

        <span tabindex="0" (click)="onLogout()" (keyup.enter)="onLogout()" (keyup.space)="onLogout()">
          <img [src]="'/assets/icons/logout.svg' | cdnize" alt="Logout Icon" class="cursor-pointer w-7 h-7" />
        </span>
      </div>
    </div>
  </div>
</div>
}
