<app-base-dialog [title]="'Player activation' | translate" [displayCloseButton]="true">
  <div class="text-center mb-4" dialogContent>
    {{ 'Activation successful you can now' | translate }}
    <a class="link sign-in-link" (click)="onClose({ closeEvent: 'signIn' })">
      <span translate>sign in.</span>
    </a>
  </div>

  <ng-container dialogButtons>
    <app-button variant="neutral" fullWidth (click)="onClose({ closeEvent: 'signIn' })">
      {{ 'SIGN IN' | translate }}
    </app-button>
  </ng-container>
</app-base-dialog>
