<!-- Form -->
<form class="form flex-col pt-24" *ngIf="registerForm" [formGroup]="registerForm">
  <!-- Email input -->
  <div class="field-wrapper mb-16">
    <mat-form-field appearance="outline" class="form-input-secondary flex-col" subscriptSizing="dynamic">
      <input #emailInput matInput type="email" placeholder="Email" formControlName="email" />
      <mat-error
        *ngIf="registerForm.controls.email?.hasError('required') && registerForm.controls.email.dirty"
        class="error-msg"
        translate
      >
        can't be blank</mat-error
      >
      <mat-error
        *ngIf="
          registerForm.controls.email?.hasError('email') &&
          !registerForm.controls.email?.hasError('maxlength') &&
          registerForm.controls.email.dirty
        "
        class="error-msg"
        translate
      >
        invalid email</mat-error
      >
      <mat-error
        *ngIf="this.registerForm.controls.email?.hasError('emailTaken') && registerForm.controls.email?.dirty"
        class="error-msg"
        translate
      >
        has already been taken
      </mat-error>
      <mat-error
        *ngIf="registerForm.controls.email?.hasError('maxlength') && registerForm.controls.email.dirty"
        class="error-msg"
        translate
      >
        Too long (max 100 characters)</mat-error
      >
    </mat-form-field>
  </div>
  <!-- Password input -->
  <div class="field-wrapper mb-16">
    <mat-form-field appearance="outline" class="form-input-secondary flex-col" subscriptSizing="dynamic">
      <input
        #passwordInput="matInput"
        matInput
        [type]="hidePassword ? 'password' : 'text'"
        placeholder="Password"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePassword()"
        [attr.aria-label]="showHidePasswordLabel"
        [attr.title]="showHidePasswordLabel"
        type="button"
        class="showHidePasswordButton"
      >
        <mat-icon class="showHidePasswordIcon">{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
      </button>
      <!-- <app-password-strength-indicator [matInput]="passwordInput"></app-password-strength-indicator> -->
      <mat-error
        *ngIf="registerForm.controls.password?.hasError('required') && registerForm?.controls?.password?.dirty"
        class="error-msg"
        translate
      >
        can't be blank</mat-error
      >
      <mat-error
        *ngIf="registerForm.controls.password?.hasError('minlength') && registerForm?.controls?.password?.dirty"
        class="error-msg"
        translate
      >
        Too short (min 8 characters)</mat-error
      >
      <mat-error
        *ngIf="registerForm.controls.password?.hasError('maxlength') && registerForm?.controls?.password?.dirty"
        class="error-msg"
        translate
      >
        Too long (max 100 characters)</mat-error
      >
      <mat-error
        *ngIf="
          registerForm?.controls?.password?.hasError('pattern') &&
          !registerForm?.controls?.password?.hasError('minlength') &&
          registerForm?.controls?.password?.dirty
        "
        class="error-msg"
        translate
      >
        Password must include uppercase and lowercase letters, a number, and a special character</mat-error
      >
    </mat-form-field>
  </div>

  <!-- CPF -->
  <div class="field-wrapper mb-16">
    <mat-form-field appearance="outline" class="form-input-secondary flex-col" subscriptSizing="dynamic">
      <input matInput type="text" [placeholder]="'CPF' | translate" formControlName="cpf" />
      <mat-error
        *ngIf="registerForm.controls.cpf?.hasError('required') && registerForm?.controls?.cpf?.dirty"
        class="error-msg"
        translate
      >
        can't be blank</mat-error
      >
      <mat-error
        *ngIf="
          registerForm.controls.cpf?.hasError('cpfInvalid') &&
          registerForm?.controls?.cpf?.dirty &&
          !registerForm.controls.cpf?.hasError('required')
        "
        class="error-msg"
        translate
      >
        CPF is invalid. Only numbers are allowed.</mat-error
      >
    </mat-form-field>
  </div>

  <!-- Terms and conditions checkbox -->
  <div class="field-wrapper">
    <mat-checkbox
      formControlName="acceptTerms"
      subscriptSizing="dynamic"
      color="primary"
      class="custom-checkbox mdc-form-field-alignment-normal"
    >
      <span class="info-text" translate>
        I am 18 years old and I accept the
        <a class="link" target="_blank" href="/terms-and-conditions" translate>Terms and Conditions</a>
        and <a class="link" target="_blank" href="/terms-and-conditions#privacy-policy" translate>Privacy Policy</a>.
      </span>
      <mat-error *ngIf="registerForm.controls.acceptTerms?.hasError('accepted')" class="error-msg">
        <span translate>must be accepted</span>
      </mat-error>
    </mat-checkbox>
  </div>

  <mat-error *ngIf="registerError" class="error-msg pt-16">
    <span translate>{{ registerError }}</span>
  </mat-error>

  <!-- Register button -->
  <button
    mat-button
    type="submit"
    class="button-larger-text register-button flex-row mb-8 mt-24"
    [disabled]="submitDisabled"
    (click)="onRegister()"
  >
    <span *ngIf="!isDataLoading" class="register-button-text mr-8" translate>Next</span>
    <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5"></app-loader>
  </button>
</form>
