@use "sass:map";
@use "sass:color";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

:host ::ng-deep .country-form-field {
  .mat-mdc-text-field-wrapper {
    width: 6rem;
  }
}

.form {
  width: 100%;
}

.register-button {
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;

  .register-button-text {
    text-transform: uppercase;
    color: map.get($app-custom-colors, "neutral-white");
    font-weight: 400;
  }
}

.error-msg {
  font-family: Roboto, sans-serif;
  line-height: unset;
  padding: unset;
  text-align: left;
  margin-top: 0.5rem;

  &::before {
    display: none;
  }
}

.phone-field-wrapper {
  gap: 1rem;
}

.phone-number {
  flex: 1;

  @include utils.media(gt-sm-1) {
    flex-basis: 17rem;
  }
}

.phone-number-input {
  padding-left: 0.25rem;
}

.flag {
  position: absolute;
  top: 0.375rem;
  right: -0.625rem;
  height: 2.25rem;
  width: 3.625rem;
  border-radius: 0.25rem;
  background-color: map.get($app-custom-colors, "neutral-white");
  cursor: pointer;

  img {
    width: 1.75rem;
    height: 100%;
    aspect-ratio: 28 / 20;
    margin-left: 0.5rem;
  }
}

.country-code-container {
  width: 6rem;
  min-width: 3.75rem;
  height: 2.25rem;
  background-color: map.get($app-custom-colors, "neutral-30");
  padding-left: 0.75rem;
  padding-top: 0.1875rem;

  .label {
    font-size: 0.5rem;
    color: color.adjust(map.get($app-custom-colors, "neutral-white"), $alpha: -0.25);
    margin-bottom: 0.125rem;
  }

  .container {
    .country-code-image {
      margin-right: 0.25rem;
      border-radius: 50%;
    }

    .country-code-text {
      font-size: 0.75rem;
      color: color.adjust(map.get($app-custom-colors, "neutral-white"), $alpha: -0.25);
    }
  }
}

.register-error {
  font-size: 0.75rem;
  color: map.get($app-custom-colors, "Betaki_error");
}

.info-text {
  color: map.get($app-custom-colors, "neutral-40");
  font-size: 0.75rem;
}

.link {
  color: map.get($app-custom-colors, "Betaki_error");
  font-family: Sailec-Medium, sans-serif, Verdana;
  text-decoration: none;
  font-size: 0.75rem;
  cursor: pointer;
}

.showHidePasswordButton {
  .showHidePasswordIcon {
    color: color.adjust(map.get($app-custom-colors, "neutral-white"), $alpha: -0.25);
    transition: color 0.3s ease;
  }

  &:hover {
    .showHidePasswordIcon {
      color: color.adjust(map.get($app-custom-colors, "neutral-white"), $alpha: -0.4);
    }
  }
}
