<div class="game-container" [class.multi-screen]="multiScreen">
  <div class="title-container">
    <div (click)="goBack()" class="title-back-button font-icons font-icons--arrow-full-left"></div>
    <div class="title-text">{{ gameScreen?.game?.gameName || 'Game' }}</div>
    <div (click)="closeGame()" class="title-close-button font-icons font-icons--close"></div>
  </div>
  <div class="iframe-container">
    <iframe referrerpolicy="origin" class="game-iframe" frameBorder="0" [src]="gameUrl"></iframe>
  </div>
</div>
