<form [formGroup]="registerForm" class="register-form-container flex flex-col items-start">
  <app-page-breadcrumbs
    [showTopBar]="false"
    [breadcrumbs]="breadcrumbs"
    class="form-tab-title items-center justify-center gap-4 mobile-only"
  />

  <span class="form-tab-title desktop-only flex items-center justify-center gap-4" translate>Register with Betaki</span>

  <div class="form-content-wrapper full-width flex flex-col">
    <div class="flex flex-col full-width register-form-section">
      <span class="form-section-title" translate>Enter your data</span>
      <!-- CPF -->
      <div class="field-wrapper">
        <mat-form-field
          appearance="outline"
          class="form-input-primary error-border flex flex-col no-border"
          subscriptSizing="dynamic"
        >
          <input
            matInput
            type="text"
            (input)="onCpfInput($event)"
            [placeholder]="'CPF' | translate"
            formControlName="cpf"
          />
          <mat-icon
            [class.error-icon]="registerForm.controls.cpf.touched && registerForm.controls.cpf.invalid"
            matIconSuffix
            fontSet="material-icons-outlined"
            >person</mat-icon
          >
          @if (registerForm.controls.cpf.hasError('required') && registerForm.controls.cpf.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> can't be blank</mat-error>
            </ng-container>
          }
          @if (
            registerForm.controls.cpf.hasError('cpfInvalid') &&
            registerForm.controls.cpf.dirty &&
            !registerForm.controls.cpf.hasError('required')
          ) {
            <ng-container>
              <mat-error class="error-msg" translate> CPF is invalid. Only numbers are allowed.</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Date of birth -->
      <div class="field-wrapper">
        <mat-form-field
          appearance="outline"
          class="form-input-primary error-border flex flex-col no-border"
          subscriptSizing="dynamic"
        >
          <input
            #dateInput
            [readonly]="false"
            [matDatepicker]="picker"
            matInput
            [placeholder]="'Date of birth (DD/MM/YYYY)' | translate"
            formControlName="dateOfBirth"
            appDateAutoFormat
            [max]="maxDate"
          />
          <mat-datepicker #picker />
          <mat-icon
            (click)="picker.open()"
            matIconSuffix
            [class.error-icon]="registerForm.controls.dateOfBirth.touched && registerForm.controls.dateOfBirth.invalid"
            class="datepicker-icon"
            >calendar_month</mat-icon
          >
          @if (
            registerForm.controls.dateOfBirth.hasError('required') &&
            (!dateInput.value.length || dateInput.value.length === 0) &&
            registerForm.controls.dateOfBirth.dirty
          ) {
            <ng-container>
              <mat-error class="error-msg" translate> can't be blank</mat-error>
            </ng-container>
          }
          @if (
            registerForm.controls.dateOfBirth.hasError('required') &&
            dateInput.value.length > 0 &&
            registerForm.controls.dateOfBirth.dirty
          ) {
            <ng-container>
              <mat-error class="error-msg" translate> Date is invalid. Accepted format MM/DD/YYYY.</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Mobile Phone input -->
      <div class="field-wrapper">
        <mat-form-field
          appearance="outline"
          class="form-input-primary flex flex-col error-border no-border"
          subscriptSizing="dynamic"
        >
          <span matPrefix class="telephone-prefix">+55</span>
          <input
            matInput
            type="tel"
            [placeholder]="'Telephone' | translate"
            (keydown)="validateNumber($event)"
            (paste)="onPasteMobileNumber($event)"
            formControlName="phone"
          />
          <mat-icon
            fontSet="material-icons-outlined"
            [class.error-icon]="registerForm.controls.phone.touched && registerForm.controls.phone.invalid"
            matIconSuffix
            >call</mat-icon
          >

          @if (registerForm.controls.phone.hasError('required') && registerForm.controls.phone.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> can't be blank</mat-error>
            </ng-container>
          }
          @if (registerForm.controls.phone.hasError('invalidBrazilianMobile') && registerForm.controls.phone.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> {{ 'Invalid phone number' | translate | lowercase }}</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Email input -->
      <div class="field-wrapper">
        <mat-form-field
          appearance="outline"
          class="form-input-primary flex flex-col error-border no-border"
          subscriptSizing="dynamic"
        >
          <input #emailInput matInput type="email" placeholder="Email" formControlName="email" />
          <mat-icon
            [class.error-icon]="registerForm.controls.email.touched && registerForm.controls.email.invalid"
            fontSet="material-icons-outlined"
            matIconSuffix
            >alternate_email</mat-icon
          >
          @if (registerForm.controls.email.hasError('required') && registerForm.controls.email.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> can't be blank</mat-error>
            </ng-container>
          }
          @if (
            registerForm.controls.email.hasError('email') &&
            !registerForm.controls.email.hasError('maxlength') &&
            registerForm.controls.email.dirty
          ) {
            <ng-container>
              <mat-error class="error-msg" translate> invalid email</mat-error>
            </ng-container>
          }
          @if (this.registerForm.controls.email.hasError('emailTaken') && registerForm.controls.email.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> has already been taken </mat-error>
            </ng-container>
          }
          @if (registerForm.controls.email.hasError('maxlength') && registerForm.controls.email.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> Too long (max 100 characters)</mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-col full-width register-form-section">
      <span class="form-section-title" translate>Access password</span>
      <!-- Password input -->
      <div class="field-wrapper">
        <mat-form-field
          appearance="outline"
          class="form-input-primary flex flex-col error-border no-border"
          subscriptSizing="dynamic"
        >
          <input
            #passwordInput="matInput"
            matInput
            [type]="hidePassword ? 'password' : 'text'"
            [placeholder]="'Password' | translate"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePassword()"
            [attr.aria-label]="showHidePasswordLabel"
            [attr.title]="showHidePasswordLabel"
            type="button"
            class="showHidePasswordButton"
          >
            <mat-icon fontSet="material-icons-outlined" class="showHidePasswordIcon">{{
              hidePassword ? 'visibility' : 'visibility_off'
            }}</mat-icon>
          </button>
          <!-- <app-password-strength-indicator [matInput]="passwordInput"></app-password-strength-indicator> -->
          @if (registerForm.controls.password.hasError('required') && registerForm.controls.password.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> can't be blank</mat-error>
            </ng-container>
          }
          @if (registerForm.controls.password.hasError('minlength') && registerForm.controls.password.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> Too short (min 8 characters)</mat-error>
            </ng-container>
          }
          @if (registerForm.controls.password.hasError('maxlength') && registerForm.controls.password.dirty) {
            <ng-container>
              <mat-error class="error-msg" translate> Too long (max 100 characters)</mat-error>
            </ng-container>
          }
          @if (
            registerForm.controls.password.hasError('pattern') &&
            !registerForm.controls.password.hasError('minlength') &&
            registerForm.controls.password.dirty
          ) {
            <ng-container>
              <mat-error class="error-msg" translate>
                Password must include uppercase and lowercase letters, a number, and a special character</mat-error
              >
            </ng-container>
          }
        </mat-form-field>
      </div>
      <!-- Password input -->
      <div class="field-wrapper">
        <mat-form-field
          appearance="outline"
          class="form-input-primary flex flex-col error-border no-border"
          subscriptSizing="dynamic"
        >
          <input
            #passwordInput="matInput"
            matInput
            [type]="hideConfirmPassword ? 'password' : 'text'"
            [placeholder]="'Confirm your password' | translate"
            formControlName="passwordConfirmation"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="toggleConfirmPassword()"
            [attr.aria-label]="showHideConfirmPasswordLabel"
            [attr.title]="showHideConfirmPasswordLabel"
            type="button"
            class="showHidePasswordButton"
          >
            <mat-icon fontSet="material-icons-outlined" class="showHidePasswordIcon">{{
              hideConfirmPassword ? 'visibility' : 'visibility_off'
            }}</mat-icon>
          </button>
          <!-- <app-password-strength-indicator [matInput]="passwordInput"></app-password-strength-indicator> -->
          @if (
            registerForm.controls.passwordConfirmation.hasError('match') &&
            registerForm.controls.passwordConfirmation.dirty
          ) {
            <ng-container>
              <mat-error class="error-msg" translate> can't be blank</mat-error>
            </ng-container>
          }
          @if (passwordMatchError) {
            <ng-container>
              <mat-error class="mat-error" translate> Passwords must match </mat-error>
            </ng-container>
          }
        </mat-form-field>
      </div>
    </div>

    @if (registerError) {
      <mat-error class="error-msg">
        <span translate>{{ registerError }}</span>
      </mat-error>
    }
  </div>

  <div class="bottom-actions-container flex flex-col">
    <div class="flex flex-col full-width">
      <mat-checkbox formControlName="acceptTerms" class="terms-checkbox">
        <div class="checkbox-text">
          <span translate>I declare that I have read and accept the general</span>
          <a class="link" routerLink="/terms-and-conditions" translate>Terms and Conditions</a>
          <span translate> and the </span>
          <a class="link" routerLink="/privacy-policy" translate>Privacy Policy</a>
          <span>.</span>
        </div>
      </mat-checkbox>
    </div>

    <button
      (click)="submitData()"
      [disabled]="registerForm.invalid || isDataLoading"
      mat-button
      class="full-width register-button hide mobile"
    >
      <span translate>Register</span>
    </button>
  </div>
</form>
