@use "sass:map";
@use "sass:color";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.register-form-container {
  color: map.get($app-custom-colors, "Betaki_black");
  max-width: 41.25rem;
  width: 100%;
  padding: 0 2rem;

  @include utils.media("lt-sm-2") {
    padding: 0;
  }
}

.form-content-wrapper {
  gap: 1.5rem;

  @include utils.media("lt-sm-2") {
    gap: 1rem;
    padding: 0 1rem;
  }
}

.register-form-section {
  background-color: map.get($app-custom-colors, "betaki-white100");
  border-radius: 2rem;
  gap: 1rem;
  padding: 2.5rem 2rem;

  @include utils.media("lt-sm-2") {
    gap: 0.5rem;
    padding: 1rem 1.5rem;
  }
}

.form-tab-title {
  font-weight: 700;
  font-size: 1.75rem;
  width: 100%;
  line-height: 100%;
  vertical-align: middle;
  padding: 3rem 0;
  align-self: center;

  @include utils.media("lt-sm-2") {
    font-size: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  .tab-number {
    background-color: map.get($app-custom-colors, "Betaki_success");
    border-radius: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include utils.media("lt-sm-2") {
      width: 1rem;
      height: 1rem;
    }
  }
}

.form-section-title {
  font-size: 1rem;
  letter-spacing: 0.0088rem;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    font-size: 0.875rem;
  }
}

.full-width {
  width: 100%;
}

.bottom-actions-container {
  gap: 2rem;
  padding-top: 2rem;
  width: 30rem;
  align-self: center;

  @include utils.media("lt-sm-2") {
    width: 16.5rem;
    gap: 1.5rem;
    padding-top: 1.5rem;
  }
}

.register-button {
  height: 4rem;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.125rem;
  letter-spacing: 0.0481rem;
  border-radius: 1rem;
  text-align: center;
  vertical-align: middle;

  @include utils.media("lt-sm-2") {
    height: 2rem;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.0481rem;
  }

  span {
    color: map.get($app-custom-colors, "Betaki_olivia");
  }
}

.date-picker-logo {
  color: #090b01;
}

.error-icon {
  color: map.get($app-custom-colors, "Betaki_error");
}

@include utils.media("lt-sm-2") {
  .field-wrapper {
    margin-bottom: 0.25rem;
  }
}

.link {
  color: map.get($app-custom-colors, "Betaki_success");
  text-decoration: none;
}

mat-checkbox {
  .mdc-form-field {
    width: 100%;
  }
}

mat-icon {
  color: map.get($app-custom-colors, "Betaki_olivia");

  &:hover {
    color: color.adjust(map.get($app-custom-colors, "Betaki_olivia"), $alpha: -0.4);
  }
}

.terms-checkbox {
  width: 25rem;
  align-self: center;

  @include utils.media("lt-sm-2") {
    width: 16.5rem;
  }
}

.checkbox-text {
  color: map.get($app-custom-colors, "Betaki_olivia");
  float: left;
  text-align: left;

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
    line-height: 0.875rem;
  }
}

.telephone-prefix {
  color: #b5b5b2;
  padding-left: 0.5rem;
  padding-top: 0.1rem;
  display: inline-block;
  font-weight: 100;

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
  }
}

.datepicker-icon {
  cursor: pointer;
}

.desktop-only {
  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.mobile-only {
  @include utils.media("gt-sm-1") {
    display: none;
  }
}
