@use "sass:map";
@use "sass:color";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

:host {
  width: 100%;
}

.section-item-container {
  &.support {
    cursor: pointer;
  }

  &.verification {
    cursor: pointer;
  }

  &.phone-verification {
    cursor: pointer;
  }
}

.show-icon {
  cursor: pointer;

  mat-icon {
    font-size: 1.2rem;
    height: 1.2rem;
    width: 1.2rem;
    vertical-align: middle;
    color: map.get($app-custom-colors, "betaki-green100");
  }
}

.page-section-multiple {
  padding: 0 1.5rem;
}

.section-navigation-text {
  font-size: 0.75rem;
  color: map.get($app-custom-colors, "betaki-green100");
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: end;
  margin-left: auto;
}

.welcome-strip {
  font-size: 1.375rem;
  line-height: 150%;
  font-weight: 300;
  color: map.get($app-custom-colors, "betaki-black100");
  margin-bottom: -0.75rem;

  span {
    font-weight: 700;
  }

  @include utils.media("gt-sm-1") {
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
  }
}

.deposit-action,
.withdrawal-action {
  height: 2.5rem;
  width: 10rem;

  @include utils.media("lt-sm-2") {
    height: 3rem;
  }
}

.divider {
  border-bottom: 1px solid #dddfe4;
  width: 100%;
}

.balance-label {
  color: map.get($app-custom-colors, "betaki-black100");
  font-weight: 700;
  font-size: 0.75rem;
}

.amount-secondary {
  font-weight: 600;
  font-size: 1rem;
  color: map.get($app-custom-colors, "betaki-black100");
}

.hide-mobile {
  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.hide-desktop {
  @include utils.media("gt-sm-1") {
    display: none;
  }
}
