<app-base-dialog [title]="data.title | translate">
  <p class="text-center" dialogContent>{{ data.message | translate }}</p>
  <ng-container dialogButtons>
    <div class="flex gap-4">
      <button mat-stroked-button class="button-text-small label-dark flex-grow" (click)="cancel()">
        {{ data.cancelButtonText ?? 'No' | translate }}
      </button>
      <button mat-button class="button-text-small label-dark flex-grow" (click)="confirm()">
        {{ data.confirmButtonText ?? 'Yes' | translate }}
      </button>
    </div>
  </ng-container>
</app-base-dialog>
