<app-base-dialog [title]="data.title | translate">
  <p dialogContent>{{ data.message | translate }}</p>
  <ng-container dialogButtons>
    <button mat-stroked-button class="button-text-small label-dark flex-grow" (click)="cancel()">
      {{ data.cancelButtonText ?? 'No' | translate }}
    </button>
    <button mat-button class="button-text-small label-dark flex-grow" (click)="confirm()">
      {{ data.confirmButtonText ?? 'Yes' | translate }}
    </button>
  </ng-container>
</app-base-dialog>
