<app-base-dialog [title]="data.title | translate">
  <p class="text-center" dialogContent>{{ data.message | translate }}</p>
  <ng-container dialogButtons>
    <div class="flex w-full items-center gap-4">
      <app-button class="flex-1" fullWidth variant="outline" (click)="cancel()">
        {{ data.cancelButtonText ?? 'No' | translate }}
      </app-button>
      <app-button class="flex-1" fullWidth variant="primary" (click)="confirm()">
        {{ data.confirmButtonText ?? 'Yes' | translate }}
      </app-button>
    </div>
  </ng-container>
</app-base-dialog>
