<app-basic-page-container>
  <div class="text-container">
    <h1 translate>Payment Methods</h1>

    <p translate>
      At Comtrade Gaming we offer a range of payment options fee-free, including credit/debit card transactions and
      e-wallets. The minimum deposit is 10€ or equivalent value in a different currency.
    </p>

    <p translate>
      We accept and process EUR, USD, NZD and CAD. Fiat currency will be equivalent to Euro deposits and conditions.
    </p>
  </div>

  <div class="payments-table-selection-container flex gap-2">
    <div (click)="selectDeposit()" [class.active]="selectedDeposit">WALLET</div>
    <div (click)="selectWithdrawal()" [class.active]="selectedWithdrawal">WITHDRAWALS</div>
  </div>

  <div class="payments-table-container" [class.hidden]="selectedWithdrawal">
    <app-payments-table [tableActionTitle]="'Deposit'" [paymentMethods]="depositMethods" [username]="username" />
  </div>

  <div class="table-divider"></div>

  <div class="payments-table-container" [class.hidden]="selectedDeposit">
    <app-payments-table [tableActionTitle]="'Withdraw'" [paymentMethods]="withdrawMethods" [username]="username" />
  </div>

  <div class="footer-note" [class.hidden]="selectedDeposit">
    <p translate>
      <span class="footer-char">* </span>Bank Transfer Fee - 3.75% and 5 EUR fixed commission / A fee may be charged by
      the intermediary banks
    </p>
  </div>
</app-basic-page-container>
