<div class="player-profile-page-container flex flex-col items-center">
  <!-- INPUT STEP -->
  <div class="page-section flex-col gap-32" *ngIf="verificationStep === 1">
    <div class="title" translate>Enter the code sent</div>
    <div class="subtitle" translate>
      {{
        'We’ve sent a security code to your chosen option (email or SMS). If you don’t receive it, please check your spam or junk folder. It may take a few minutes to arrive.'
          | translate
      }}
    </div>

    <div [formGroup]="otpForm" class="code-container flex-col gap-16 justify-center items-center">
      <span translate>Code:</span>
      <div formArrayName="otp" class="otp-input-container">
        <input
          *ngFor="let digit of otpControls.controls; let i = index"
          type="text"
          maxlength="1"
          [formControlName]="i"
          (keyup)="onKeyUp($event, i)"
          (keydown)="onKeyDown($event, i)"
          (paste)="onPaste($event)"
          #otpInput
        />
      </div>
      <mat-error *ngIf="isVerifyError" class="error-msg" translate>{{
        'The verification code you entered is incorrect or has already expired. Please try again or request a new code.'
          | translate
      }}</mat-error>
    </div>

    <button [disabled]="getOtpCode().length !== otpLength" mat-button (click)="onVerifyCode()">
      <span translate>Proceed</span>
    </button>
  </div>

  <!-- SUCCESS STEP -->
  <div class="page-section flex-col gap-32 items-center" *ngIf="verificationStep === 2 && isSuccess">
    <img class="success-img" alt="check" [src]="'assets/general/icons/success-check.svg' | cdnize" />
    <div class="title" translate>E-mail successfully verified</div>
    <div class="subtitle" translate>You can now access all the features of your account. Welcome and good luck.</div>
  </div>

  <div *ngIf="verificationStep === 2 && isSuccess" class="flex-col gap-16 items-center width-full">
    <button routerLink="/" class="button-text-xx-large label-dark success-button" mat-button>
      <span translate>To Sportsbook</span>
    </button>
    <span class="divider" translate>Or</span>
    <button
      routerLink="/games"
      routerLinkActive="router-link-active"
      class="button-text-xx-large label-dark success-button"
      mat-button
    >
      <span translate>To Casino</span>
    </button>
  </div>

  <!-- FAILED STEP -->
  <!-- this step was replace with error under the input number
  <div class="page-section flex-col gap-32 items-center" *ngIf="verificationStep === 2 && !isSuccess">
    <img class="success-img" alt="check" [src]="'assets/general/icons/fail.svg' | cdnize" />
    <div class="title" translate>Invalid or expired code</div>
    <div class="subtitle" translate>
      {{
        'The verification code you entered is incorrect or has already expired. Please try again or request a new code.'
          | translate
      }}
    </div>
    <button mat-button (click)="onResendCode()"><span translate> Try again </span></button>
  </div>
  -->

  <!-- RESEND -->
  <div class="flex-col gap-16 width-full items-center" *ngIf="verificationStep === 1">
    <div *ngIf="resendDisabled" class="flex-row flex-wrap gap-2 items-center justify-center resend-timer-text">
      <span
        >{{ 'Haven’t received the code yet? You can request a new one at:' | translate }} {{ timerDisplay }}
        {{ 'seconds' | translate }}</span
      >
    </div>

    <button [disabled]="resendDisabled" mat-stroked-button class="resend-button" (click)="onResendCode()">
      <span translate>Send a new code</span>
    </button>
  </div>

  <!-- SUPPORT AND INFO -->
  <div class="flex-col items-center">
    <img class="age-icon" [src]="'assets/general/icons/18-plus.svg' | cdnize" />
    <span translate class="policy-span mt-8">
      <b>Jogue com Responsabilidade</b> <br />
      O jogo deve ser uma forma de entretenimento saudável.<br />
      Pratique sempre o jogo consciente e fique atento aos sinais de comportamento compulsivo.
    </span>
  </div>

  <button class="live-chat-button" mat-button (click)="onChatClick()">
    <div class="flex-row items-center gap-10">
      <mat-icon svgIcon="help-chat-icon"></mat-icon>
      <span translate> Do you need help? </span>
    </div>
  </button>
</div>
