@if (game !== null && indexOfElement !== null) {
<div class="game-container" (mouseenter)="enterHover(game)" (mouseleave)="exitHover()">
  <div class="game-tile-content">
    <div class="game-tile-img-wrapper">
      <!-- Placeholder image-->
      <img alt="game tile placeholder" class="game-tile-placeholder-img" [src]="placeholderImgUrl" loading="eager" />
      <!-- Game tile image overlay -->
      <div class="game-img-container2">
        @if (game.id) {
        <img
          alt="{{ game.gameName }}"
          class="game-tile-img"
          [src]="game.gameDesktopAssetPath"
          loading="lazy"
          (error)="onImgError($event)"
        />
        }
      </div>
    </div>
    <div class="game-info-container">
      <span class="game-name">{{ game.gameName }}</span>
      <!-- <span class="game-provider">{{ game.gameProvider }}</span> -->
    </div>
  </div>
  <!-- Mark as favorite -->
  <!-- <div *ngIf="game?.isFavorite !== undefined" class="favorite-container">
    <mat-icon *ngIf="!game.isFavorite" class="mark-as-favorite">star_border</mat-icon>
    <mat-icon *ngIf="game.isFavorite" class="unmark-as-favorite">star</mat-icon>
  </div> -->
  <!-- Demo/Real play overlay -->
  @if (game.id && !isMobile) {
  <div
    class="game-play-hidden-container"
    [ngStyle]="
      hoverState &&
      selectedGame &&
      game.gameName === selectedGame.gameName &&
      game.gameProvider === selectedGame.gameProvider
        ? { opacity: 1 }
        : { opacity: 0 }
    "
  >
    <!-- if demo play is NOT restricted/disabled show "DEMO" link -->
    @if (game && game.demoPlayRestricted === false && credentialsService.isAuthenticated() && demoPlayEnabled) { @if
    (!hideDemoPlay && game.id) {
    <a (click)="onGameClick('demo')" aria-label="Play demo" class="demo-link">
      <div class="play-text" translate>DEMO PLAY</div>
    </a>
    } }
    <!-- if real play is NOT restricted/disabled show "PLAY" link -->
    @if (game && game.realPlayRestricted === false) { @if (game.id) {
    <a class="game-play" (click)="onGameClick('real')" aria-label="Play real game">
      <mat-icon>play_circle_outline</mat-icon>
    </a>
    } }
  </div>
  } @if (isMobile) {
  <div class="game-play-hidden-mobile-container" (click)="onMobileGameClick()"></div>
  }
</div>
}
