<button class="font-icons font-icons--close dialog-close-button" (click)="onCancel()"></button>

<div class="game-close-dialog-container">
  <div class="content-container">
    {{ gameNamesFormatted }}
    <span translate>game sessions will be closed. Please confirm that you would like to continue.</span>
  </div>

  <div class="button-container">
    <button mat-raised-button color="warn" type="submit" (click)="onConfirm()">
      <span translate>Yes</span>
    </button>

    <button mat-raised-button color="primary" (click)="onCancel()">
      <span translate>No</span>
    </button>
  </div>
</div>
