@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

:host {
  width: 100%;
}

.subscriptions-item-label {
  min-width: 10rem;
  font-size: 0.875rem;
  color: map.get(theme-variables.$app-custom-colors, "neutral-60");
}

.field-wrapper-edit {
  width: 100%;
  max-width: 10.625rem;
  min-width: 10.625rem;
  display: flex;
  flex-direction: column;

  .form-field-label {
    color: map.get(theme-variables.$app-custom-colors, "brand-surface");
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
    font-weight: 400;
    line-height: normal;
  }

  .toggle-icon {
    // color: map.get(theme-variables.$app-custom-colors, "brand-surface");
    padding: 0 12px 0 0;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
  }

  .toggle-icon-focused {
    color: map.get(theme-variables.$app-custom-colors, "brand-accent");
    padding: 0 0.75rem 0 0;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
  }

  @include utils.media("lt-sm-2") {
    max-width: 100%;
  }
}

/* Session history table */
.table-container {
  padding-top: 1rem;
}

.table-row {
  display: flex;

  // justify-content: space-between;
  padding: 1rem;
  font-size: 14px;
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-300");
  border-radius: 1rem;
  box-shadow: none;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 1rem;

  .label {
    color: map.get(theme-variables.$app-custom-colors, "brand-surface");
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .value {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.016rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .col {
    width: 14.2%;
    min-width: 50px;
  }

  .wide {
    width: 28.6%;
    min-width: 100px;
  }

  @include utils.media("lt-sm-2") {
    .col {
      width: 100%;
    }

    .wide {
      width: 100%;
    }

    .label {
      line-height: 1rem;
    }

    .value {
      line-height: 1.5rem;
    }
  }
}

mat-card {
  //  margin-bottom: 0.75rem;
  border-radius: 1rem;
  box-shadow: none;
}

// .account-responsible-gaming-limit-wrapper {
//   width: 100%;
// }

// .limits-description {
//   color: color.adjust(map.get(theme-variables.$app-custom-colors, "neutral-white"), $alpha: -0.25);
//   font-size: 0.875rem;
//   padding-top: 0.5rem;
// }

// /* Chrome, Safari, Edge, Opera */
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   /* stylelint-disable-next-line property-no-vendor-prefix */
//   -webkit-appearance: none;
//   margin: 0;
// }

// /* Firefox */
// input[type="number"] {
//   /* stylelint-disable-next-line property-no-vendor-prefix */
//   -moz-appearance: textfield;
// }

// .active-limits-container {
//   width: 100%;
//   background-color: color.adjust(map.get(theme-variables.$app-custom-colors, "neutral-white"), $alpha: -0.9);
//   border-radius: 0.375rem;
//   padding: 1rem;
// }

// .limit-type-selector {
//   justify-content: flex-end;
//   display: flex;

//   .mat-mdc-form-field {
//     max-width: 12.5rem;
//   }
// }

// .field-wrapper {
//   max-width: 12.5rem;
// }

// .active {
//   color: map.get(theme-variables.$app-custom-colors, "ATL_success");
// }

// .pending-container {
//   height: 100%;
//   align-items: center;
// }

// @include utils.media("lt-md") {
//   .field-wrapper {
//     max-width: 100%;
//     width: 100%;
//   }
// }

// @include utils.media("lt-sm-2") {
//   .active-limits-container {
//     background-color: inherit;
//     padding: 0;
//   }

//   .limit-type-selector {
//     width: 100%;
//     background-color: color.adjust(map.get(theme-variables.$app-custom-colors, "neutral-white"), $alpha: -0.9);
//     border-radius: 0.375rem;
//     padding: 1rem;

//     .mat-mdc-form-field {
//       max-width: unset;
//     }
//   }

//   .button-row {
//     margin-top: 1.5rem;
//   }
// }

// .subtitle-s {
//   flex: 1;
// }

// .hidden {
//   display: none;
// }

// .mobile-hidden {
//   @include utils.media("lt-sm-2") {
//     display: none;
//   }
// }

// .mobile {
//   @include utils.media("gt-sm-1") {
//     display: none;
//   }
// }

// .no-records-mobile {
//   color: map.get(theme-variables.$app-custom-colors, "neutral-100");
//   font-size: 0.875rem;
//   margin-top: 1.5rem;
// }
