@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/theme-variables" as theme-variables;

.active-link {
  color: map.get(theme-variables.$app-custom-colors, "Betaki_success");

  &.casino-link {
    color: map.get(theme-variables.$app-custom-colors, "Betaki_success");
  }
}

.category-nav-link {
  cursor: pointer;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 3rem;

  span {
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  }

  .category-icon {
    padding-top: 0.5rem;
    background-color: map.get(theme-variables.$app-custom-colors, "Betaki_success");
    border-radius: 0 0 6.1875rem 6.1875rem;
    padding-bottom: 0.2rem;
    width: 2.3rem;
  }

  mat-icon {
    color: map.get(theme-variables.$app-custom-colors, "Betaki_black_40");
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}

.footer-nav-bar-container {
  background-color: map.get(theme-variables.$app-custom-colors, "Betaki_black_40");
  color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  height: 3.375rem;
  align-items: flex-start;
  justify-content: space-around;

  .footer-nav-item {
    max-width: 4rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 0.5rem;
    cursor: pointer;

    span {
      font-size: 0.625rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-wrap: nowrap;
    }

    mat-icon {
      font-size: 1.625rem;
      height: 1.625rem;
      width: 1.625rem;
    }
  }
}

.sportsbook {
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
}

.sportsbook-category-link {
  background-color: map.get(theme-variables.$app-custom-colors, "Betaki_success");
  color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
}
