<div *ngIf="!isSportsbook" class="footer-nav-bar-container flex-row" [ngClass]="{ sportsbook: isSportsbook }">
  <div
    [class.active-link]="isActive(item.link) && item.label !== 'Home'"
    [class.casino-link]="!isSportsbook"
    (click)="onItemClick()"
    [routerLink]="item.link"
    class="footer-nav-item flex-col"
    *ngFor="let item of itemList"
  >
    <mat-icon [svgIcon]="item.icon"></mat-icon>
    <span translate>{{ item.label }}</span>
  </div>
  <div (click)="onSearch()" class="footer-nav-item flex-col">
    <mat-icon svgIcon="search"></mat-icon>
    <span translate>Search</span>
  </div>
  <div class="flex-col category-nav-link" routerLink="/sportsbook" *ngIf="!isSportsbook">
    <div class="category-icon flex justify-center">
      <mat-icon svgIcon="sportsbook"></mat-icon>
    </div>
    <span translate>Sportsbook</span>
  </div>

  <div class="flex-col category-nav-link sportsbook-category-link" routerLink="/games" *ngIf="isSportsbook">
    <mat-icon svgIcon="casino"></mat-icon>
    <span translate>Casino</span>
  </div>
</div>
