@use "sass:map";
@use "src/theme/utils" as util;
@import "src/theme/theme-variables";

.help-page-container {
  padding: 20px 8px;

  @include util.media("gt-sm-1") {
    padding: 55px 100px 90px;
  }
}

.tc-container {
  font-family: Sailec-Regular, sans-serif;
}
