// stylelint-disable

@use "sass:map";
@import "./utils";

// Common Flex layout css classes
// Inspired by Tailwind CSS

// Flex
.flex {
  display: flex;
}

// Flex Direction
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

// Flex Wrap
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

// Justify content
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

// Justify Items
.justify-items-start {
  justify-items: start;
}
.justify-items-end {
  justify-items: end;
}
.justify-items-center {
  justify-items: center;
}
.justify-items-stretch {
  justify-items: stretch;
}

// Align Content
.content-center {
  align-content: center;
}
.content-start {
  align-content: flex-start;
}
.content-end {
  align-content: flex-end;
}
.content-between {
  align-content: space-between;
}
.content-around {
  align-content: space-around;
}
.content-evenly {
  align-content: space-evenly;
}
.content-baseline {
  align-content: baseline;
}

// Align items
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

// fxHide, fxShow
.flex-hide {
  display: none;
}

// Flex gap (0px - 48px, increments 2px)
$gapList: 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50;
@each $gap in $gapList {
  .gap-#{$gap} {
    gap: #{$gap}px;
  }
  .gapx-#{$gap} {
    column-gap: #{$gap}px;
  }
  .gapy-#{$gap} {
    row-gap: #{$gap}px;
  }
}

// Padding (0px - 48px, increments 2px)
$paddingList: 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50;
@each $padding in $paddingList {
  .p-#{$padding} {
    padding: #{$padding}px;
  }
  .px-#{$padding} {
    padding-left: #{$padding}px;
    padding-right: #{$padding}px;
  }
  .py-#{$padding} {
    padding-top: #{$padding}px;
    padding-bottom: #{$padding}px;
  }
  .pt-#{$padding} {
    padding-top: #{$padding}px;
  }
  .pr-#{$padding} {
    padding-right: #{$padding}px;
  }
  .pb-#{$padding} {
    padding-bottom: #{$padding}px;
  }
  .pl-#{$padding} {
    padding-left: #{$padding}px;
  }
}

// Margin (0px - 48px, increments 2px)
$marginList: 0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48;
@each $margin in $marginList {
  .m-#{$margin} {
    margin: #{$margin}px;
  }
  .mx-#{$margin} {
    margin-left: #{$margin}px;
    margin-right: #{$margin}px;
  }
  .my-#{$margin} {
    margin-top: #{$margin}px;
    margin-bottom: #{$margin}px;
  }
  .mt-#{$margin} {
    margin-top: #{$margin}px;
  }
  .mr-#{$margin} {
    margin-right: #{$margin}px;
  }
  .mb-#{$margin} {
    margin-bottom: #{$margin}px;
  }
  .ml-#{$margin} {
    margin-left: #{$margin}px;
  }
}

// Breakpoints
@each $bpKey in map.keys($breakpoints) {
  @include media($bpKey) {
    // Flex
    .flex--#{$bpKey}:not(.hidden) {
      display: flex;
    }
    .flex-inline--#{$bpKey}:not(.hidden) {
      display: inline-flex;
    }

    .flex-enable--#{$bpKey} {
      flex: 1;
    }

    .flex-disable--#{$bpKey} {
      flex: 0;
    }

    .flex-grow--#{$bpKey} {
      flex: 1 1 100%;
    }

    .flex-nogrow--#{$bpKey} {
      flex: 0 1 auto;
    }

    .flex-noshrink--#{$bpKey} {
      flex: 1 0 auto;
    }

    .flex-full-height--#{$bpKey} {
      height: 100%;
    }

    .flex-full-width--#{$bpKey} {
      width: 100%;
    }

    // Flex Direction
    .flex-row--#{$bpKey}:not(.hidden) {
      display: flex;
      flex-direction: row;
      // row-gap: 0 ;
    }
    .flex-row-reverse--#{$bpKey}:not(.hidden) {
      display: flex;
      flex-direction: row-reverse;
      // row-gap: 0 ;
    }
    .flex-col--#{$bpKey}:not(.hidden) {
      display: flex;
      flex-direction: column;
      // column-gap: 0 ;
    }
    .flex-col-reverse--#{$bpKey}:not(.hidden) {
      display: flex;
      flex-direction: column-reverse;
      // column-gap: 0 ;
    }

    // Flex Wrap
    .flex-wrap--#{$bpKey} {
      flex-wrap: wrap;
    }
    .flex-wrap-reverse--#{$bpKey} {
      flex-wrap: wrap-reverse;
    }
    .flex-nowrap--#{$bpKey} {
      flex-wrap: nowrap;
    }

    // Justify content
    .justify-start--#{$bpKey} {
      justify-content: flex-start;
    }
    .justify-end--#{$bpKey} {
      justify-content: flex-end;
    }
    .justify-center--#{$bpKey} {
      justify-content: center;
    }
    .justify-between--#{$bpKey} {
      justify-content: space-between;
    }
    .justify-around--#{$bpKey} {
      justify-content: space-around;
    }
    .justify-evenly--#{$bpKey} {
      justify-content: space-evenly;
    }

    // Justify Items
    .justify-items-start--#{$bpKey} {
      justify-items: start;
    }
    .justify-items-end--#{$bpKey} {
      justify-items: end;
    }
    .justify-items-center--#{$bpKey} {
      justify-items: center;
    }
    .justify-items-stretch--#{$bpKey} {
      justify-items: stretch;
    }

    // Align Content
    .content-center--#{$bpKey} {
      align-content: center;
    }
    .content-start--#{$bpKey} {
      align-content: flex-start;
    }
    .content-end--#{$bpKey} {
      align-content: flex-end;
    }
    .content-between--#{$bpKey} {
      align-content: space-between;
    }
    .content-around--#{$bpKey} {
      align-content: space-around;
    }
    .content-evenly--#{$bpKey} {
      align-content: space-evenly;
    }
    .content-baseline--#{$bpKey} {
      align-content: baseline;
    }
    .content-stretch--#{$bpKey} {
      align-content: stretch;
    }

    // Align items
    .items-start--#{$bpKey} {
      align-items: flex-start;
    }
    .items-end--#{$bpKey} {
      align-items: flex-end;
    }
    .items-center--#{$bpKey} {
      align-items: center;
    }
    .items-baseline--#{$bpKey} {
      align-items: baseline;
    }
    .items-stretch--#{$bpKey} {
      align-items: stretch;
    }
    .items-around--#{$bpKey} {
      align-items: space-around;
    }
    .items-between--#{$bpKey} {
      align-items: space-between;
    }

    .flex-max-width--#{$bpKey} {
      max-width: 100%;
    }
    .flex-max-height--#{$bpKey} {
      max-height: 100%;
    }

    // Align self
    .self-start--#{$bpKey} {
      align-self: flex-start;
    }
    .self-center--#{$bpKey} {
      align-self: center;
    }
    .self-end--#{$bpKey} {
      align-self: flex-end;
    }
    .self-baseline--#{$bpKey} {
      align-self: baseline;
    }
    .self-stretch--#{$bpKey} {
      align-self: stretch;
    }

    // fxFill
    .flex-fill--#{$bpKey} {
      margin: 0;
      width: 100%;
      height: 100%;
      min-width: 100%;
      min-height: 100%;
    }

    // fxHide, fxShow
    .flex-hide--#{$bpKey} {
      display: none;
    }

    // Flex gap (0px - 48px, increments 2px)
    $gapList: 0, 2, 4, 6, 8, 10, 12, 14, 16;
    @each $gap in $gapList {
      .gap-#{$gap}--#{$bpKey} {
        gap: #{$gap}px;
      }
      .gapx-#{$gap}--#{$bpKey} {
        gap: 0 #{$gap}px;
      }
      .gapy-#{$gap}--#{$bpKey} {
        gap: #{$gap}px 0;
      }
    }
  }
}
