@use "sass:map" as map;

// Same as flex layout
// https://github.com/angular/flex-layout/wiki/Responsive-API
$breakpoints: (
  "xs": (
    "min": 1px,
    "max": 599px,
  ),
  "xs-1": (
    "min": 408px,
    "max": 511px,
  ),
  "xs-2": (
    "min": 512px,
    "max": 599px,
  ),
  "sm": (
    "min": 600px,
    "max": 959px,
  ),
  "sm-1": (
    "min": 600px,
    "max": 767px,
  ),
  "sm-2": (
    "min": 768px,
    "max": 959px,
  ),
  "sm-3": (
    "min": 632px,
    "max": 767px,
  ),
  "sm-4": (
    "min": 736px,
    "max": 767px,
  ),
  "md": (
    "min": 960px,
    "max": 1279px,
  ),
  "md-1": (
    "min": 1010px,
    "max": 1279px,
  ),
  "lg": (
    "min": 1280px,
    "max": 1439px,
  ),
  "xl": (
    "min": 1440px,
    "max": 5000px,
  ),
);

/*
  TODO: Add option that, if the breakpoint only has one property
  defined (only min or only max), then do not add
  the 'lt' and 'gt' breakpoints.
*/
// Add the less-than (lt) and greater-than (gt) keys from breakpoints
@each $bpKey in map.keys($breakpoints) {
  $bpMin: map.get($breakpoints, $bpKey, "min");
  $bpMax: map.get($breakpoints, $bpKey, "max");

  // prettier-ignore
  $ltGt: (
    "lt-" + $bpKey:
      (
        "max": $bpMin - 1,
      ),
    "gt-" + $bpKey:
      (
        "min": $bpMax + 1,
      )
  );
  $breakpoints: map.merge($breakpoints, $ltGt);
}

@mixin media($types...) {
  @each $type in $types {
    @if map.has-key($breakpoints, $type) {
      $min: map.get($breakpoints, $type, "min");
      $max: map.get($breakpoints, $type, "max");

      @if $min != null and $max != null {
        @media screen and (min-width: $min) and (max-width: $max) {
          @content;
        }
      }

      /* stylelint-disable-next-line scss/at-if-no-null */
      @if $min == null and $max != null {
        @media screen and (max-width: $max) {
          @content;
        }
      }

      @if $min != null and $max == null {
        @media screen and (min-width: $min) {
          @content;
        }
      }
    }
  }
}

/*
  Detect iphones if needed.

  Usage:

  .some-style {
    font-size: 1rem;
    @include is-iphone {
      font-size: 2rem;
    }
  }

  or

  @include is-iphone {
    .some-style {
      font-size: 2rem;
    }
    .some-other-style {
      ...
    }
  }
*/
@mixin is-iphone {
  @supports (-webkit-touch-callout: none) {
    @media screen and (width <= 932px) and (height <= 932px) {
      @content;
    }
  }
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}
