@use "sass:map";
@use "src/theme/utils" as util;
@import "src/theme/theme-variables";

:host {
  width: 100%;

  @include util.media("sm-2") {
    width: 60%;
  }
}

.header {
  font-size: 1.5rem;
  color: map.get($app-custom-colors, "neutral-white");

  @include util.media("lt-sm-2") {
    font-size: 0.875rem;

    margin: 1.5rem 0 1rem;
  }
}

.wallet-container {
  gap: 1rem;
  padding: 3.625rem 0 4rem;

  @include util.media("lt-sm-2") {
    padding: 1rem 0 2.5rem;
  }
}

.mobile-padding {
  @include util.media("lt-sm-2") {
    padding: 0 1rem;
  }
}

.mobile-hidden {
  @include util.media("lt-sm-2") {
    display: none;
  }
}

.mobile {
  @include util.media("gt-sm-1") {
    display: none;

    &.profile-link-container {
      display: none;
    }
  }

  &.profile-link-container {
    padding: 0.75rem 0;
  }
}

.underline {
  border-bottom: 2px solid map.get($app-custom-colors, "Betaki_error");
  width: 1.5rem;
}

.back-button {
  cursor: pointer;
  position: absolute;
  left: 1.5rem;
}

.title-gray {
  color: map.get($app-custom-colors, "ATL_white50");
  cursor: pointer;
}

.divider {
  border-bottom: 1px solid map.get($app-custom-colors, "ATL_white20");
  margin-top: 0.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
