<div class="wallet-container flex-col">
  <!-- Profile header -->
  <div class="subtitle-m mb-4 mobile-hidden" translate>Wallet</div>
  <div class="header mobile flex-row justify-center">
    <div class="back-button" [routerLink]="currentRoute ? '/profile/wallet/deposit' : '/profile'">
      <mat-icon fontSet="material-icons-outlined">keyboard_arrow_left</mat-icon>
    </div>
    <div class="flex-row">
      <span [class.title-gray]="currentRoute" [routerLink]="'/profile/wallet/deposit'" translate>Wallet</span>
      <span [class.title-gray]="currentRoute" *ngIf="currentRoute">/</span>
      <span *ngIf="currentRoute" translate> {{ currentRoute }} </span>
    </div>
  </div>
  <div class="divider mobile"></div>
  <div class="profile-link-container mobile" *ngIf="!currentRoute">
    <a class="profile-link" routerLink="/profile/wallet/deposit" [routerLinkActive]="['profile-link-active']" translate>
      <div class="flex-col">
        <div class="flex-col link-title">
          {{ 'DEPOSIT' | translate }}
        </div>
        <div class="flex-col link-description">
          {{ 'Deposit money.' | translate }}
        </div>
      </div>
    </a>
    <a
      class="profile-link"
      routerLink="/profile/wallet/withdrawal"
      [routerLinkActive]="['profile-link-active']"
      translate
    >
      <div class="flex-col">
        <div class="flex-col link-title">
          {{ 'WITHDRAWAL' | translate }}
        </div>
        <div class="flex-col link-description">
          {{ 'Withdraw money.' | translate }}
        </div>
      </div>
    </a>
  </div>

  <div class="mt-22 mobile" *ngIf="currentRoute === 'Deposit'">
    <app-wallet-deposit></app-wallet-deposit>
  </div>

  <div class="mt-22 mobile" *ngIf="currentRoute === 'Withdrawal'">
    <app-wallet-withdrawal></app-wallet-withdrawal>
  </div>

  <!-- Profile tabs -->
  <mat-tab-group
    #tabGroup
    class="tab-group-container-primary mt-10 mobile-hidden"
    mat-stretch-tabs="false"
    (selectedTabChange)="onTabChange($event)"
    [selectedIndex]="selectedIndex"
    appScrollToCenter
    [class.mobile-tabs]="isMobile()"
  >
    <mat-tab class="deposit-tab">
      <ng-template mat-tab-label>
        {{ 'Deposit' | translate }}
      </ng-template>
      <div class="mt-22 mobile-padding">
        <app-wallet-deposit></app-wallet-deposit>
      </div>
    </mat-tab>
    <mat-tab class="withdrawal-tab">
      <ng-template mat-tab-label>
        {{ 'Withdrawal' | translate }}
      </ng-template>
      <div class="mt-22 mobile-padding">
        <app-wallet-withdrawal></app-wallet-withdrawal>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
