<div class="wallet-container flex flex-col">
  <!-- Profile header -->
  <div class="subtitle-m mb-1 mobile-hidden" translate>Wallet</div>
  <div class="header mobile flex justify-center">
    <div class="back-button" [routerLink]="currentRoute ? '/profile/wallet/deposit' : '/profile'">
      <mat-icon fontSet="material-icons-outlined">keyboard_arrow_left</mat-icon>
    </div>
    <div class="flex">
      <span [class.title-gray]="currentRoute" [routerLink]="'/profile/wallet/deposit'" translate>Wallet</span>
      @if (currentRoute) {
      <span [class.title-gray]="currentRoute">/</span>
      } @if (currentRoute) {
      <span translate> {{ currentRoute }} </span>
      }
    </div>
  </div>
  <div class="divider mobile"></div>
  @if (!currentRoute) {
  <div class="profile-link-container mobile">
    <a class="profile-link" routerLink="/profile/wallet/deposit" [routerLinkActive]="['profile-link-active']" translate>
      <div class="flex flex-col">
        <div class="flex flex-col link-title">
          {{ 'DEPOSIT' | translate }}
        </div>
        <div class="flex flex-col link-description">
          {{ 'Deposit money.' | translate }}
        </div>
      </div>
    </a>
    <a
      class="profile-link"
      routerLink="/profile/wallet/withdrawal"
      [routerLinkActive]="['profile-link-active']"
      translate
    >
      <div class="flex flex-col">
        <div class="flex flex-col link-title">
          {{ 'WITHDRAWAL' | translate }}
        </div>
        <div class="flex flex-col link-description">
          {{ 'Withdraw money.' | translate }}
        </div>
      </div>
    </a>
  </div>
  } @if (currentRoute === 'Deposit') {
  <div class="mt-[22px] mobile">
    <app-wallet-deposit />
  </div>
  } @if (currentRoute === 'Withdrawal') {
  <div class="mt-[22px] mobile">
    <app-wallet-withdrawal />
  </div>
  }

  <!-- Profile tabs -->
  <mat-tab-group
    #tabGroup
    class="tab-group-container-primary mt-2.5 mobile-hidden"
    mat-stretch-tabs="false"
    (selectedTabChange)="onTabChange($event)"
    [selectedIndex]="selectedIndex"
    appScrollToCenter
    [class.mobile-tabs]="isMobile()"
  >
    <mat-tab class="deposit-tab">
      <ng-template mat-tab-label>
        {{ 'Deposit' | translate }}
      </ng-template>
      <div class="mt-[22px] mobile-padding">
        <app-wallet-deposit />
      </div>
    </mat-tab>
    <mat-tab class="withdrawal-tab">
      <ng-template mat-tab-label>
        {{ 'Withdrawal' | translate }}
      </ng-template>
      <div class="mt-[22px] mobile-padding">
        <app-wallet-withdrawal />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
