:host {
  width: 100%;
  overflow: hidden;
}

.winners-list-container {
  display: flex;
  gap: 0.25rem;
  justify-content: space-around;
  width: 100%;
  transition: filter 0.3s ease-in-out;

  &.loading {
    filter: blur(4px);
  }
}

@media screen and (width <= 640px) {
  .winners-list-container {
    display: block;
    justify-content: space-between;
    gap: 0.45rem;
  }
}

.winner-card-wrapper {
  cursor: pointer;
  flex-shrink: 0;
  animation: slide-in 0.5s ease-out forwards;

  &.leaving {
    animation: slide-out 0.5s ease-in forwards;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
