<app-base-dialog [title]="'Promotion status' | translate">
  <!-- Content -->
  <div dialogContent class="flex-col items-center">
    <div class="loading-container flex-row gapx-12 mt-24" *ngIf="data?.isLoading">
      <div class="loading-circle" [ngClass]="{ active: loadingIndex === 0 }"></div>
      <div class="loading-circle" [ngClass]="{ active: loadingIndex === 1 }"></div>
      <div class="loading-circle" [ngClass]="{ active: loadingIndex === 2 }"></div>
    </div>
    <mat-icon class="success-icon mb-28 mt-16" *ngIf="!data?.isLoading && !data?.error">check_circle_outline</mat-icon>
    <mat-icon class="error-icon mb-28 mt-16" *ngIf="!data?.isLoading && data?.error">warning_amber</mat-icon>
    <div class="subtitle mb-12">{{ data.subtitle ?? '' | translate }}</div>
    <div class="description mb-30">{{ data.description | translate }}</div>
  </div>
  <ng-container dialogButtons>
    <button *ngIf="!data?.isLoading" mat-button class="ok-button" (click)="onOkClick()">
      <span mat-button class="button-text-small label-dark flex-grow">{{ 'Ok' | translate | uppercase }}</span>
    </button>
  </ng-container>
</app-base-dialog>
