.bg-image {
  // ../../../assets/banner2.png
  background-image: url("../../../assets/banner2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-image-2 {
  // ../../../assets/banner3.png
  background-image: url("../../../assets/liminha.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
