<app-ghost-color-layer></app-ghost-color-layer>

@if(loadingService.loading()){
<app-loading />
} @if(loadingService.inlineLoading()){
<app-inline-loading />
}
<app-header></app-header>

<main class="pt-(--header-height-mobile) w-full h-full md:pt-(--header-height-desktop)">
  <router-outlet />

  @if ( !routingService.isSportsbook() && !routingService.isIngame() ) {
  <app-sidebar-mobile></app-sidebar-mobile>
  <app-mobile-menu></app-mobile-menu>
  @if (!routingService.isProfile() && !routingService.isPromotions() ) {
  <app-footer></app-footer>
  } }
</main>

<app-process-verification-modal
  [isOpen]="isProcessVerificationModalOpen()"
  (closeModal)="closeModal()"
>
</app-process-verification-modal>

<app-kyc-verification-modal
  [isOpen]="isKycVerificationModalOpen()"
  (closeModal)="closeKycVerificationModal()"
>
</app-kyc-verification-modal>

<app-login-face-auth-modal
  [isOpen]="isLoginFaceAuthModalOpen()"
  (closeModal)="closeLoginFaceAuthModal()"
></app-login-face-auth-modal>

<app-cookie-consent-modal></app-cookie-consent-modal>
<app-age-verification-modal></app-age-verification-modal>
<app-tawk></app-tawk>
