<header
  class="fixed header-wrapper h-(--header-height-mobile) md:h-(--header-height-desktop) w-full flex justify-center z-40 backdrop-blur-3xl bg-opacity-90 bg-betaki-500"
>
  @if (!isGameMode()) {
  <nav
    animate.enter="animate-enter-slide-down"
    animate.leave="animate-leave-slide-up"
    class="h-full w-full max-w-8xl xl:px-6 flex flex-row items-center justify-between px-1.5 relative transition-opacity duration-300"
  >
    <a class="hidden md:block cursor-pointer" routerLink="/">
      <img [ngSrc]="betakiLogo" priority alt="BetAki Logo" width="243" height="91" class="h-8 w-auto" />
    </a>

    <a class="cursor-pointer md:hidden" routerLink="/">
      <img [ngSrc]="betakiMobileLogo" alt="BetAki Logo" width="48" height="48" class="h-10 w-auto" />
    </a>

    <ul class="h-full hidden md:flex flex-row items-center justify-center gap-4 text-white text-sm">
      @for (item of routesWithLabel; track $index) {
      <li
        class="h-full border-b-[3px] border-b-transparent transition-all duration-300 hover:border-b-shark-50 hover:text-shark-50"
        [class.font-bold!]="isLinkActive(item.path, item.exact)"
        [class.border-b-shark-50!]="isLinkActive(item.path, item.exact)"
        [class.text-shark-50!]="isLinkActive(item.path, item.exact)"
      >
        <a
          [routerLink]="
            item.path === '/promotions'
              ? isLoggedIn()
                ? '/profile/promo'
                : '/promotions'
              : item.path
          "
          class="h-full flex text-sm lg:text-base items-center text-nowrap"
          >{{ item.label | translate }}</a
        >
      </li>
      }
    </ul>
    <div class="flex flex-row items-center justify-center gap-1 text-white">
      @if(routingService.isInCassino()) {
      <button
        type="button"
        animate.enter="animate-enter-slide-down"
        animate.leave="animate-leave-slide-up"
        class="items-center justify-center font-medium transition-colors cursor-pointer rounded-md focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed p-2 text-sm border-2 border-transparent bg-transparent text-betaki-500 hover:bg-shark-50/20 hover:text-betaki-600 w-auto"
        [routerLink]="`/games${ isLinkActive('/games/live', true) ? '/live' : '' }/search`"
      >
        <span>
          <img src="/assets/icons/search-icon-header.svg" alt="Ícone de busca" class="w-5 h-5" />
        </span>
      </button>
      } @if(routingService.isSportsbook()) {
      <button
        type="button"
        class="items-center md:hidden justify-center font-medium transition-colors cursor-pointer rounded-md focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed p-2 text-sm border-2 border-transparent bg-transparent text-betaki-500 hover:bg-shark-50/20 hover:text-betaki-600 w-auto"
        [routerLink]="isLoggedIn() ? '/profile/promo' : '/promotions'"
      >
        <img
          ngSrc="/assets/icons/promotion-icon.svg"
          alt="Icone de promoção"
          width="28"
          priority
          height="26"
          class="w-5 h-5"
        />
      </button>
      } @if(!isLoggedIn()){
      <button
        type="button"
        class="inline-flex items-center justify-center font-medium transition-colors cursor-pointer rounded-md focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed p-2 text-xs sm:text-sm border-shark-50 bg-transparent text-shark-50 hover:border-shark-100 hover:bg-shark-100/20 hover:text-shark-100 w-auto"
        routerLink="/auth/login"
      >
        <a class="text-sm sm:text-base"> Entrar </a>
      </button>

      <button
        type="button"
        class="inline-flex items-center justify-center font-medium transition-colors cursor-pointer rounded-md focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed p-2 text-xs sm:text-sm bg-white text-betaki-500 hover:bg-shark-100 hover:text-betaki-600 sm:w-30"
        routerLink="/auth/register"
      >
        <a class="text-sm sm:text-base">Registrar</a>
      </button>
      } @else {
      <button
        type="button"
        class="items-center justify-center font-medium transition-colors cursor-pointer rounded-md focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed p-1 text-sm border-2 border-transparent bg-transparent text-betaki-500 hover:bg-shark-50/20 hover:text-betaki-600 w-auto"
        (click)="toggleProfileModal(); $event.stopPropagation()"
      >
        <img
          ngSrc="/assets/icons/user-icon.svg"
          width="20"
          height="20"
          priority
          alt="Ícone de usuário"
          class="w-7 h-7"
        />
      </button>

      <div class="bg-white flex rounded-lg items-center p-0.75 sm:px-1">
        @if(isBalanceVisible()){
        <span class="text-black font-semibold text-sm text-nowrap"
          >R$ {{ (amount() | currency : 'BRL')?.slice(2) }}</span
        >
        } @else {
        <span class="text-black font-semibold text-sm">R$ *****</span>
        }

        <button
          class="ml-2 bg-betaki-500 text-white text-sm px-2 py-2 md:px-4 md:py-2 rounded-md transition-opacity duration-200 ease-in-out hover:opacity-80 font-bold cursor-pointer"
          routerLink="/profile/wallet/deposit"
        >
          Depósito
        </button>
      </div>
      }
    </div>
  </nav>
  } @if (isGameMode()) {
  <nav
    animate.enter="animate-enter-slide-down"
    animate.leave="animate-leave-slide-up"
    class="h-full w-full max-w-8xl xl:px-6 flex flex-row items-center justify-between px-1.5 absolute top-0 left-1/2 -translate-x-1/2 transition-opacity duration-300"
  >
    <button
      (click)="goBack()"
      class="text-md md:text-lg leading-normal transition-colors hover:font-bold flex items-center cursor-pointer text-white"
    >
      <img src="/assets/icons/arrow-left-white.svg" dir="ltr" alt="Voltar" class="inline h-5 w-5 mr-1" />
      <div class="xs:hidden">
        <a class="cursor-pointer" (click)="navigateBack()">
          <!-- <img [ngSrc]="betakiMobileLogo" alt="Betaki Logo" width="100" height="30" class="h-10 w-auto" /> -->
        </a>
      </div>
      <span class="hidden xs:block"> Voltar </span>
    </button>
    <div class="absolute left-1/2 -translate-x-1/2 hidden md:block">
      <a class="cursor-pointer" (click)="navigateBack()">
        <img [ngSrc]="betakiLogo" alt="Betaki Logo" width="100" height="30" class="h-10 w-auto" />
      </a>
    </div>
    <div class="absolute hidden xs:block xs:left-1/2 -translate-x-1/2 md:hidden">
      <a class="cursor-pointer" routerLink="/">
        <img [ngSrc]="betakiMobileLogo" alt="Betaki Logo" width="48" height="48" class="h-10 w-auto" />
      </a>
    </div>
    <div class="flex flex-row items-center justify-center gap-1 text-white">
      <button
        (click)="toggleFullscreen()"
        type="button"
        class="hidden sm:flex items-center justify-center font-medium transition-colors cursor-pointer rounded-md focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed p-2 lg:p-2.5 text-sm text-betaki-500 hover:bg-shark-50/20 hover:text-betaki-600 w-auto"
      >
        <span>
          <img
            [ngSrc]="
              isFullscrreen() ? 'assets/icons/fullscreen-exit.svg' : 'assets/icons/fullscreen.svg'
            "
            alt="Fullscreen"
            width="24"
            height="24"
            class="w-6 h-6"
          />
        </span>
      </button>

      <button
        (click)="shareGame()"
        type="button"
        class="items-center justify-center font-medium transition-colors cursor-pointer rounded-md focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed p-2 lg:p-2.5 text-sm text-betaki-500 hover:bg-shark-50/20 hover:text-betaki-600 w-auto"
      >
        <span>
          <img ngSrc="assets/icons/share.svg" alt="Share" width="24" height="24" class="w-6 h-6" />
        </span>
      </button>

      <div>
        <button
          class="bg-[#353817] text-white text-sm px-2 py-2 md:px-4 md:py-2 rounded-md transition-opacity duration-200 ease-in-out hover:opacity-80 cursor-pointer font-bold"
          routerLink="/profile/wallet/deposit"
        >
          Depósito
        </button>
      </div>
    </div>
  </nav>
  }
</header>

<app-profile-modal
  [isOpen]="showProfileModal()"
  appClickOutside
  (clickOutside)="closeProfileModal()"
  (logoutClicked)="closeProfileModal()"
  (myAccountClicked)="closeProfileModal()"
  class="fixed top-[55px] md:top-[64px] right-85 lg:right-88"
></app-profile-modal>
