<div class="fixed inset-0 -z-10 overflow-hidden pointer-events-none">
  <!-- Shape 1: Top-left elongated oval -->
  <div
    class="absolute top-0 left-0 sm:bg-betaki-400/20 transform -rotate-[20deg]"
    style="width: 280px; height: calc(50vh + 50px); border-radius: 500px; filter: blur(80px)"
  ></div>
  <div
    class="absolute left-[200px] sm:bg-betaki-400/20 transform -rotate-[15deg]"
    style="
      width: 280px;
      height: calc(50vh + 50px);
      border-radius: 500px;
      bottom: -50px;
      filter: blur(80px);
    "
  ></div>

  <div
    class="absolute top-0 left-0 sm:bg-betaki-400/20 transform -rotate-[20deg]"
    style="width: 280px; height: calc(50vh + 50px); border-radius: 500px; filter: blur(80px)"
  ></div>
  <!-- Shape 2: Bottom-left elongated oval -->
  <div
    class="absolute right-[0px] bg-betaki-400/20 transform -rotate-[15deg]"
    style="
      width: 280px;
      height: calc(50vh + 50px);
      border-radius: 500px;
      bottom: -50px;
      filter: blur(80px);
    "
  ></div>
</div>
