<app-base-dialog
  [position]="'bottom-right'"
  [fullscreenMobile]="false"
  [title]="'This site uses cookies' | translate"
  customClass="w-[90vw]! max-w-[486px]! h-fit! m-auto md:m-0!"
>
  <ng-container dialogContent>
    <p class="text-center mb-4 text-sm md:text-base" translate>
      This website uses cookies to ensure you get the best experience on our website.
    </p>
  </ng-container>

  <ng-container dialogButtons>
    <div class="flex w-full items-center gap-4">
      <app-button class="flex-1" fullWidth variant="outline-neutral" (click)="onCancel()">
        <mat-icon fontSet="material-icons-outlined">cancel</mat-icon>
        <span>Recusar</span>
      </app-button>
      <app-button class="flex-1" fullWidth variant="neutral" (click)="onConfirm()">
        <mat-icon fontSet="material-icons-outlined">check_circle</mat-icon>
        <span>Aceitar</span>
      </app-button>
    </div>
  </ng-container>
</app-base-dialog>
