@use "sass:map";
@use "src/theme/utils" as util;
@import "src/theme/theme-variables";

.help-page-container {
  &.bonus-terms-and-conditions {
    max-height: 100dvh;
    overflow: auto;
  }

  @include util.media("lt-sm-2") {
    padding: 0;
  }
}
