<div class="game-search-container">
  <ng-container *ngIf="gameName && games !== null && games !== undefined && games.length > 0">
    <!-- Non scrollable search container for static display if results -->
    <div
      *ngIf="games.length <= nrOfVisibleResults"
      class="search-container static"
      [ngStyle]="{ 'max-height': searchContainerHeight + 'px' }"
    >
      <ul class="search-list">
        <li *ngFor="let game of games; trackBy: gameTrackBy">
          <ng-container *ngTemplateOutlet="searchItem; context: { $implicit: game }"></ng-container>
        </li>
      </ul>
    </div>
    <!-- Scrollable search container for virtual results -->
    <cdk-virtual-scroll-viewport
      *ngIf="games.length > nrOfVisibleResults"
      class="search-container virtual"
      [ngStyle]="{ height: searchContainerHeight + 'px' }"
      itemSize="68"
    >
      <ul class="search-list">
        <li *cdkVirtualFor="let game of games; trackBy: gameTrackBy">
          <ng-container *ngTemplateOutlet="searchItem; context: { $implicit: game }"></ng-container>
        </li>
      </ul>
    </cdk-virtual-scroll-viewport>
  </ng-container>

  <mat-form-field appearance="outline" class="form-input-search-games" subscriptSizing="dynamic">
    <input
      #searchInput
      matInput
      type="text"
      class="search-input"
      [placeholder]="placeholderText"
      [formControl]="nameControl"
      autocomplete="off"
      (focus)="searchInput.placeholder = ''"
      (blur)="searchInput.placeholder = placeholderText"
    />
    <div class="search-suffix" matPrefix>
      <button *ngIf="!nameControl.value" class="search-close font-icons font-icons--search"></button>
      <button
        *ngIf="nameControl.value"
        (click)="closeSearch()"
        class="search-close font-icons font-icons--close"
      ></button>
    </div>
  </mat-form-field>
</div>

<ng-template #searchItem let-game>
  <a (click)="launchGame(game.externalGameId)" class="search-item" target="_self">
    <img
      class="search-image"
      [src]="game.gameDesktopAssetPath"
      (error)="onImgError($event)"
      [alt]="game.gameName"
      loading="true"
      width="52"
      height="52"
    />
    <span #searchTitle [matTooltip]="isEllipsisActive(searchTitle, game.gameName)" class="search-title">{{
      game.gameName
    }}</span>
  </a>
</ng-template>
