<app-base-dialog width="29rem" [title]="'Terms & conditions change' | translate" [displayCloseButton]="true">
  <div class="terms-and-conditions-dialog align-left" dialogContent>
    <div class="mb-6" translate>Before you can proceed you must read and accept the new Terms & Conditions</div>
    @if (!termsAndConditions) {
      <div class="spinner"><mat-spinner style="height: 24px; width: 24px" /></div>
    } @else {
      <div class="terms-and-conditions-content" [innerHtml]="termsAndConditions.termsAndConditionsContent"></div>
    }
  </div>

  <ng-container dialogButtons>
    @if (termsAndConditions) {
      <div class="flex w-full items-center gap-4">
        <app-button class="flex-1" fullWidth variant="outline" (click)="cancel()">
          <span translate>Decline</span>
        </app-button>
        <app-button class="flex-1" fullWidth variant="primary" (click)="confirm()">
          <span translate>Accept</span>
        </app-button>
      </div>
    }
  </ng-container>
</app-base-dialog>
