@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

:host {
  width: 100%;
}

.subscriptions-item-label {
  min-width: 10rem;
  font-size: 0.875rem;
  color: map.get(theme-variables.$app-custom-colors, "betaki-grey100");
}

.subscriptions-container {
  padding: 2.5rem 0 4rem;
  gap: 1rem;
  width: 100%;
  max-width: unset;

  @include utils.media("lt-sm-2") {
    margin-top: 2rem;
  }

  .subscriptions-item-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    white-space: nowrap;
    max-width: 25.75rem;

    .subscriptions-item-label {
      min-width: 18.75rem;
      font-size: 1rem;
      color: color.adjust(map.get(theme-variables.$app-custom-colors, "neutral-white"), $alpha: -0.25);
    }

    .active-label {
      display: row;
      flex-direction: row;
      align-items: center;
      font-size: 0.75rem;
      color: color.adjust(map.get(theme-variables.$app-custom-colors, "Betaki_error"), $alpha: -0.65);
      padding-top: 0.1875rem;
      width: 2rem;
    }

    &.active {
      .active-label {
        color: map.get(theme-variables.$app-custom-colors, "Betaki_error");
      }
    }
  }
}
