<div class="player-profile-page-container" [formGroup]="subscriptionsForm">
  <app-page-breadcrumbs [breadcrumbs]="breadcrumbs"></app-page-breadcrumbs>
  <mat-accordion [multi]="true" class="flex-col gap-16">
    <mat-expansion-panel class="profile-panel" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="section-item-container nowrap">
          <div class="section-item">
            <div class="item-title">
              {{ 'Consent management' | translate }}
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-item-container mt-24">
        <div class="section-item-collapsable">
          <div class="item-description" translate>
            {{
              'You can change your preferences regarding any news and promotions you will receive from us, as well as communication channels.'
                | translate
            }}
          </div>
          <div style="display: flex; justify-content: space-between; flex-direction: row">
            <mat-label class="form-outline-label subscriptions-item-label" translate
              >I want to receive news and promotional material.</mat-label
            >
            <mat-slide-toggle
              class="silde-toggle"
              formControlName="receiveExclusiveOffersAndBonuses"
              [checked]="receiveExclusiveOffersAndBonuses"
            >
            </mat-slide-toggle>
          </div>
          <mat-divider></mat-divider>
          <div class="item-description" translate>You can contact me through the following channels:</div>
          <div style="display: flex; justify-content: space-between; flex-direction: row">
            <mat-label class="form-outline-label subscriptions-item-label" translate>SMS</mat-label>
            <mat-slide-toggle class="silde-toggle" formControlName="receivePromosBySMS" [checked]="receivePromosBySMS">
            </mat-slide-toggle>
          </div>
          <div style="display: flex; justify-content: space-between; flex-direction: row">
            <mat-label class="form-outline-label subscriptions-item-label" translate>Whatsup</mat-label>
            <mat-slide-toggle class="slide-toggle" formControlName="receivePromosByIm" [checked]="receivePromosByIm">
            </mat-slide-toggle>
          </div>
          <div style="display: flex; justify-content: space-between; flex-direction: row">
            <mat-label class="form-outline-label subscriptions-item-label" translate>E-mail</mat-label>
            <mat-slide-toggle
              class="slide-toggle"
              formControlName="receivePromosByEmail"
              [checked]="receivePromosByEmail"
            >
            </mat-slide-toggle>
          </div>
          <div style="display: flex; justify-content: space-between; flex-direction: row">
            <mat-label class="form-outline-label subscriptions-item-label" translate>Phone</mat-label>
            <mat-slide-toggle
              class="slide-toggle"
              formControlName="receivePromosByTelephone"
              [checked]="receivePromosByTelephone"
            >
            </mat-slide-toggle>
          </div>
          <div style="display: flex; justify-content: space-between; flex-direction: row">
            <mat-label class="form-outline-label subscriptions-item-label" translate>Post</mat-label>
            <mat-slide-toggle
              class="slide-toggle"
              formControlName="receivePromosByPost"
              [checked]="receivePromosByPost"
            >
            </mat-slide-toggle>
          </div>
          <div style="display: flex; justify-content: space-between; flex-direction: row">
            <mat-label class="form-outline-label subscriptions-item-label" translate>Pop-up / Inbox</mat-label>
            <mat-slide-toggle
              class="slide-toggle"
              formControlName="receivePromosByPopupInbox"
              [checked]="receivePromosByPopupInbox"
            >
            </mat-slide-toggle>
          </div>
          <div class="section-actions align-left">
            <button
              [disabled]="!subscriptionsForm.dirty"
              mat-button
              class="section-action"
              (click)="updateContactPreferences()"
            >
              <span translate>Save changes</span>
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel class="profile-panel">
      <mat-expansion-panel-header>
        <mat-panel-title class="section-item-container nowrap">
          <div class="section-item">
            <div class="item-title">
              {{ 'Access' | translate }}
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-item-container mt-24">
        <div class="section-item-collapsable">
          <div class="subscriptions-item-label" translate>
            To ensure the accuracy of your data, please visit the Profile section where you can change your personal settings and update the required fields. Please note that specific fields deemed necessary to verify your eligibility, such as date of birth or age, can only be changed by contacting our customer service directly. For a more detailed analysis of our processing activities and how your data is involved in each of them, please visit the dedicated section in our Privacy Policy.
          </div>
          <div class="section-actions align-left">
            <button mat-button class="section-action" routerLink="/profile/wallet/deposit">
              <span translate>Submit request</span>
            </button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="profile-panel">
      <mat-expansion-panel-header>
        <mat-panel-title class="section-item-container nowrap">
          <div class="section-item">
            <div class="item-title">
              {{ 'Portability' | translate }}
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="section-item-container mt-24">
        <div class="section-item-collapsable">
          <div class="subscriptions-item-label" translate>
            You maintain the right to receive the personal data you have submitted to us and to reuse/transmit it to a different service provider. For any additional clarifications regarding your Right to Data Portability, please visit the dedicated section of our Privacy Policy.
          </div>
          <div class="section-actions align-left">
            <button mat-button class="section-action" routerLink="/profile/wallet/deposit">
              <span translate>Submit request</span>
            </button>
          </div>
          <mat-divider></mat-divider>
          <div class="subscriptions-item-label" [innerHTML]="'PortabilityUserInformation' | translate">
          </div>
        </div>
      </div>
    </mat-expansion-panel> -->
  </mat-accordion>
</div>
