<div class="providers-container-mobile">
  <div class="providers-header-container-mobile">
    <div class="button-close-drawer" (click)="dismissProvidersDrawer()">
      <mat-icon class="button-close-drawer-icon">close</mat-icon>
    </div>
  </div>

  <div
    class="providers-selection-container-mobile"
    [class]="{'providers-multiple-selection': isMultiple, '': !isMultiple}"
  >
    <mat-selection-list #providersSelectionList (selectionChange)="onProvidersChange($event)">
      @for (provider of providersList; track provider; let i = $index) { @if (isMultiple) {
      <mat-list-option class="custom-list-option" [value]="provider.id" [selected]="isSelectedProvider(provider.id)">
        {{ provider | supplierNameTransform }}
      </mat-list-option>
      @if (!isLastProvider(i)) {
      <mat-divider />
      } } @if (!isMultiple) {
      <mat-list-item class="custom-list-option" (click)="emitSingleProvider(provider)">
        {{ provider | supplierNameTransform }}
      </mat-list-item>
      @if (!isLastProvider(i)) {
      <mat-divider />
      } } }
    </mat-selection-list>
  </div>

  @if (isMultiple) {
  <div class="providers-action-container-mobile">
    <button mat-raised-button class="button-filter-confirm" (click)="confirmFilter()">
      {{ 'apply filter' | uppercase }}
    </button>
  </div>
  }
</div>
