@use "sass:map" as map;
@use "theme/utils" as utils;
@use "sass:color" as color;

@use "theme/theme-variables" as theme-variables;

:host {
  background-color: transparent;
}

.providers-container-mobile {
  height: 100%;
  background-color: transparent;
  max-height: 24.063rem;

  .providers-header-container-mobile {
    display: flex;
    flex-flow: column;
    flex-direction: column;
    height: 3.5rem;
    align-items: flex-end;
    background-color: map.get(theme-variables.$app-custom-colors, "neutral-10");
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .providers-selection-container-mobile {
    overflow: auto;
    height: 100%;
    height: calc(100% - 3.5rem);
    background-color: map.get(theme-variables.$app-custom-colors, "neutral-10");

    &.providers-multiple-selection {
      height: calc(100% - 7.25rem);
    }

    .mdc-list {
      padding: 0;
    }
  }

  .providers-action-container-mobile {
    width: 100%;
    height: 3.75rem;
    padding: 0.5rem;
    z-index: 3;
    text-align: center;
    background-color: map.get(theme-variables.$app-custom-colors, "neutral-10");

    @include utils.media("gt-sm-2") {
      display: none;
    }
  }
}

.button-close-drawer {
  display: flex;
  flex-direction: column;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  margin: 16px;

  .button-close-drawer-icon {
    color: map.get(theme-variables.$app-custom-colors, "neutral-white");
    cursor: pointer;
  }
}

.button-filter-confirm {
  width: 100%;
  height: 2.75rem;
  color: map.get(theme-variables.$app-custom-colors, "neutral-10");
  background-color: map.get(theme-variables.$app-custom-colors, "Betaki_error");
}
