<div class="providers-container-mobile">
  <div class="providers-header-container-mobile">
    <div class="button-close-drawer" (click)="dismissProvidersDrawer()">
      <mat-icon class="button-close-drawer-icon">close</mat-icon>
    </div>
  </div>

  <div
    class="providers-selection-container-mobile"
    [ngClass]="{'providers-multiple-selection': isMultiple, '': !isMultiple}"
  >
    <mat-selection-list
      #providersSelectionList
      (selectionChange)="onProvidersChange(providersSelectionList.selectedOptions)"
    >
      <ng-container *ngFor="let provider of providersList; let i = index">
        <ng-container *ngIf="isMultiple">
          <mat-list-option
            class="custom-list-option"
            [value]="provider.id"
            [selected]="isSelectedProvider(provider.id)"
          >
            {{ provider | supplierNameTransform }}
          </mat-list-option>
          <mat-divider *ngIf="!isLastProvider(i)"></mat-divider>
        </ng-container>
        <ng-container *ngIf="!isMultiple">
          <mat-list-item class="custom-list-option" (click)="emitSingleProvider(provider)">
            {{ provider | supplierNameTransform }}
          </mat-list-item>
          <mat-divider *ngIf="!isLastProvider(i)"></mat-divider>
        </ng-container>
      </ng-container>
    </mat-selection-list>
  </div>

  <ng-container *ngIf="isMultiple">
    <div class="providers-action-container-mobile">
      <button mat-raised-button class="button-filter-confirm" (click)="confirmFilter()">
        {{ 'apply filter' | uppercase }}
      </button>
    </div>
  </ng-container>
</div>
