:host {
  display: inline-block;

  &.full-width {
    width: 100%;
    display: block;
  }
}

// Override internal MatButton overrides if necessary
button.mat-mdc-button-base {
  height: auto !important; // Allow tailwind py- to dictate height
  min-width: unset !important; // Allow small buttons
}

// Ensure spinner color matches text
:host ::ng-deep .mat-mdc-progress-spinner circle,
.mat-mdc-progress-spinner circle {
  stroke: currentcolor !important;
}
