<div [ngClass]="icon ? 'button-container' : ''" class="language-selector-container">
  <button
    [disabled]="!languages || languages.length <= 1"
    mat-icon-button
    [matMenuTriggerFor]="languageMenu"
    (menuOpened)="refreshLanguages()"
    (menuClosed)="menuClosed()"
    class="header-dropdown-select"
    [disableRipple]="true"
  >
    <div class="flex" [ngClass]="icon ? 'justify-center items-center' : 'full-width justify-between'">
      <div [ngClass]="icon ? '' : 'flex gap-2.5'" class="flag-container">
        <img
          alt="{{ currentLanguage?.nativeName }}"
          class="flag"
          [src]="'assets/general/flags/' + currentLanguage?.flagIconName | cdnize"
        />
        @if (!icon) {
          <div class="hidden" [class.lang-text]="!isLogin">
            {{ currentLanguage?.englishName }}
          </div>
        }
      </div>
      @if (languages && languages.length > 1) {
        <div class="expand-icon-container">
          <mat-icon [ngClass]="isMenuClosed ? 'expanded' : ''">arrow_drop_up</mat-icon>
        </div>
      }
    </div>
  </button>
</div>

<mat-menu class="language-panel" #languageMenu="matMenu" xPosition="before" yPosition="above">
  <!-- Language container -->
  <div class="header-dropdown-container" [class.header-dropdown-container-large]="sidenav">
    @for (language of languages; track language) {
      <div class="header-dropdown-item-box" (click)="setLanguage(language.key)">
        <img
          alt="{{ language.key }}"
          class="header-dropdown-item-icon"
          [src]="'assets/general/flags/' + language.value?.flagIconName | cdnize"
        />
        <div class="header-dropdown-item-text" translate>{{ language.value?.englishName }}</div>
      </div>
    }
  </div>
</mat-menu>
