<div [ngClass]="icon ? 'button-container' : ''" class="language-selector-container">
  <button
    [disabled]="!languages || languages.length <= 1"
    mat-icon-button
    [matMenuTriggerFor]="languageMenu"
    (menuOpened)="refreshLanguages()"
    (menuClosed)="menuClosed()"
    class="header-dropdown-select"
    [disableRipple]="true"
  >
    <div class="flex flex-row" [ngClass]="icon ? 'justify-center items-center' : 'full-width justify-between'">
      <div [ngClass]="icon ? '' : 'flex flex-row gap-10'" class="flag-container">
        <img
          alt="{{ currentLanguage?.nativeName }}"
          class="flag"
          [src]="'assets/general/flags/' + currentLanguage?.flagIconName | cdnize"
        />
        <div class="hidden" [ngClass]="{ 'lang-text': !isLogin }" *ngIf="!icon">
          {{ currentLanguage?.englishName }}
        </div>
      </div>
      <div class="expand-icon-container" *ngIf="languages && languages.length > 1">
        <mat-icon [ngClass]="isMenuClosed ? 'expanded' : ''">arrow_drop_up</mat-icon>
      </div>
    </div>
  </button>
</div>

<mat-menu class="language-panel" #languageMenu="matMenu" xPosition="before" yPosition="above">
  <!-- Language container -->
  <div class="header-dropdown-container" [ngClass]="{ 'header-dropdown-container-large': sidenav }">
    <div class="header-dropdown-item-box" (click)="setLanguage(language.key)" *ngFor="let language of languages">
      <img
        alt="{{ language.key }}"
        class="header-dropdown-item-icon"
        [src]="'assets/general/flags/' + language.value?.flagIconName | cdnize"
      />
      <div class="header-dropdown-item-text" translate>{{ language.value?.englishName }}</div>
    </div>
  </div>
</mat-menu>
