@use "sass:map";
@use "src/theme/utils" as util;

@import "src/theme/theme-variables";

app-promotions-terms-and-conditions {
  .basic-page-container.help {
    padding: 2rem;
  }

  .promotions-terms {
    border-radius: 1rem;
    background-color: map.get($app-custom-colors, "neutral-white");
    padding-bottom: 1rem;

    h1,
    h2,
    h3,
    h4,
    p,
    ul {
      margin-left: 1rem;
    }

    h1 {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    h2 {
      font-weight: 600;
      font-size: 1rem;
      line-height: 150%;
    }

    h3,
    h4 {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 150%;
    }

    .title-image {
      width: 100%;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      margin-bottom: 1rem;
    }

    .expires {
      color: map.get($app-custom-colors, "betaki-grey100");
      font-size: 0.875rem;
      line-height: 150%;
    }

    li::marker {
      color: map.get($app-custom-colors, "betaki-green100");
      font-size: 1.5rem;
      vertical-align: bottom;
    }
  }
}
