@use "sass:map" as map;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

app-promotions-terms-and-conditions {
  .basic-page-container.help {
    padding: 2rem;
  }

  .promotions-terms {
    border-radius: 1rem;
    background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");
    padding-bottom: 1rem;

    h1,
    h2,
    h3,
    h4,
    p,
    ul {
      margin-left: 1rem;
    }

    h1 {
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.5rem;
    }

    h2 {
      font-weight: 600;
      font-size: 1rem;
      line-height: 150%;
    }

    h3,
    h4 {
      font-weight: 600;
      font-size: 0.875rem;
      line-height: 150%;
    }

    .title-image {
      width: 100%;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      margin-bottom: 1rem;
    }

    .expires {
      color: map.get(theme-variables.$app-custom-colors, "neutral-60");
      font-size: 0.875rem;
      line-height: 150%;
    }

    li::marker {
      color: map.get(theme-variables.$app-custom-colors, "brand-accent");
      font-size: 1.5rem;
      vertical-align: bottom;
    }
  }
}
