<app-game-list
  title="Provedores"
  [categoryId]="categoryId()"
  [gameCount]="providers().length"
  [listTypeLabel]="'provedores'"
>
  <div class="scrolling-wrapper overflow-hidden w-full">
    <div class="scrolling-container pt-1 mx-3">
      <div class="scrolling-content">
        @for (provider of providers(); track provider.id) {
        <div
          class="shrink-0 relative overflow-hidden group cursor-pointer flex items-center justify-center bg-[#E0E0E0] rounded-lg shadow-lg w-28 h-14 sm:w-40 sm:h-20"
        >
          <a
            [routerLink]="'provider/' + provider.id"
            class="flex items-center p-0 z-10 text-bold transition-transform duration-300 group-hover:scale-110"
          >
            <img
              [src]="providerImageUrl(provider.name)"
              draggable="false"
              [alt]="provider.name"
              class="h-12 max-w-24 sm:h-16 sm:max-w-36 object-contain"
            />
          </a>
        </div>
        }
      </div>

      <div class="scrolling-content ms-4">
        @for (provider of providers(); track provider.id) {
        <div
          class="shrink-0 relative overflow-hidden group cursor-pointer flex items-center justify-center bg-[#E0E0E0] rounded-lg shadow-lg w-28 h-14 sm:w-40 sm:h-20"
        >
          <a
            [routerLink]="'provider/' + provider.id"
            class="flex items-center p-0 z-10 text-bold transition-transform duration-300 group-hover:scale-110"
          >
            <img
              [src]="providerImageUrl(provider.name)"
              draggable="false"
              [alt]="provider.name"
              class="h-12 max-w-24 sm:h-16 sm:max-w-36 object-contain"
            />
          </a>
        </div>
        }
      </div>
    </div>
  </div>
</app-game-list>
