<div class="promotion-container page-container">
  <app-page-breadcrumbs [breadcrumbs]="breadcrumbs" />

  <div class="money-split-section">
    <div class="bonus-type-strip">
      <div class="bonus-type" translate>Casino bonus</div>
      <div class="bonus-amount">
        {{ currencySymbol }} {{ casinoBonusBalanceAmount | number : '1.2' : dataStoreService.defaultLanguage }}
      </div>
    </div>
    <div class="bonus-type-strip">
      <div class="bonus-type" translate>Sportsbook bonus</div>
      <div class="bonus-amount">
        {{ currencySymbol }} {{ sportsbookBonusBalanceAmount | number : '1.2' : dataStoreService.defaultLanguage }}
      </div>
    </div>
  </div>

  <!-- Bonus tabs -->
  <mat-tab-group
    #tabGroup
    class="tab-group-container-primary"
    mat-stretch-tabs="false"
    (selectedTabChange)="onTabChange($event)"
    [selectedIndex]="selectedIndex"
    appScrollToCenter
  >
    <!-- Offering bonus Tab -->
    <mat-tab class="offering-tab">
      <ng-template mat-tab-label>
        {{ 'Offering' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <div class="profile-promo-offering-container">
          <app-bonus-offering [bonusList]="bonusOfferList" [bannerList]="bannerOfferList" />
        </div>
      </ng-template>
    </mat-tab>
    <!-- Ongoing bonus Tab -->
    <mat-tab class="ongoing-tab">
      <ng-template mat-tab-label>
        {{ 'Ongoing' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <div class="profile-promo-ongoing-container">
          <app-bonus-ongoing [bonusList]="bonusOngoingList" />
        </div>
      </ng-template>
    </mat-tab>
    <!-- Active bonus Tab -->
    <mat-tab class="active-tab">
      <ng-template mat-tab-label>
        {{ 'Active bonuses' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <div class="profile-promo-active-container">
          <app-bonus-active [bonusList]="bonusActiveList" />
        </div>
      </ng-template>
    </mat-tab>
    <!-- History bonus Tab -->
    <mat-tab class="history-tab">
      <ng-template mat-tab-label>
        {{ 'Bonus history' | translate }}
      </ng-template>
      <ng-template matTabContent>
        <div class="profile-promo-history-container">
          <app-bonus-history />
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
