@use "sass:map";
@use "src/theme/utils" as utils;

.page-container {
  padding-bottom: 6rem;

  .app-game-search {
    place-self: center;
    margin: 2.9125rem 0 2.9987rem;
    max-width: min(100%, 50rem);
    width: 100%;
    padding: 0 0.5rem;
    z-index: 10;

    @include utils.media("lt-sm-2") {
      margin: 1rem 0;
    }
  }

  @include utils.media("lt-sm-2") {
    padding-bottom: 1.5rem;
  }
}
