<div class="page-container">
  <!-- Game search -->
  <app-game-search class="app-game-search" />
  <!-- Main banner -->
  <app-main-banner [bannerData]="banners$ | async" [showArrowsMobile]="false" />
  <!-- Home page content -->
  <div class="games-categories-nav">
    <app-game-filters />
  </div>
  <div class="games-container game-tiles games-content-padding">
    @if ((isGamesLobby$ | async) === false) {
    <app-providers [isProvidersPage]="true" [initialRows]="0" [showArrowsMobile]="false" />
    } @else { @for (category of gameCategories; track category) { @if (category.games.length > 0) {
    <app-games-tiles
      [initialLoadAmount]="initialLoadAmount"
      [selectedProviderList]="selectedProviderList"
      [gamesList]="category.games"
      [categoryId]="category.id"
      [gameCatalog]="category.name"
      [gameCatalogCleanName]="category.cleanName"
      [initialRows]="initialRows"
    />
    } } @if (gameCategories.length > 1) {
    <app-providers [showArrowsMobile]="false" />
    } }
  </div>

  @if (false) {
  <!-- removed for GLI version -->
  <div class="games-page-content flex flex-col justify-center items-center content-center">
    <app-winners-section class="winners-section" [withBackground]="true" [hidePoolJackpot]="true" />
  </div>
  }

  <ng-content select="[welcome-message]" />
</div>
