@if (scriptLoaded()) {
  <spin-the-wheel
    [apiKey]="config.apiKey"
    [portalId]="config.portalId"
    [languageCode]="config.languageCode"
    [assetsBasePath]="config.assetsBasePath"
    [mediaLibraryUrl]="config.mediaLibraryUrl"
    [mediaLibraryBrand]="config.mediaLibraryBrand"
    [languagesBasePath]="config.languagesBasePath"
    [countdownTimezone]="config.countdownTimezone"
    [isAuthenticated]="config.isAuthenticated"
    [skipLogin]="config.skipLogin"
    [openWheel]="config.openWheel"
    [isMobile]="isMobile()"
    [hideMenu]="config.hideMenu"
    [summarizeWinnings]="config.summarizeWinnings"
    [bonusSpinMultiplication]="config.bonusSpinMultiplication"
    (close)="onClose()"
  ></spin-the-wheel>
}
