<app-base-dialog [displayCloseButton]="true" [title]="'Login to your account' | translate">
  <!-- Content -->
  <div dialogContent class="mb-0.5">
    <form class="form flex flex-col pt-0.5 mb-0.5" [formGroup]="loginForm">
      <!-- Username /Email -->
      <div class="field-wrapper">
        <div class="form-field-label" translate>Username</div>
        <mat-form-field appearance="outline" class="form-input-edit flex flex-col" subscriptSizing="dynamic">
          <input
            #usernameInput
            matInput
            name="username"
            type="text"
            autocomplete="username"
            [placeholder]="'Email or CPF' | translate"
            formControlName="username"
          />
          @if (loginForm.controls.username.hasError('required') && loginForm.controls.username.touched) {
          <ng-container>
            <mat-error class="error-msg" translate> can't be blank </mat-error>
          </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Password -->
      <div class="field-wrapper">
        <div class="form-field-label" translate>Password</div>
        <mat-form-field appearance="outline" class="form-input-edit flex flex-col" subscriptSizing="dynamic">
          <input
            matInput
            name="current-password"
            [type]="hidePassword ? 'password' : 'text'"
            autocomplete="current-password"
            [placeholder]="'Password' | translate"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePassword()"
            [attr.aria-label]="showHidePasswordLabel"
            [attr.title]="showHidePasswordLabel"
            [attr.aria-pressed]="!hidePassword"
            class="custom-icon-button"
          >
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          @if (loginForm.controls.password.hasError('required') && loginForm.controls.password.touched) {
          <ng-container>
            <mat-error class="error-msg" translate> can't be blank </mat-error>
          </ng-container>
          }
        </mat-form-field>
      </div>

      <!-- Error -->
      @if (error && error !== 'PlayerLockedOut') {
      <div class="error-msg" [innerHTML]="error | translate">
        {{ error | translate }}
      </div>
      } @if (error === 'PlayerLockedOut') {
      <div class="error-msg">
        {{ error | translate }}
        <a class="reset-password-link" (click)="onClose({ closeEvent: 'forgotPassword' })">{{
          'Please reset your password.' | translate
        }}</a>
      </div>
      }

      <!-- Forgot password -->
      <a class="link forgot-password" (click)="onClose({ closeEvent: 'forgotPassword' })" translate
        >Forgot Your Password?</a
      >

      <!-- Login button -->
      <button
        mat-button
        type="submit"
        class="submit-form-button button-text-small label-dark flex-grow"
        type="submit"
        (click)="onLogin()"
      >
        @if (!isDataLoading) {
        <span class="login-button-text mr-0.5" translate>Login</span>
        }
        <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5" />
      </button>
    </form>
    <!-- Sign up -->
    <div class="flex flex-wrap justify-center items-baseline gap-1">
      <div class="info-text" translate>Don't have an account?</div>
      <a class="link" (click)="onClose({ closeEvent: 'signUp' })" translate>Create one now</a>
    </div>
  </div>
</app-base-dialog>
