<app-base-dialog [displayCloseButton]="true" [title]="'Login to your account' | translate">
  <!-- Content -->
  <div dialogContent class="flex-col items-center mb-8">
    <form class="form flex-col pt-8 mb-8" [formGroup]="loginForm">
      <!-- Username /Email -->
      <div class="field-wrapper">
        <div class="form-field-label" translate>Username</div>
        <mat-form-field appearance="outline" class="form-input-edit flex-col" subscriptSizing="dynamic">
          <input
            #usernameInput
            matInput
            name="username"
            type="text"
            autocomplete="username"
            [placeholder]="'Email or CPF' | translate"
            formControlName="username"
          />
          <mat-error
            *ngIf="loginForm.controls.username?.hasError('required') && loginForm.controls.username.dirty"
            class="error-msg"
            translate
          >
            can't be blank
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Password -->
      <div class="field-wrapper">
        <div class="form-field-label" translate>Password</div>
        <mat-form-field appearance="outline" class="form-input-edit flex-col" subscriptSizing="dynamic">
          <input
            matInput
            name="current-password"
            [type]="hidePassword ? 'password' : 'text'"
            autocomplete="current-password"
            [placeholder]="'Password' | translate"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="togglePassword()"
            [attr.aria-label]="showHidePasswordLabel"
            [attr.title]="showHidePasswordLabel"
            [attr.aria-pressed]="!hidePassword"
            class="custom-icon-button"
          >
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
          <mat-error
            *ngIf="loginForm.controls.password?.hasError('required') && loginForm.controls.password.dirty"
            class="error-msg"
            translate
          >
            can't be blank
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Error -->
      <div *ngIf="error && error !== 'PlayerLockedOut'" class="error-msg" [innerHTML]="error | translate">
        {{ error | translate }}
      </div>
      <div *ngIf="error === 'PlayerLockedOut'" class="error-msg">
        {{ error | translate }}
        <a class="reset-password-link" (click)="onClose({ closeEvent: 'forgotPassword' })">{{
          'Please reset your password.' | translate
        }}</a>
      </div>

      <!-- Forgot password -->
      <a class="link forgot-password" (click)="onClose({ closeEvent: 'forgotPassword' })" translate
        >Forgot Your Password?</a
      >

      <!-- Login button -->
      <button
        mat-button
        type="submit"
        class="submit-form-button button-text-small label-dark flex-grow"
        type="submit"
        (click)="onLogin()"
      >
        <span *ngIf="!isDataLoading" class="login-button-text mr-8" translate>Login</span>
        <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5"></app-loader>
      </button>
    </form>
    <!-- Sign up -->
    <div class="flex-row flex-wrap justify-center items-baseline gap-4">
      <div class="info-text" translate>Don't have an account?</div>
      <a class="link" (click)="onClose({ closeEvent: 'signUp' })" translate>Create one now</a>
    </div>
  </div>
</app-base-dialog>
