<app-base-dialog [title]="'Edit limit' | translate" [displayCloseButton]="true">
  <!-- class="limits-dialog" -->
  <!-- Content -->
  <div dialogContent class="flex-col items-center">
    <form class="form flex-col pt-8" [formGroup]="form">
      <div class="flex-row limit-info-wrapper mb-12 gap-8">
        <div class="limit-info-container flex-col">
          <mat-label class="form-outline-label pl-4">{{ 'Limit type' | translate }}</mat-label>
          <mat-form-field appearance="outline" class="form-input-edit edit-limit-form-field" subscriptSizing="dynamic">
            <input matInput type="text" formControlName="limitType" />
          </mat-form-field>
        </div>
        <div class="limit-info-container flex-col">
          <mat-label class="form-outline-label pl-4">{{ 'Limit period' | translate }}</mat-label>
          <mat-form-field appearance="outline" class="form-input-edit edit-limit-form-field" subscriptSizing="dynamic">
            <input matInput type="text" formControlName="limitPeriod" />
          </mat-form-field>
        </div>
      </div>
      <div class="field-wrapper mb-12">
        <mat-label class="form-outline-label pl-4">{{ 'Amount' | translate }}</mat-label>
        <mat-form-field appearance="outline" class="form-input-edit full-width" subscriptSizing="dynamic">
          <input
            matInput
            type="number"
            min="0"
            class="limit-input"
            formControlName="amount"
            (keydown)="validateNumber($event)"
          />
          <span class="limit-input-suffix" matTextSuffix>{{ form.get('time')?.value || '' | translate }}</span>
        </mat-form-field>
      </div>
      <div class="button-row flex-row gap-16">
        <!-- Delete button -->
        <button type="submit" mat-stroked-button class="button-text-small label-dark flex-grow" (click)="onDelete()">
          {{ 'Delete limit' | translate | uppercase }}
          <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5"></app-loader>
        </button>
        <!-- Update button -->
        <button type="submit" mat-button class="button-text-small label-dark flex-grow" (click)="onUpdate()">
          {{ 'Update' | translate | uppercase }}
          <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5"></app-loader>
        </button>
      </div>
    </form>
  </div>
</app-base-dialog>
