<form [formGroup]="resendConfirmationInstructionsForm" class="flex form-container">
  <h1>{{ 'Resend Confirmation Instructions' | translate }}</h1>
  <div class="flex mb-6">
    <mat-form-field class="form-input" subscriptSizing="dynamic">
      <input matInput placeholder="Enter your email" formControlName="email" autocomplete="off" />
      @if (resendConfirmationInstructionsForm.get('email')?.errors) {
      <ng-container>
        <mat-error class="error-msg">
          {{ "can't be blank" | translate }}
        </mat-error>
      </ng-container>
      }
    </mat-form-field>
  </div>

  <div class="flex">
    <button
      mat-button
      type="submit"
      class="button-larger-text confirm-button flex"
      (click)="resendConfirmationInstructions()"
    >
      <span class="confirm-button-text mr-2" translate>{{
        'Resend confirmation instructions' | translate | uppercase
      }}</span>
      <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5" />
    </button>
  </div>

  <!-- <div class="link-container flex-col items-center gap-2 mt-11">
  <a class="link" routerLink="/users/unlock/new" translate>Didn't receive unlock instructions?</a>
  <a class="link" routerLink="/users/password/new" translate>Forgot Your Password?</a>
</div> -->
</form>
