<div class="player-profile-header-wrapper">
  <div class="player-profile-header" [class.logged-out]="!isLoggedIn" *ngIf="showTopBar">
    <div class="breadcrumbs-container">
      <ng-container *ngFor="let item of breadcrumbsList">
        <a class="breadcrumbs-link" [routerLink]="item.url" translate *ngIf="item.url">
          <div class="breadcrumbs-item">
            <mat-icon fontSet="material-icons-outlined" class="breadcrumbs-icon" *ngIf="item.icon">{{
              item.icon
            }}</mat-icon>
            <mat-icon
              fontSet="material-icons-outlined"
              class="breadcrumbs-icon"
              svgIcon="{{ item.svgIcon }}"
              *ngIf="item.svgIcon"
            ></mat-icon>
            <div
              [ngClass]="{ 'breadcrumbs-divider': item.divider, 'breadcrumbs-text': !item.divider, last: item.last }"
              *ngIf="item.text"
            >
              {{ item.text | translate }}
            </div>
          </div>
        </a>
        <div class="breadcrumbs-item" [routerLink]="item.url" translate *ngIf="!item.url">
          <mat-icon fontSet="material-icons-outlined" class="breadcrumbs-icon" *ngIf="item.icon">{{
            item.icon
          }}</mat-icon>
          <mat-icon
            fontSet="material-icons-outlined"
            class="breadcrumbs-icon"
            svgIcon="{{ item.svgIcon }}"
            *ngIf="item.svgIcon"
          ></mat-icon>
          <div
            [ngClass]="{ 'breadcrumbs-divider': item.divider, 'breadcrumbs-text': !item.divider, last: item.last }"
            *ngIf="item.text"
          >
            {{ item.text | translate }}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="player-profile-contact-container">
      <mat-icon class="link-icon" svgIcon="essentials-headset-2" (click)="onSupportClick()"></mat-icon>
      <div *ngIf="isLoggedIn" class="mail" routerLink="/profile/messages">
        <mat-icon class="link-icon" svgIcon="essentials-mail-2"></mat-icon>
        <div class="mail-notifications" *ngIf="displayNumberOfMessages">{{ messageCount$ | async }}</div>
      </div>
    </div>

    <div class="player-profile-mobile-container">
      <mat-icon class="link-icon" svgIcon="essentials-headset-2" (click)="onSupportClick()"></mat-icon>

      <div *ngIf="isLoggedIn" class="mail" routerLink="/profile/messages">
        <mat-icon class="link-icon" svgIcon="essentials-mail-2"></mat-icon>
        <div class="mail-notifications" *ngIf="displayNumberOfMessages">{{ messageCount$ | async }}</div>
      </div>
    </div>
    <div *ngIf="isOnProfilePage() && isLoggedIn" class="player-profile-navigation-container">
      <mat-icon class="link-icon" (click)="onOpenPlayerMenu()" fontSet="material-icons-outlined">settings</mat-icon>
      <mat-icon class="link-icon" routerLink="/" svgIcon="essentials-close"></mat-icon>
    </div>
  </div>
  <div *ngIf="!isOnGeneralProfilePage()" class="player-profile-mobile-page-title-strip">
    <mat-icon (click)="onBack()" fontSet="material-icons-outlined" class="breadcrumbs-icon">chevron_left </mat-icon>
    <div class="mobile-page-title" translate>
      {{ lastBreadcrumbText }}
    </div>
  </div>
</div>
