<app-base-dialog [title]="'Promotion confirmation' | translate">
  <div dialogContent class="flex flex-col items-center">
    <div class="subtitle mb-3">{{ data.subtitle ?? '' | translate }}</div>
    <div class="description mb-[30px]">{{ data.description | translate }}</div>
  </div>

  <ng-container dialogButtons>
    <button mat-button class="button-text-small label-dark flex-grow" (click)="onConfirm()">
      {{ 'Confirm' | translate | uppercase }}
    </button>
    <button mat-stroked-button class="button-text-small label-dark flex-grow" (click)="onCancel()">
      {{ 'Cancel' | translate | uppercase }}
    </button>
  </ng-container>
</app-base-dialog>
