<app-base-dialog [title]="'Promotion confirmation' | translate">
  <div dialogContent class="flex flex-col items-center">
    <div class="subtitle mb-3">{{ data.subtitle ?? '' | translate }}</div>
    <div class="description mb-[30px]">{{ data.description | translate }}</div>
  </div>

  <ng-container dialogButtons>
    <app-button variant="neutral" (click)="onConfirm()">
      {{ 'Confirm' | translate | uppercase }}
    </app-button>
    <app-button variant="outline-neutral" (click)="onCancel()">
      {{ 'Cancel' | translate | uppercase }}
    </app-button>
  </ng-container>
</app-base-dialog>
