<app-base-dialog [title]="'Promotion confirmation' | translate">
  <div dialogContent class="flex flex-col items-center">
    <div class="subtitle mb-3">{{ data.subtitle ?? '' | translate }}</div>
    <div class="description mb-[30px]">{{ data.description | translate }}</div>
  </div>

  <ng-container dialogButtons>
    <div class="flex w-full items-center gap-4">
      <app-button class="flex-1" fullWidth variant="outline-neutral" (click)="onCancel()">
        {{ 'Cancel' | translate | uppercase }}
      </app-button>
      <app-button class="flex-1" fullWidth variant="neutral" (click)="onConfirm()">
        {{ 'Confirm' | translate | uppercase }}
      </app-button>
    </div>
  </ng-container>
</app-base-dialog>
