<div class="main-banner-swiper-container">
  <!-- More banners -->
  <div
    *ngIf="(bannersSmall?.length ?? 0) > 1 || (bannersLarge?.length ?? 0) > 1"
    class="multiple-banners-swiper-container flex-row"
  >
    <!-- Swiper -->
    <swiper
      [config]="(bannersLarge?.length ?? 0) > 1 ? configLarge : configSmall"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange($event)"
      class="main-banner-swiper"
    >
      <!-- Left navigation -->
      <div class="swiper-nav-container-left flex-col justify-center items-end">
        <div class="swiper-navigation-logo flex-col justify-center items-center">
          <mat-icon class="swiper-nav-left-icon">arrow_back_ios</mat-icon>
        </div>
      </div>

      <!-- Left navigation mobile -->
      <!-- <div
        class="swiper-nav-container-left-mobile flex-col justify-center items-end"
        *ngIf="showPrevNavigation && showArrowsMobile"
      >
        <div class="swiper-navigation-logo flex-col justify-center items-center">
          <mat-icon class="swiper-nav-left-icon">chevron_left</mat-icon>
        </div>
      </div> -->

      <ng-container *ngIf="(bannersSmall?.length ?? 0) > 1" class="">
        <ng-container *ngFor="let bannerItem of bannersSmall">
          <ng-template class="flex-hide--gt-sm-1" swiperSlide>
            <div [innerHTML]="bannerItem?.templateHtml"></div>
          </ng-template>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="(bannersLarge?.length ?? 0) > 1" class="flex-hide--lt-sm-2">
        <ng-container *ngFor="let bannerItem of bannersLarge">
          <ng-template class="flex-hide--lt-sm-2" swiperSlide>
            <div [innerHTML]="bannerItem?.templateHtml"></div>
          </ng-template>
        </ng-container>
      </ng-container>

      <!-- Right navigation -->
      <div class="swiper-nav-container-right flex-col justify-center items-start">
        <div class="swiper-navigation-logo flex-col justify-center items-center">
          <mat-icon class="swiper-nav-right-icon">arrow_forward_ios</mat-icon>
        </div>
      </div>

      <!-- Right navigation mobile -->
      <!-- <div
        class="swiper-nav-container-right-mobile flex-col justify-center items-start"
        *ngIf="showNextNavigation && showArrowsMobile"
      >
        <div class="swiper-navigation-logo flex-col justify-center items-center">
          <mat-icon class="swiper-nav-right-icon">chevron_right</mat-icon>
        </div>
      </div> -->
    </swiper>
  </div>

  <!-- One banner: mobile -->
  <div *ngIf="bannersSmall?.length === 1" class="single-main-banner flex-hide--gt-sm-1">
    <div [innerHTML]="bannersSmall?.[0]?.templateHtml"></div>
  </div>

  <!-- One banner: desktop -->
  <div *ngIf="bannersLarge?.length === 1" class="single-main-banner flex-hide--lt-sm-2">
    <div [innerHTML]="bannersLarge?.[0]?.templateHtml"></div>
  </div>
</div>
