@use "sass:map";
@use "sass:color";
@use "src/theme/utils" as utils;
@import "src/theme/theme-variables";

/* stylelint-disable declaration-no-important, selector-max-compound-selectors */

:host {
  max-width: $home-content-max-width;
  width: 100%;
  margin-bottom: 1rem;
}

.main-banner-swiper-container,
.main-banner-swiper {
  width: 100%;
  height: 100%;
}

.main-banner-swiper {
  padding-left: 1rem;
  @include utils.media("lt-sm-2") {
    padding-left: 0.5rem;
  }
}

.single-main-banner {
  margin: auto;
  padding: 0 1.5rem;

  @include utils.media("lt-sm-2") {
    padding: 0 0.5rem;
  }
}

.swiper-nav-container-left {
  width: 64px;
  color: map.get($app-custom-colors, "neutral-white");
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 32px;
  z-index: 20;
  height: 100%;
  background-color: map.get($app-custom-colors, "neutral-10-35");
  display: flex;
  align-items: center;
  cursor: pointer;
  visibility: hidden; // Hide by default for both
  transition: visibility 0.3s ease;

  @include utils.media("lt-sm-2") {
    display: none;
  }

  // Remove individual transform
  &:hover {
    background-color: map.get($app-custom-colors, "neutral-10-50");
    display: flex;
  }

  .swiper-navigation-logo {
    height: 3.375rem;
    width: 3.375rem;
    border-radius: 0.5rem;

    .swiper-nav-left-icon {
      color: map.get($app-custom-colors, "neutral-400");
      font-size: 2rem;
      font-weight: bold;
      height: 2rem;
      width: 2rem;

      @include utils.media("lt-sm-2") {
        font-size: 1.875rem;
        height: 1.875rem;
        width: 1.875rem;
      }
    }
  }
}

.swiper-nav-container-right {
  width: 64px;
  color: map.get($app-custom-colors, "neutral-white");
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -32px;
  z-index: 20;
  height: 100%;
  background-color: map.get($app-custom-colors, "neutral-10-35");
  display: flex;
  align-items: center;
  cursor: pointer;
  visibility: hidden; // Hide by default for both
  transition: visibility 0.3s ease;

  @include utils.media("lt-sm-2") {
    display: none;
  }

  // Remove individual transform
  &:hover {
    background-color: map.get($app-custom-colors, "neutral-10-50");
  }

  .swiper-navigation-logo {
    height: 3.375rem;
    width: 3.375rem;
    border-radius: 0.5rem;

    .swiper-nav-right-icon {
      color: map.get($app-custom-colors, "neutral-400");
      font-size: 2rem;
      font-weight: bold;
      height: 2rem;
      width: 2rem;

      @include utils.media("lt-sm-2") {
        font-size: 1.875rem;
        height: 1.875rem;
        width: 1.875rem;
      }
    }
  }
}

.swiper-nav-container-left-mobile {
  flex-shrink: 0;
  border-radius: 1.084rem;
  background: map.get($app-custom-colors, "neutral-white");
  color: map.get($app-custom-colors, "Betaki_olivia");
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 1rem;
  z-index: 20;

  @include utils.media("gt-sm-1") {
    display: none;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  @include utils.media("lt-sm-2") {
    &.swiper-button-lock {
      display: block;
    }
  }

  @include utils.media("gt-sm-1") {
    display: none;
  }
}

.swiper-nav-container-right-mobile {
  flex-shrink: 0;
  border-radius: 1.084rem;
  background: map.get($app-custom-colors, "neutral-white");
  color: map.get($app-custom-colors, "Betaki_olivia");
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  z-index: 20;
  top: 50%;
  transform: translate(-50%, -50%);
  right: -0.5rem;

  @include utils.media("gt-sm-1") {
    display: none;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .mat-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    line-height: 1rem;
  }

  @include utils.media("lt-sm-2") {
    &.swiper-button-lock {
      display: block;
    }
  }

  @include utils.media("gt-sm-1") {
    display: none;
  }
}

.multiple-banners-swiper-container {
  position: relative;

  // Add hover trigger for both containers
  &:hover {
    .swiper-nav-container-left,
    .swiper-nav-container-right {
      visibility: visible;
    }
  }
}

:host ::ng-deep .banner-background-illustration {
  .banner-container,
  .background-image,
  .banner-content-wrapper {
    border-radius: 1rem;
  }
  object-fit: cover;
  height: unset !important;
  width: 100% !important;
  aspect-ratio: 400 / 225;

  .background-image {
    object-fit: cover;
    height: unset;
    aspect-ratio: 400 / 225;
    width: 100%;
  }

  @include utils.media("lt-sm-2") {
    aspect-ratio: 1257 / 504;
    object-fit: cover;
    height: unset !important;
    width: 100% !important;

    .banner-container {
      display: flex;
      // border-radius: 0 !important;
      width: 100%;
      max-width: 100%;
      overflow: hidden;

      .background-image {
        height: auto !important;
        width: 100% !important;
        // border-radius: 0rem !important;
        aspect-ratio: 1257 / 504;
        object-fit: cover !important;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
