<div class="onboarding-completed-wrapper flex-col justify-center items-center gap-10 mt-25">
  <div class="flex-row" class="title" translate>All done</div>
  <div class="flex-col justify-center items-center description-container">
    <div class="flex-row" translate>Your documentation has been submitted. The review will take a few minutes.</div>
    <div class="flex-row" translate>
      After successful verification, you will receive an email with an activation link.
    </div>
  </div>
</div>
