<!-- Header -->
<app-header
  class="header"
  [isSignedIn]="!!(isSignedIn$ | async)"
  [balance]="balance$ | async"
  [loyaltyPoints]="loyaltyPoints$ | async"
  [playerInfo]="playerInfo"
></app-header>

<!-- Main container -->
<div class="main-container">
  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<app-footer *ngIf="!isSportsbook" [balance]="balance$ | async" class="footer"></app-footer>
<app-footer-nav-bar
  [isSportsbook]="isSportsbook"
  (sidenavToggle)="sidenavMenu.toggleSidenavMenu()"
  (sidenavCloseIfOpened)="sidenavMenu.closeSidenavIfOpened()"
  class="footer-nav-bar-mobile"
></app-footer-nav-bar>
<app-global-search *ngIf="globalSearchService.isEnabled()"> </app-global-search>
