<!-- Loadings -->
@if(loadingService.loading()){
<app-loading />
} @if(loadingService.inlineLoading()){
<app-inline-loading />
}

<!-- Header -->
<app-header />

<!-- Main container -->
<div class="main-container pt-(--header-height-mobile)! md:pt-(--header-height-desktop)!">
  <router-outlet /> 
</div>

@if ( !routingService.isSportsbook() && !routingService.isIngame() ) {
<app-sidebar-mobile></app-sidebar-mobile>
<app-mobile-menu></app-mobile-menu>
@if (!routingService.isProfile() && !routingService.isPromotions() ) {
<app-footer></app-footer>
} }
