<footer class="flex justify-center items-center pt-7 z-3 relative border-t border-accent bg-shark-800 text-shark-50">
  <div class="max-w-3xl md:max-w-4xl w-full sm:mx-30 flex flex-col xl:max-w-[1400px]">
    <div
      class="max-w-sm md:max-w-4xl lg:max-w-7xl m-auto grid grid-cols-2 gap-x-5 md:grid-cols-4 md:gap-x-10 gap-y-16 lg:grid-cols-4"
    >
      @for (column of linkColumns; track column.title) {
      <div class="col-span-1 md:col-span-1 justify-self-start md:justify-self-center lg:col-span-1">
        <h5 class="text-xl md:text-2xl leading-normal font-bold text-left mb-3">{{ column.title }}</h5>
        @for (link of column.links; track link.text) {
        <a [href]="link.url" class="text-sm leading-normal hover:text-shark-50/20 font-light text-left block">
          {{ link.text }}
        </a>
        }
      </div>
      }
      <div class="justify-self-center col-span-1">
        <h5 class="text-xl md:text-2xl leading-normal font-bold text-left mb-3">Pagamentos</h5>
        <img src="/assets/footer/pix.png" alt="Pix logo" class="h-10 w-auto" width="100" height="36" />
        <button
          type="button"
          class="inline-flex mt-4 items-center justify-center font-medium transition-colors cursor-pointer rounded-md focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed px-3 py-1.5 text-sm border-2 border-transparent text-betaki-400 w-auto bg-shark-950! hover:bg-shark-50/20!"
          (click)="openTawkChat()"
        >
          <span class="mr-2">
            <img src="/assets/icons/chat-icon.svg" alt="" width="54" height="53" class="w-[1.125rem] h-auto" /> </span
          >Contate-nos
        </button>
      </div>
    </div>
    <div class="bg-shark-700 h-px mt-6 mx-10"></div>
    <div class="flex flex-col xs:flex-row justify-center items-center mt-6 gap-5">
      <img src="/assets/brand/logo-white-color.svg" alt="BetAki logo" class="h-10 w-auto" width="120" height="45" />

      <div class="socials flex flex-row items-center justify-center gap-3">
        @for (icon of socialIcons; track icon.src) {
        <a
          [href]="icon.url"
          type="button"
          class="inline-flex items-center justify-center font-medium transition-colors cursor-pointer focus:outline-none focus:ring-0 disabled:opacity-50 disabled:cursor-not-allowed py-1.5 text-sm border-2 border-transparent text-betaki-500 hover:bg-shark-50/20 w-auto bg-shark-950 rounded-full! px-1.5"
          [attr.alt]="icon.alt"
        >
          <span class="">
            <img
              [src]="icon.src"
              [alt]="icon.alt"
              class="w-[1.125rem] h-[1.125rem]"
              [width]="icon.width"
              [height]="icon.height"
            />
          </span>
        </a>
        }
      </div>
    </div>
    <div class="bg-shark-700 h-px mt-6 mx-10"></div>
    <div class="flex flex-col justify-center items-center mt-6 gap-2">
      <h5 class="text-xl md:text-2xl leading-normal text-center">A Bet Aki tem orgulho em patrocinar:</h5>

      <div class="flex flex-row flex-wrap items-center justify-center gap-4 sm:gap-10 mt-2">
        <a href="https://www.instagram.com/sampaiocorrea" target="_blank">
          <img src="/assets/footer/scfc.png" alt="SCFC logo" class="h-18 h-18 w-auto" />
        </a>
        <a href="https://www.instagram.com/uberlandiaesporteclube" target="_blank">
          <img src="/assets/footer/escudo_uec.png" alt="UEC brand" class="h-21 w-auto mb-2" />
        </a>
        <a href="https://www.instagram.com/forroemulherfestival" target="_blank">
          <img src="/assets/footer/forro-e-mulher.png" alt="Forró e Mulher logo" class="h-15 h-20 w-auto" />
        </a>
      </div>
    </div>
    <div class="bg-shark-700 h-px my-6 mx-10"></div>

    <div class="flex flex-wrap items-center justify-center gap-5">
      <a
        href="https://www.editoraroncarati.com.br/v2/Diario-Oficial/Diario-Oficial/PORTARIA-SPA-MF-N%C2%BA-693-DE-01-04-2025.html"
        target="_blank"
      >
        <img
          src="/assets/footer/autorizado.png"
          alt="Autorizado pelo ministério da fazenda logo"
          class="h-auto w-40"
          width="150"
          height="44"
        />
      </a>

      <a
        href="https://www.reclameaqui.com.br/empresa/bet-aki/?utm_source=referralutm_medium=embbed&utm_campaign=ra_verificada&utm_term=horizontal"
        target="_blank"
      >
        <img
          src="/assets/footer/reclame-aqui.png"
          alt="Selo Reclame Aqui"
          class="h-auto w-40"
          width="200"
          height="71"
        />
      </a>
    </div>

    <div class="bg-shark-700 h-px my-6 mx-10"></div>

    <p class="text-xs leading-normal font-normal text-center mx-3 lg:mx-0">
      A BetAki.bet.br é uma plataforma de entretenimento online operada pela Vanguard Entretenimento Brasil LTDA
      inscrita sob CNPJ nº 56.885.537/0001-30, com sede no endereço Rua do Brum, n. 455, Recife, PE, CEP 50.030-260,
      e-mail suporte@betaki.bet.br, devidamente autorizada pelo Governo Brasileiro através da Secretaria de Prêmios e
      Apostas (Ministério da Fazenda), conforme Portaria SPA/MF nº 693 de 1 de abril de 2025. A BetAki oferece aos seus
      usuários uma experiência inovadora em apostas de quota fixa, em total conformidade com as regulamentações
      brasileiras. A plataforma conta com a certificação GLI Brasil, emitida pela Gaming Laboratories International
      (GLI), assegurando os mais altos padrões de integridade e segurança no setor.
    </p>

    <div class="bg-shark-700 h-px mt-6 mx-10"></div>

    <div class="w-full flex flex-wrap items-center justify-center gap-4 md:gap-5 mt-6">
      @for (image of certificationImages; track image.src) {
      <img [src]="image.src" [alt]="image.alt" [class]="image.class" [width]="image.width" [height]="image.height" />
      }
    </div>

    <div class="bg-shark-700 h-px mt-6 mx-10"></div>
    <div class="flex flex-row items-center justify-center mt-2 mb-2 gap-3 pb-22 md:pb-0">
      @for (item of supportOptions; track $index) {
      <p
        class="text-xs leading-normal text-betaki-400 hover:underline font-normal text-center cursor-pointer"
        [routerLink]="item.url"
        [class]="$index < supportOptions.length - 1 ? 'pe-3 border-e border-shark-500' : ''"
      >
        {{ item.name }}
      </p>
      }
    </div>
  </div>
</footer>
