@use "sass:map";
@use "src/theme/utils" as util;
@import "src/theme/theme-variables";

.page-container {
  background-color: map.get($app-custom-colors, "betaki-grey30");
}

.basic-page-container {
  width: 100%;
  max-width: 70rem;
  font-size: 1rem;
  color: map.get($app-custom-colors, "ATL_white75");
}
