@use "sass:map" as map;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

.page-container {
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-300");
}

.basic-page-container {
  width: 100%;
  max-width: 70rem;
  font-size: 1rem;
  color: map.get(theme-variables.$app-custom-colors, "neutral-100");
}
