<div class="header-container flex">
  <!-- LOGO IMG -->
  <div class="header-wrapper">
    <a class="logo-img-container" [class.small-hidden]="username" routerLink="/" (click)="scrollToTop()">
      <img alt="logo" class="logo-img" [src]="'/assets/general/logo/betaki-logo.png' | cdnize" />
    </a>

    <!-- MAIN NAVIGATION LINKS -->
    <div class="flex nav-links-container small-hidden">
      <a routerLink="/sportsbook" routerLinkActive="active-link" class="flex items-center gap-2">
        {{ 'Sports' | translate }}</a
      >
      <a routerLink="/sportsbook-live" routerLinkActive="active-link" class="flex items-center gap-2">
        {{ 'Sports live' | translate }}</a
      >
      <a routerLink="/games" routerLinkActive="active-link" class="flex items-center gap-2">
        {{ 'Casino' | translate }}</a
      >
      <a routerLink="/games-live" routerLinkActive="active-link" class="flex items-center gap-2">
        {{ 'Casino live' | translate }}</a
      >
    </div>

    <!-- AUTH AND LANGUAGE SELECTOR -->

    @if (!username) {
      <div class="flex auth-buttons-container gap-2.5">
        <a class="promo-icon" routerLink="/promotions" (click)="scrollToTop()">
          <mat-icon>redeem</mat-icon>
        </a>
        <button
          mat-stroked-button
          class="sign-up-button auth-button secondary"
          (click)="onRegister()"
          aria-label="sign up"
        >
          <mat-icon svgIcon="register" />
          <span translate>Register</span>
        </button>
        <button
          class="login-button secondary-button auth-button secondary"
          mat-button
          routerLink="/sign-in"
          aria-label="login"
          (click)="scrollToTop()"
        >
          <mat-icon svgIcon="exit-door" />
          <span translate>Enter</span>
        </button>
      </div>
    }

    <!-- PROFILE HEADER -->
    @if (username) {
      <div class="auth-buttons-container">
        <app-profile-info-header
          [isProfile]="isProfile"
          [balance]="balance"
          [loyaltyPoints]="loyaltyPoints"
          [isDemoPlay]="isDemoPlay"
          [playerInfo]="playerInfo"
        />
      </div>
    }
  </div>
</div>
