<form [formGroup]="resendUnlockInstructionsForm" class="flex-col form-container">
  <h1>{{ 'Resend Unlock Instructions' | translate }}</h1>
  <div class="description mb-16">
    <span>{{
      'If your account has been locked, fill in your e-mail address and we will send you unlock instructions via e-mail. Contact us via'
        | translate
    }}</span>
    <span class="link support" routerLink="/support">Support</span>
    <span>{{ 'if you need further help.' | translate }}</span>
  </div>
  <div class="flex-col mb-24">
    <mat-form-field class="form-input" subscriptSizing="dynamic">
      <input matInput placeholder="Enter your email" formControlName="email" autocomplete="off" />
      <mat-error class="error-msg" *ngIf="resendUnlockInstructionsForm.get('email')?.errors">
        {{ "can't be blank" | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex-col">
    <button
      mat-button
      type="submit"
      class="button-larger-text confirm-button flex-row"
      (click)="resendUnlockInstructions()"
    >
      <span class="confirm-button-text mr-8" translate>{{ 'Resend unlock instructions' | translate | uppercase }}</span>
      <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5"></app-loader>
    </button>
  </div>

  <!-- <div class="link-container flex-col items-center gap-8 mt-44">
    <a class="link" routerLink="/users/password/new" translate>Forgot Your Password?</a>
    <a class="link" routerLink="/users/confirmation/new" translate>Didn't receive confirmation instructions?</a>
  </div> -->
</form>
