@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

.dialog-title {
  color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.migration-login-dialog-content {
  color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  font-size: 0.75rem;
}
