<app-base-dialog class="last-session-base-dialog" [displayTopBar]="true" [title]="'Logged in' | translate">
  <ng-container dialogContent>
    @if (lastLoginTime) {
      <p>{{ 'Your last session was:' | translate }} {{ lastLoginTime | date: dateFormat }}</p>
    } @else {
      <p>{{ 'This is your first session, started at:' | translate }} {{ currentDate | date: dateFormat }}</p>
    }
  </ng-container>

  <ng-container dialogButtons>
    <button mat-button class="button-text-small label-dark flex-grow" (click)="onClose()">
      {{ 'Close' | translate }}
    </button>
  </ng-container>
</app-base-dialog>
