@use "sass:map" as map;
@use "theme/theme-variables" as theme-variables;

.dialog-title {
  color: map.get(theme-variables.$app-custom-colors, "Betaki_success");
  text-align: center;
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.last-session-login-dialog-content {
  color: map.get(theme-variables.$app-custom-colors, "neutral-black");
  font-size: 0.75rem;
}

.last-session-header-text {
  font-size: 1.25rem;
  color: map.get(theme-variables.$app-custom-colors, "Betaki_success");
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
