<app-game-list [categoryId]="categoryId()" [gameCount]="games().length" title="TOP 10 CASSINO">
  <div
    appDragScroll
    class="flex select-none gap-x-16 overflow-x-auto overflow-y-visible scroll-smooth no-scrollbar py-16 -my-12 relative z-0 hover:z-20 ps-3"
  >
    @for (game of games(); track game.id; let i = $index) {
    <div class="relative flex shrink-0 items-center text-center group" [class.ms-14]="i === 0">
      <app-game-card [class.mr-3]="games().length - 1 === i" [game]="game" (click)="gameClick.emit(game)" />

      <p class="absolute inset-y-0 z-10 flex items-center text-5xl text-brand-500! big-number text-white left-[-60px]">
        {{ i + 1 }}
      </p>
    </div>
    }
  </div>
</app-game-list>
