@use "theme/theme";
@use "tailwindcss";
@use "brand-theme";

body.sidebar-open {
  overflow: hidden;
}

.rocketchat-widget {
  @media (width <= 767px) {
    &[data-state="closed"] {
      bottom: 55px !important;
    }

    &[data-state="opened"] {
      bottom: 0 !important;
    }
  }

  @media (width >= 768px) {
    bottom: 20px !important;
  }
}

/* Hide specific tracking pixel */
img[src*="webtrafficsource.com"][width="1"][height="1"] {
  display: none !important;
}
