<div class="flex profile-info-container">
  <div class="header-left">
    <div class="dropdown-container flex">
      <div #profileIcon class="profile-icon-container" (click)="dropdownRefProfileTrigger.openMenu()">
        <mat-icon
          #fontIconsUser
          [class.active-link]="isActive('profile')"
          class="user-icon-dialog"
          svgIcon="profile-icon"
        />
      </div>
      <!-- <div *ngIf="isProfile" class="profile-icon-container flex-hide--gt-sm-1" (click)="openProfileMenu()">
      <mat-icon
        [ngClass]="{ 'active-link': isActive('profile') }"
        class="user-icon-dialog"
        svgIcon="profile-icon"
      ></mat-icon>
    </div> -->

      <!-- MENU DROPDOWN TRIGGER FOR POSITION ONLY -->
      <div class="menu-dropdown-trigger-position">
        <div
          #dropdownRefProfile
          #dropdownRefProfileTrigger="matMenuTrigger"
          [matMenuTriggerFor]="profileDropdown"
        ></div>
        <div
          #dropdownRefNotifications
          #dropdownRefNotificationsTrigger="matMenuTrigger"
          [matMenuTriggerFor]="notificationsDropdown"
        ></div>
      </div>
    </div>

    <a class="promo-link" routerLink="/profile/promo" (click)="scrollToTop()">
      <mat-icon>redeem</mat-icon>
    </a>
  </div>

  <!-- LOGO IMG -->
  <a class="logo-img-container hidden-desktop" routerLink="/" (click)="scrollToTop()">
    <img alt="logo" class="logo-img" [src]="'/assets/general/logo/betaki-logo.png' | cdnize" />
  </a>

  <div class="header-right">
    <div class="flex wallet-container">
      <div class="balance-info-container">
        @if (!balanceVisible) {
        <span>{{ balance?.currencySymbol }} *****</span>
        } @if (!isDemoPlay && balanceVisible) {
        <span
          >{{ balance?.currencySymbol }} {{ balance?.totalBalance | number : '1.2' : dataStoreService.defaultLanguage }}
        </span>
        } @if (isDemoPlay) {
        <span translate>FUN</span>
        }
      </div>
      <button mat-button class="deposit-button" (click)="onDeposit()">
        <span translate>Deposit</span>
      </button>
    </div>
  </div>
</div>

<!-- NOTIFICATION ICON -->
<!-- <div class="notifications-icon-container" (click)="dropdownRefNotifications.click()">
<span #fontIconsNotifications class="font-icons push-notifications__icon"></span> -->
<!-- Temporarily disabling this feature due to ICSPB-3098 -->
<!-- <div
class="notifications-number-container"
*ngIf="notificationCount > 0"
        [ngClass]="{
          'padding-2': notificationCount > 9,
          'padding-3': notificationCount > 99
        }"
>
{{ notificationCount }}
</div>
</div>-->

<!-- LANGUAGE SELECTOR -->
<!-- <div class="flex flex-row locale-selector">
<app-language-selector
  [icon]="false"
  [isLogin]="true"
  class="language-selector profile full-width"
></app-language-selector>
</div> -->

<!-- NOTIFICATION DROPDOWN MENU -->

<mat-menu class="header-dropdown" #notificationsDropdown xPosition="before" [hasBackdrop]="false">
  <div class="header-dropdown-container wider">
    <div class="notification-container">
      @if (!(notificationCount > 0)) {
      <span class="notification-span" translate>No current notifications</span>
      } @if (notificationCount > 0) {
      <app-header-promotion-item [promotions]="this.notificationsData" />
      }
    </div>
  </div>
</mat-menu>

<!-- PLAYER DROPDOWN MENU -->

<mat-menu class="header-dropdown" #profileDropdown xPosition="after" [hasBackdrop]="false">
  <div class="header-dropdown-container" (click)="$event.stopPropagation()">
    <div class="close-button-menu">
      <mat-icon (click)="dropdownRefProfileTrigger.closeMenu()">close</mat-icon>
    </div>
    <div class="header-dropdown-top flex gap-2">
      <mat-icon class="user-icon" svgIcon="essentials-user-black-outlined" />
      <span class="dropdown-email-label">{{ playerInfo?.firstName }}</span>
    </div>

    <div class="menu-balance-container flex flex-col gap-2">
      <div class="flex justify-between full-width">
        <div class="flex gap-2">
          <span class="balance-text" translate>Balance</span>
          @if (!balanceVisible) {
          <mat-icon class="material-icons-outlined hide-balance-icon" (click)="changeBalanceVisiblity()"
            >visibility</mat-icon
          >
          } @if (balanceVisible) {
          <mat-icon class="material-icons-outlined hide-balance-icon" (click)="changeBalanceVisiblity()"
            >visibility_off</mat-icon
          >
          }
        </div>

        @if (balanceVisible) {
        <span class="balance-amount">
          {{ balance?.currencySymbol }} {{ balance?.totalBalance | number : '1.2' : dataStoreService.defaultLanguage }}
        </span>
        } @if (!balanceVisible) {
        <span class="balance-amount">****</span>
        }
      </div>
      <div class="divider"></div>
      <div class="flex justify-between full-width">
        <span class="balance-text-secondary" translate>Withdrawable balance</span>
        @if (balanceVisible) {
        <span class="balance-amount-secondary">
          {{ balance?.currencySymbol }}
          {{ balance?.withdrawableBalance | number : '1.2' : dataStoreService.defaultLanguage }}
        </span>
        } @if (!balanceVisible) {
        <span class="balance-amount-secondary">****</span>
        }
      </div>
      <div class="flex justify-between full-width">
        <span class="balance-text-secondary" translate>Sportsbook bonus balance</span>
        @if (balanceVisible) {
        <span class="balance-amount-secondary">
          {{ balance?.currencySymbol }}
          {{ balance?.bonusSportsbookBalance | number : '1.2' : dataStoreService.defaultLanguage }}
        </span>
        } @if (!balanceVisible) {
        <span class="balance-amount-secondary">****</span>
        }
      </div>
      <div class="flex justify-between full-width">
        <span class="balance-text-secondary" translate>Casino bonus balance</span>
        @if (balanceVisible) {
        <span class="balance-amount-secondary">
          {{ balance?.currencySymbol }}
          {{ balance?.bonusCasinoBalance | number : '1.2' : dataStoreService.defaultLanguage }}
        </span>
        } @if (!balanceVisible) {
        <span class="balance-amount-secondary">****</span>
        }
      </div>
    </div>

    <div class="flex justify-center mt-4">
      <div class="flex gap-4 items-center">
        @if (balanceUpdate) {
        <mat-spinner class="update-loader" diameter="18" strokeWidth="1" />
        }
        <span class="update-balance-button" (click)="updateBalance()" translate>Update</span>
      </div>
    </div>

    <div class="flex gap-4 items-center justify-between mt-4">
      <button mat-button class="profile-link-button" routerLink="/profile/general" (click)="onLinkClick()">
        {{ 'My account' | translate }}
      </button>
      <mat-icon class="logout-link" (click)="onSignOut()" svgIcon="essentials-logout" />
    </div>
  </div>
</mat-menu>
