@use "sass:map" as map;
@use "theme/utils" as utils;
@use "sass:color" as color;

@use "theme/theme-variables" as theme-variables;

:host {
  @include utils.media("lt-sm-2") {
    width: 100%;
  }
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.profile-info-container {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.promotions-link {
  margin-left: 0.75rem;

  mat-icon {
    font-size: 2.125rem;
    height: 2.125rem;
    width: 2.125rem;
    color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  }
}

.promo-link {
  margin-right: 0.625rem;

  mat-icon {
    font-size: 2rem;
    height: 2rem;
    width: 2rem;
    color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  }

  @include utils.media("lt-sm-2") {
    display: flex;

    mat-icon {
      font-size: 1.625rem;
      height: 1.625rem;
      width: 1.625rem;
      color: map.get(theme-variables.$app-custom-colors, "neutral-white");
    }
  }
}

.dropdown-container {
  align-items: center;
  justify-content: center;
  height: 100%;
  //margin-right: 0.5rem;
  margin-right: 0;

  @include utils.media("lt-sm-2") {
    flex-direction: row-reverse;
    margin-right: 0;
  }

  .font-icons {
    transition: color 0.3s ease;
    color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  }
}

.hidden-small {
  @include utils.media("lt-sm-2") {
    display: none;
  }
}

.hidden-medium {
  @include utils.media("lt-md") {
    display: none;
  }
}

.hidden-desktop {
  @include utils.media("gt-sm-1") {
    display: none;
  }
}

.wallet-container {
  background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  height: 2.5rem;
  max-height: 2.5rem;
  border-radius: 0.5rem;
  align-items: center;
  padding: 0 0.25rem 0 0;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4629rem;
  letter-spacing: 0.0294rem;

  @include utils.media("lt-sm-2") {
    height: 2.5rem;
    font-size: 0.875rem;
    border-radius: 3.75px;
    padding: 0 0.1875rem 0 0;
    line-height: 2rem;
    letter-spacing: 0.174px;
  }
}

.balance-info-container {
  padding: 0.5rem 0.25rem;
  align-items: center;
  min-width: 4.0625rem;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-weight: bold;

  span {
    color: map.get(theme-variables.$app-custom-colors, "neutral-black");
    white-space: nowrap;
  }

  @include utils.media("lt-sm-2") {
    min-width: unset;
    font-weight: normal;
    padding: 0 0.375rem;
  }
}

.icon-container {
  height: 1.25rem;
  width: 1.25rem;
}

.profile-icon-container {
  height: 2rem;
  width: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  // @include utils.media("lt-sm-2") {
  //   height: 1.75rem;
  //   width: 1.75rem;
  // }

  mat-icon {
    height: 2rem;
    width: 2rem;
    font-weight: 1.5;
    vertical-align: middle;
    padding: 0.0625rem 0.125rem;

    @include utils.media("lt-sm-2") {
      height: 2rem;
      width: 2rem;
      font-weight: 100;
      vertical-align: middle;
      padding: 0;
    }
  }
}

.notifications-icon-container {
  position: relative;
  height: 1.25rem;
  width: 2.5rem;
  padding-left: 0.625rem;
  cursor: pointer;

  @include utils.media("lt-sm-2") {
    margin-right: -0.8125rem;
  }
}

.deposit-button-small {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 0;
  justify-content: center;
  align-items: center;

  mat-icon {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    margin: 0;
    color: map.get(theme-variables.$app-custom-colors, "neutral-white");
  }

  @include utils.media("gt-sm-1") {
    display: none;
  }
}

.header-dropdown {
  min-width: 23.875rem;
  color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
}

.header-dropdown-container {
  gap: 0.5rem;
  min-width: 23.875rem;

  min-height: 16.875rem;
  max-height: 28.125rem;
  height: 100%;
  overflow-y: auto;
  padding: 1.5rem;
  color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
  background-color: map.get(theme-variables.$app-custom-colors, "betaki-white50");

  @include utils.media("lt-sm-2") {
    min-width: 20rem;
  }

  .close-button-menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .header-dropdown-top {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    overflow-wrap: anywhere;
    text-align: center;
  }

  .dropdown-email-label {
    font-weight: 700;
  }

  .menu-balance-container {
    border: 1px solid #dddfe4;
    border-radius: 0.5rem;
    align-items: center;
    padding: 1.5rem;
    margin-top: 1rem;
    background-color: map.get(theme-variables.$app-custom-colors, "neutral-white");

    .balance-amount {
      font-weight: bold;
    }
  }

  .balance-text {
    font-weight: 700;
  }

  .balance-text-secondary {
    font-size: 0.75rem;
    font-weight: 700;
  }

  .balance-amount-secondary {
    font-size: 0.875rem;
    font-weight: 700;
  }

  .update-balance-button {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
  }

  .profile-link-button {
    width: 100%;
    max-width: 19.375rem;
    font-weight: 700;
    color: map.get(theme-variables.$app-custom-colors, "Betaki_olivia");
    height: 2rem;
    font-size: 0.875rem;
  }

  .logout-link {
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
    cursor: pointer;
  }
}

.deposit-button {
  max-height: 2rem;
  border-radius: 0.25rem;
  padding: 0.5rem 0.25rem;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5423rem;
  letter-spacing: 0.0252rem;
  text-transform: capitalize;

  @include utils.media("lt-sm-2") {
    //height: 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.174px;
    max-height: 2rem;
    min-height: 2rem;
    padding: 0.375rem;
  }
}

.menu-dropdown-trigger-position {
  @include utils.media("lt-sm-2") {
    left: 40px;
    position: relative;
    margin-top: 2.625rem;
  }

  margin-top: 3.4rem;
}

.locale-selector {
  align-items: center;
  height: 100%;
}

.profile-link {
  color: map.get(theme-variables.$app-custom-colors, "neutral-white");
}

.logo-img-container {
  @include utils.media("lt-sm-2") {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0 1rem;
    max-width: 5rem;

    .logo-img {
      max-width: 5rem;
      max-height: 2.5rem;

      filter: brightness(0) invert(1);
    }
  }
}

.user-icon {
  font-size: 1rem;
  height: 1.2rem;
  min-width: 1rem;
  align-self: center;
}

.hide-balance-icon {
  font-size: 1.1rem;
  height: 1.1rem;
  width: 1.1rem;
  align-self: center;
}

.update-icon {
  font-size: 1.1rem;
  height: 1.1rem;
  width: 1.1rem;
  align-self: center;
}

.update-loader {
  --mat-progress-spinner-active-indicator-color: #{map.get(theme-variables.$app-custom-colors, "Betaki_olivia")};
}

.divider {
  border-bottom: 1px solid #dddfe4;
  width: 100%;
}
