<app-base-dialog
  width="29rem"
  [customClass]="'md:h-2/3 xl:h-1/2 2xl:w-1/4!'"
  [displayCloseButton]="true"
  [displayLogo]="false"
>
  <div dialogContent>
    <div class="header-icon">
      @if (data.success) {
        <mat-icon class="status-img" alt="check" svgIcon="success-check" />
      }
      @if (!data.success) {
        <mat-icon class="status-img" alt="fail" svgIcon="fail" />
      }
    </div>

    <div class="header-text">
      {{ data.title }}
    </div>

    @if (data) {
      <div class="description mb-8">{{ data.description }}</div>
    }
  </div>

  <div dialogButtons>
    @if (data.success || data.withdrawalDisabled) {
      <div class="flex items-center w-full justify-center gap-4">
        <app-button variant="primary" (click)="toSportsbook()">
          {{ 'To Esports' | translate }}
        </app-button>
        <app-button variant="outline" (click)="toGames()">
          {{ 'To Casino' | translate }}
        </app-button>
      </div>
    }
    @if (!data.success && !data.withdrawalDisabled) {
      <div class="flex items-center w-full justify-center gap-4">
        <app-button variant="primary" (click)="confirm()">
          {{ 'Make a new withdrawal' | translate }}
        </app-button>
        <app-button variant="outline" (click)="toProfile()">
          {{ 'Cancel' | translate }}
        </app-button>
      </div>
    }
  </div>
</app-base-dialog>
