<div class="player-profile-page-container" [formGroup]="profileGeneralForm">
  <app-page-breadcrumbs [breadcrumbs]="breadcrumbs"></app-page-breadcrumbs>

  <div class="section-data">
    <div class="section-title" translate>Identification data</div>

    <div class="page-section-multiple">
      <div class="section-item-container">
        <div class="section-item">
          <mat-icon class="item-icon-2" svgIcon="profile-full-name"></mat-icon>
          <div class="field-wrapper">
            <div class="form-field-label" translate>Full name</div>
            <mat-form-field appearance="outline" class="form-input-readonly" subscriptSizing="dynamic">
              <input matInput type="text" formControlName="fullName" readonly="true" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <mat-divider class="mat-divider"></mat-divider>

      <div class="section-item-container">
        <div class="section-item">
          <mat-icon class="item-icon-2" svgIcon="profile-cpf"></mat-icon>
          <div class="field-wrapper">
            <div class="form-field-label" translate>CPF</div>
            <mat-form-field appearance="outline" class="form-input-readonly" subscriptSizing="dynamic">
              <input matInput type="text" formControlName="cpf" readonly="true" />
            </mat-form-field>
          </div>
        </div>
      </div>

      <mat-divider class="mat-divider"></mat-divider>

      <div class="section-item-container">
        <div class="section-item">
          <mat-icon class="item-icon-2" svgIcon="profile-dob"></mat-icon>
          <div class="field-wrapper">
            <div class="form-field-label" translate>Date of birth</div>
            <mat-form-field appearance="outline" class="form-input-readonly" subscriptSizing="dynamic">
              <input matInput type="text" formControlName="dateOfBirth" readonly="true" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-data">
    <div class="section-title" translate>Address data</div>

    <div class="page-section">
      <div class="section-item-container nowrap">
        <div class="section-item wrap">
          <div class="section-item">
            <mat-icon class="item-icon-2" svgIcon="profile-location"></mat-icon>
            <div class="field-wrapper address">
              <div class="form-field-label" translate>Address</div>
              <mat-form-field appearance="outline" class="form-input-readonly" subscriptSizing="dynamic">
                <textarea
                  matInput
                  type="text"
                  formControlName="fullAddress"
                  readonly="true"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="4"
                ></textarea>
              </mat-form-field>
            </div>
          </div>

          <div class="section-actions no-fullwidth">
            <div class="section-action-edit" (click)="onEditAddress()" *ngIf="!editAddressActive">
              <span translate>Edit</span>
            </div>
            <div class="section-action-edit-disabled" *ngIf="editAddressActive">
              <span translate>Edit</span>
            </div>
          </div>
        </div>
      </div>
      <div class="section-item-container mt-24" *ngIf="editAddressActive">
        <div class="section-item-collapsable">
          <div class="field-wrapper-edit">
            <div class="form-field-label" translate>Country</div>
            <mat-form-field appearance="outline" class="form-input-edit" subscriptSizing="dynamic">
              <!-- <input matInput type="text" formControlName="country" /> -->
              <mat-select formControlName="country" placeholder="Select" class="no-arrow">
                <mat-option *ngFor="let item of countryList" [value]="item">
                  {{ item.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="field-wrapper-edit">
            <div class="form-field-label" translate>City</div>
            <mat-form-field appearance="outline" class="form-input-edit" subscriptSizing="dynamic">
              <input matInput type="text" formControlName="city" />
            </mat-form-field>
          </div>
          <div class="field-wrapper-edit">
            <div class="form-field-label" translate>Postal code</div>
            <mat-form-field appearance="outline" class="form-input-edit" subscriptSizing="dynamic">
              <input matInput type="text" formControlName="postalCode" />
            </mat-form-field>
          </div>
          <div class="field-wrapper-edit">
            <div class="form-field-label" translate>Street</div>
            <mat-form-field appearance="outline" class="form-input-edit" subscriptSizing="dynamic">
              <input matInput type="text" formControlName="street" />
            </mat-form-field>
          </div>
          <div class="field-wrapper-edit">
            <div class="form-field-label" translate>House number</div>
            <mat-form-field appearance="outline" class="form-input-edit" subscriptSizing="dynamic">
              <input matInput type="text" formControlName="houseNumber" />
            </mat-form-field>
          </div>
          <div class="section-actions flex-row gap-16 full-width mt-8">
            <button mat-button class="section-action-2 flex-grow" (click)="onCancelAddress()">
              <span translate>Cancel</span>
            </button>
            <button
              [disabled]="
                (!profileGeneralForm.controls.city.dirty &&
                  !profileGeneralForm.controls.postalCode.dirty &&
                  !profileGeneralForm.controls.houseNumber.dirty &&
                  !profileGeneralForm.controls.country.dirty &&
                  !profileGeneralForm.controls.street.dirty) ||
                !profileGeneralForm.controls.city.valid ||
                !profileGeneralForm.controls.postalCode.valid ||
                !profileGeneralForm.controls.houseNumber.valid ||
                !profileGeneralForm.controls.street.valid
              "
              mat-button
              class="section-action flex-grow"
              (click)="onSaveAddress()"
            >
              <span translate>Save</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section-data">
    <div class="section-title" translate>Contact information</div>

    <div class="page-section-multiple">
      <div class="section-item-container nowrap">
        <div class="section-item wrap">
          <div class="section-item">
            <mat-icon class="item-icon-2" svgIcon="profile-phonenumber"></mat-icon>
            <div class="field-wrapper">
              <div class="form-field-label" translate>Phone number</div>
              <mat-form-field appearance="outline" class="form-input-readonly" subscriptSizing="dynamic">
                <span matPrefix class="telephone-prefix read-only">{{ mobilePrefix }}</span>
                <input matInput type="text" formControlName="mobileNumber" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div class="section-actions no-fullwidth">
            <div class="section-action-edit" (click)="onEditPhoneNumber()" *ngIf="!editPhoneNumberActive">
              <span translate>Edit</span>
            </div>
            <div class="section-action-edit-disabled" *ngIf="editPhoneNumberActive">
              <span translate>Edit</span>
            </div>
          </div>
        </div>
      </div>
      <div class="section-item-container" *ngIf="editPhoneNumberActive">
        <div class="section-item-collapsable">
          <div class="field-wrapper-edit">
            <div class="form-field-label" translate>Phone number</div>
            <mat-form-field appearance="outline" class="form-input-edit" subscriptSizing="dynamic">
              <span matPrefix class="telephone-prefix">{{ mobilePrefix }}</span>
              <input
                matInput
                type="tel"
                formControlName="mobileNumber"
                (keydown)="validateNumber($event)"
                (paste)="onPasteMobileNumber($event)"
              />
              <mat-error
                *ngIf="
                  profileGeneralForm.controls.mobileNumber?.hasError('required') &&
                  profileGeneralForm.controls.mobileNumber.touched &&
                  profileGeneralForm.controls.mobileNumber?.dirty
                "
                class="error-msg"
                translate
              >
                can't be blank</mat-error
              >
              <mat-error
                *ngIf="
                  profileGeneralForm.controls.mobileNumber?.hasError('invalidBrazilianMobile') &&
                  profileGeneralForm.controls.mobileNumber.touched &&
                  profileGeneralForm.controls.mobileNumber?.dirty
                "
                class="error-msg"
                translate
              >
                {{ 'Invalid phone number' | translate | lowercase }}
              </mat-error>
            </mat-form-field>
            <div class="section-actions flex-row gap-16 full-width mt-8 mb-8">
              <button
                mat-button
                [disabled]="isDataLoading"
                class="section-action-2 flex-grow"
                (click)="onCancelPhoneNumber()"
              >
                <span translate>Cancel</span>
              </button>
              <button
                [disabled]="
                  !profileGeneralForm.controls.mobileNumber.valid ||
                  !profileGeneralForm.controls.mobileNumber.dirty ||
                  isDataLoading
                "
                mat-button
                class="section-action flex-grow"
                (click)="onSavePhoneNumber()"
              >
                <span *ngIf="!isDataLoading" translate>Save</span>
                <mat-spinner class="spinner-on-button" *ngIf="isDataLoading" diameter="20"></mat-spinner>
              </button>
            </div>
          </div>
        </div>
      </div>

      <mat-divider class="mat-divider"></mat-divider>

      <div class="section-item-container nowrap">
        <div class="section-item wrap">
          <div class="section-item">
            <mat-icon class="item-icon-2" svgIcon="profile-email"></mat-icon>
            <div class="field-wrapper">
              <div class="form-field-label" translate>E-mail</div>
              <mat-form-field appearance="outline" class="form-input-readonly" subscriptSizing="dynamic">
                <input matInput type="text" formControlName="email" readonly="true" />
              </mat-form-field>
            </div>
          </div>
          <div class="section-actions no-fullwidth" *ngIf="!emailVerified">
            <div class="section-action-edit" (click)="onResendEmailVerificationCode()">
              <span translate>Resend verification code</span>
            </div>
          </div>
          <div class="section-actions no-fullwidth" *ngIf="emailVerified">
            <div class="flex-row items-center justify-center email-verified-container gap-8">
              <mat-icon svgIcon="check"></mat-icon>
              <span class="email-verified-span" translate> Verified</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
