@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

:host {
  width: 100%;
}

textarea {
  resize: none;
}

.field-wrapper {
  width: 100%;
  min-width: 10.625rem;
  display: flex;
  flex-direction: column;

  .form-field-label {
    color: map.get(theme-variables.$app-custom-colors, "brand-surface");
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.5rem;
  }
}

.field-wrapper-edit {
  width: 100%;
  min-width: 10.625rem;
  display: flex;
  flex-direction: column;

  .form-field-label {
    color: map.get(theme-variables.$app-custom-colors, "brand-surface");
    font-size: 0.75rem;
    margin-bottom: 0;
    margin-left: 1rem;
    font-weight: 400;
    line-height: normal;
  }
}

.full-width {
  width: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.mat-divider {
  margin-left: 2.875rem;
  margin-right: 2.875rem;
}

.telephone-prefix {
  color: #b5b5b2;
  padding-left: 0.5rem;
  padding-top: 0.1rem;
  display: inline-block;
  font-weight: 100;

  @include utils.media("lt-sm-2") {
    font-size: 0.75rem;
  }

  &.read-only {
    font-size: 0.875rem;
  }
}

.email-verified-container {
  color: map.get(theme-variables.$app-custom-colors, "neutral-60");

  mat-icon {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
  }

  .email-verified-span {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0.773px;

    @include utils.media("lt-sm-2") {
      font-size: 0.75rem;
    }
  }
}

.spinner-on-button {
  --mat-progress-spinner-active-indicator-color: black;
}
