@use "sass:map";
@use "sass:color";
@use "src/theme/utils" as util;

@import "src/theme/theme-variables";

.footer-container {
  width: 100%;
  background-color: map.get($app-custom-colors, "neutral-10");
  flex-direction: column;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.2rem;
  margin: 0 auto;
  border-top: 1px solid #0d0f03;
  max-width: 76.125rem;

  @include util.media("lt-sm-2") {
    padding: 1.5rem;
    padding: 1.063rem 0.938rem 1.5rem; //0.938rem

    // & .divider {
    //   display: none;
    // }
  }
}

.footer-sponsorship {
  width: 100%;
  margin: 0;
  // background: map.get($app-custom-colors, "Betaki_sponsorship_light");
  background: #ffffff1a; // white with 10% opacity

  .title {
    color: white;
    justify-self: center;
    padding: 0.688rem 0 0.5rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.038px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;

    @include util.media("lt-sm-2") {
      font-size: 0.875rem;
      line-height: 0.75rem;
    }
  }
}

.footer-sponsorship-logo {
  width: 100%;
  background: map.get($app-custom-colors, "Betaki_sponsorship_dark");
  padding: 0.688rem 0;

  .title {
    color: white;
    justify-self: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.0093rem;
  }

  .sponsor-logo-container {
    display: flex;
    justify-content: center;

    @include util.media("lt-sm-2") {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sponsor-logo {
      max-width: 3.813rem;
      max-height: 3.813rem;
    }
  }
}

.payments-mobile {
  width: 100%;
  align-items: flex-end;
}

.footer-main-logo-container {
  display: flex;
  justify-content: center;

  .verificada-logo {
    width: 8.375rem;
  }

  .footer-main-logo {
    // width: 6.9rem;
    height: 2.188rem;

    @include util.media("lt-sm-2") {
      margin-top: 1.46rem;
      margin-bottom: 0.119rem;
    }
  }

  &.mobile {
    align-self: flex-end;
  }
}

.swiper-navigation-logo {
  transition: opacity 0.3s ease;
  opacity: 0.75;
}

.swiper-navigation-logo:hover {
  transition: opacity 0.3s ease;
  opacity: 1;
}

.swiper-nav-container-left,
.swiper-nav-container-right {
  display: flex;

  &.hidden {
    display: none;
  }
}

.sponsorship-swiper {
  display: flex;
  justify-content: center;

  .logo {
    max-width: 3.75rem;
    max-height: 3.75rem;
  }
}

.providers-wrapper {
  flex-wrap: wrap;
  margin: auto;
  gap: 0.739rem 0.438rem;
  width: 100%;

  @include util.media("lt-sm-2") {
    width: 75%;
  }
}

.provider-logo {
  max-height: 3.5rem;
}

.footer-logo-swiper {
  width: 100%;
  height: 100%;
  height: 4.5rem;
  margin-bottom: 0;

  @include util.media("lt-md") {
    height: 4.5rem;
  }

  .swiper-nav-container-left {
    z-index: 10;
    position: absolute;
    left: 0;
    height: 100%;
    width: 2.0625rem;
    background-color: map.get($app-custom-colors, "neutral-10");

    .swiper-nav-left-icon {
      color: map.get($app-custom-colors, "neutral-100");
      font-size: 1rem;
      font-weight: 100;
      height: auto;
      width: auto;
      cursor: pointer;
    }
  }

  .swiper-nav-container-right {
    z-index: 10;
    position: absolute;
    right: 0;
    height: 100%;
    width: 2.0625rem;
    background-color: map.get($app-custom-colors, "neutral-10");

    .swiper-nav-right-icon {
      color: map.get($app-custom-colors, "neutral-100");
      font-size: 1rem;
      font-weight: 100;
      height: auto;
      width: auto;
      cursor: pointer;
    }
  }

  .footer-logo {
    width: 9.065rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 9.0625rem;
    margin-left: 1.875rem;
    margin-right: 1.875rem;
  }

  .footer-logo-image {
    max-width: 100%;
    max-height: 60%;
    object-fit: contain;
    object-position: center;
  }
}

.company-menu {
  padding-bottom: 0.906rem;
}

.footer-logo-company {
  height: 4.375rem;
}

.footer-text {
  color: #fff;
  justify-content: center;
  padding-bottom: 0.688rem;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.0093rem;

  @include util.media("lt-sm-2") {
    font-size: 0.75rem;
    line-height: 0.75rem;
  }
}

.footer-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75rem 0;
  gap: 0.732rem;

  .footer-text {
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px; /* 125% */
    letter-spacing: 0.07px;

    &.company {
      padding-bottom: 1.3rem;
      letter-spacing: 0.187px;

      @include util.media("lt-sm-2") {
        padding-bottom: 0;
      }
    }
  }

  .copyright-text {
    color: map.get($app-custom-colors, "neutral-white");
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.0093rem;
  }

  .company {
    padding-bottom: 1rem;

    @include util.media("lt-sm-2") {
      padding-bottom: 1.5rem;
    }
  }
}

.support-text {
  color: map.get($app-custom-colors, "Betaki_success");
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.305px; /* 102.539% */
  letter-spacing: 0.201px;
  text-transform: capitalize;

  img {
    width: 0.644rem;
    height: 0.644rem;
  }
}

.footer-payments-logo {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0 0;

  img {
    height: 33px;
  }

  @include util.media("lt-md") {
    justify-content: unset;
  }
}

/* stylelint-disable selector-max-specificity */
.support-button {
  background-color: transparent;
  color: map.get($app-custom-colors, "Betaki_success");
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12.305px; /* 102.539% */
  letter-spacing: 0.201px;
  text-transform: capitalize;
  /* stylelint-disable-next-line declaration-no-important */
  min-height: 21.8px !important;
  /* stylelint-disable-next-line declaration-no-important */
  height: auto !important;
  /* stylelint-disable-next-line declaration-no-important */
  border-radius: 0.234rem !important;

  &.mat-mdc-button.mat-unthemed:hover {
    background-color: transparent;

    .support-text {
      color: rgba(188, 210, 0, 50%);
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 12.305px; /* 102.539% */
      letter-spacing: 0.201px;
      text-transform: capitalize;

      img {
        width: 0.644rem;
        height: 0.644rem;
      }
    }
  }
}

.footer-container-promo {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0;
  justify-content: space-between;

  @include util.media("gt-sm-2") {
    flex-direction: row;
    padding-bottom: 0.75rem;
  }

  @include util.media("lt-md") {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    gap: 1.5rem;
  }
}

@include util.media("gt-sm-2") {
  .footer-promo {
    padding-right: 2rem;
  }

  // .footer-menu-block-desktop-container {
  //   flex: 1;
  // }
}

.footer-menu-container {
  display: flex;
  flex-direction: column;
  //padding: 0 1rem;
  // gap: 1.5rem;

  mat-accordion {
    width: 100%;

    .mat-expansion-panel {
      background: transparent;
      color: #fff;
    }

    .mat-expansion-panel-header {
      padding: 0;
      height: auto;
      margin-right: 1px;
    }
    /* stylelint-disable selector-not-notation */
    @media (hover: none) {
      .mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
        background: transparent;
      }
    }
  }
}

.accordion-title {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 11.25px; /* 93.75% */
  letter-spacing: 0.07px;
  width: 100%;
  padding: 0.285rem 0 0.351rem;
}

:host ::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

:host ::ng-deep .mat-expansion-indicator::after {
  color: map.get($app-custom-colors, "neutral-white");
}

.footer-sponsors-block-mobile,
.sponsors-block {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  .footer-sponsors-title {
    height: 1.75rem;
    color: map.get($app-custom-colors, "neutral-white");
  }
}

.footer-sponsors-block-mobile {
  align-items: center;
}

.footer-menu-block-desktop-container {
  @include util.media("lt-md") {
    display: none;
  }
}

// .footer-payments-logo {
//   display: flex;
//   justify-content: flex-end;
//   padding: 0.25rem 0 0;

//   img {
//     height: 33px;
//   }

//   @include util.media("lt-md") {
//     justify-content: unset;
//   }
// }

.footer-menu-mobile-container {
  display: none;
  flex-direction: row;

  @include util.media("lt-md") {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }
}

.my-summary-card {
  width: 100%;

  @include util.media("lt-md") {
    padding: 1.5rem 0;
  }
}

.footer-promo {
  // &.first {
  //   display: flex;
  //   flex-direction: column;

  //   @include util.media("lt-md") {
  //     display: none;
  //   }

  //   @include util.media("lt-md") {
  //     padding: 0;
  //   }
  // }

  .narrow {
    flex: 0 0 12rem;
  }

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  @include util.media("lt-md") {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
  }
}

// .footer-age-logo {
//   width: auto;
//   height: 2.25rem;
//   display: flex;
//   margin-top: 0.3rem;

//   @include util.media("lt-sm-2") {
//     width: 100%;
//   }
// }

// .align-center {
//   margin: auto;
// }

.footer-blocks-menu {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer-menu {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
  letter-spacing: normal;
  width: 100%;
}

.footer-menu-block {
  // width: 50%;
  display: inline-block;
  vertical-align: top;
}

.no-margin-right {
  margin-right: 0;
}

.footer-menu-title {
  color: #fff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.0093rem;

  &.last {
    justify-content: flex-end;
  }
}

.footer-menu-list {
  display: flex;
  width: 100%;
  //padding: 0.5rem 0 0;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;

  &.last {
    justify-content: flex-end;
  }

  .follow-us-link {
    text-decoration: none;
    width: 2rem;
    height: 2rem;
  }

  .follow-us-icon {
    width: 2rem;
    height: 2rem;
  }

  .footer-menu-item .footer-menu-link {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    min-height: 2.5rem;
    padding: 0 0 0.5rem;
    margin: 0;
    color: color.adjust(map.get($app-custom-colors, "neutral-white"));
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: left;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap;

    &.follow-us {
      gap: 1rem;
    }

    @include util.media("lt-sm-2") {
      min-height: unset;
      font-size: 0.75rem;
      line-height: 1.25rem;
      white-space: unset;
      display: flex;

      &.follow-us {
        justify-content: center;
        padding: 0;
      }
    }

    &:hover {
      color: map.get($app-custom-colors, "betaki-green100");
    }

    &.link-active {
      color: map.get($app-custom-colors, "betaki-green100");
    }

    @include util.media("gt-sm-1") {
      text-align: left;
    }

    a {
      text-decoration: none;
    }
  }
}

.follow-us-mobile {
  display: none;
  justify-content: center;

  @include util.media("lt-sm-2") {
    display: flex;
  }
}

// other options do not work :(
.menu {
  @include util.media("gt-sm-1") {
    /* stylelint-disable-next-line declaration-no-important */
    height: initial !important;
    /* stylelint-disable-next-line declaration-no-important */
    opacity: 1 !important;
    /* stylelint-disable-next-line declaration-no-important */
    pointer-events: all !important;
  }
}

.follow-links {
  padding: 0.611rem 0 0.673rem;

  @include util.media("lt-sm-2") {
    justify-content: center;
  }
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 10%);
}

.hidden-medium {
  width: 100%;

  @include util.media("gt-sm-2") {
    display: none;
  }
}

.cookie-link {
  cursor: pointer;
}

/* Mobile first (default) */
.container {
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
}

.copyright,
.hidden {
  display: none;
}

.copyright-mobile {
  display: block;
  padding: 1.7rem 0;

  .copyright-text {
    color: map.get($app-custom-colors, "neutral-white");
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 9.384px; /* 78.203% */
    letter-spacing: 0.07px;
  }

  @include util.media("gt-sm-2") {
    padding: 1.7rem 0 0;
  }
}

.box-1 {
  display: flex;
}

.box-2 {
  display: none;
}

.box-3 {
  order: 4;
}

.box-4 {
  order: 3;
  margin-top: 0.75rem;

  @include util.media("lt-sm-2") {
    & .divider {
      display: none;
    }
  }
}

/* Desktop override */
@media (min-width: 768px) {
  .copyright,
  .hidden {
    display: block;
  }

  .box-1 {
    display: none;
  }

  .box-2 {
    display: flex;
  }

  .box-3 {
    order: 3;
  }

  .box-4 {
    order: 4;
  }
}
