@use "sass:map" as map;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

/*
.games-container {
  width: 100%;
  justify-content: center;
  max-width: 1218px;

  > app-games-tiles {
    margin-bottom: 3rem;

    @include utils.media("lt-sm-2") {
      margin-bottom: 2rem;
    }
  }

  //display: flex;
  //padding: 0 8px;
  //flex-direction: column;
  //gap: 3rem;

  // @include utils.media("xs") {
  //   padding: 0;
  //   padding: 0 4vw;
  //   //gap: 2rem;
  // }

  // @include utils.media("lt-md") {
  //   padding: 0 0.5rem;
  // }

  // @include utils.media("sm-2") {
  //   // max-width: 768px;
  //   padding: 0 1.5rem;
  // }
  // @include utils.media("md") {
  //   // max-width: 960px;
  //   padding: 0 1rem;
  // }

  // &.game-tiles {
  //   @include utils.media("lt-sm") {
  //     width: calc(100% - 1rem);
  //     margin: 0 0.5rem;
  //   }
  // }
}
*/

.main-banner {
  margin-top: 2rem;

  @include utils.media("lt-sm-2") {
    margin-top: 1.5rem;
  }
}

.category-cards {
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 2.75rem;

  .category-item {
    flex: 1;
    min-width: 15.625rem;
  }

  @include utils.media("lt-sm-2") {
    margin-top: 0;
  }
}

app-category-card {
  --category-card-padding: #{theme-variables.$home-category-card-content-padding};
  --category-card-padding-mobile: #{theme-variables.$home-category-card-content-padding-mobile};
}
