<app-base-dialog [title]="'Unable to confirm location' | translate">
  <div class="mb-4 text-center!" dialogContent>
    {{
      'We are unable to confirm your location, and it looks like an ad blocker might be active on your device. To access your account, please try disabling it.'
        | translate
    }}
  </div>

  <ng-container dialogButtons>
    <button mat-button class="button-text-small label-dark flex w-full flex-grow" (click)="closeDialog()">
      <span>{{ 'Close' | translate }}</span>
    </button>
  </ng-container>
</app-base-dialog>
