<app-base-dialog width="29rem" [title]="data.title" [customClass]="'md:h-1/2 xl:w-1/4!'" [displayCloseButton]="true">
  <div dialogContent>
    <ng-container>
      <div class="description mb-8">{{ data.description }}</div>
    </ng-container>
  </div>

  <ng-container dialogButtons>
    <div class="flex items-center w-full justify-center gap-4">
      <app-button variant="outline-neutral" (click)="cancel()">
        {{ 'Cancel' | translate }}
      </app-button>
      <app-button variant="neutral" (click)="confirm()">
        {{ 'Authenticate' | translate }}
      </app-button>
    </div>
  </ng-container>
</app-base-dialog>
