<app-base-dialog width="60.375rem" [title]="'Please, fill the information below' | translate">
  <!-- Content -->
  <div dialogContent>
    <form class="form" [formGroup]="fillPlayerInfoForm" (ngSubmit)="onSubmitFillPlayerInfo()">
      <div class="row">
        <!-- City -->
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>City<span class="asterisk">*</span></div>
          <mat-form-field appearance="outline" class="form-input-edit flex flex-col" subscriptSizing="dynamic">
            <input matInput type="text" formControlName="city" maxlength="130" />
            @if (fillPlayerInfoForm.controls.city.hasError('required') && fillPlayerInfoForm.controls.city.touched) {
              <ng-container>
                <mat-error class="error-msg" translate> Required</mat-error>
              </ng-container>
            }
            @if (fillPlayerInfoForm.controls.city.touched && fillPlayerInfoForm.controls.city.hasError('maxlength')) {
              <ng-container>
                <mat-error class="error-msg" translate> Maximum length is 130 characters</mat-error>
              </ng-container>
            }
          </mat-form-field>
        </div>

        <!-- Address -->
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>Address<span class="asterisk">*</span></div>
          <mat-form-field appearance="outline" class="form-input-edit flex flex-col" subscriptSizing="dynamic">
            <input matInput type="text" formControlName="address" />
            @if (
              fillPlayerInfoForm.controls.address.hasError('required') && fillPlayerInfoForm.controls.address.touched
            ) {
              <ng-container>
                <mat-error class="error-msg" translate> can't be blank</mat-error>
              </ng-container>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Postal code -->
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>Postal Code<span class="asterisk">*</span></div>
          <mat-form-field
            appearance="outline"
            [class.postal-form-field]="!fillPlayerInfoForm.controls.mobileNumber.disabled"
            class="form-input-edit flex flex-col"
            subscriptSizing="dynamic"
          >
            <input matInput type="text" formControlName="postalCode" />
            @if (
              fillPlayerInfoForm.controls.postalCode.hasError('required') &&
              fillPlayerInfoForm.controls.postalCode.touched
            ) {
              <ng-container>
                <mat-error class="error-msg" translate> Required</mat-error>
              </ng-container>
            }
          </mat-form-field>
        </div>

        <!-- Mobile phone -->
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>Mobile Phone *</div>
          <div class="mobile-number-fields-wrapper">
            <!-- Mobile number -->
            @if (!fillPlayerInfoForm.controls.mobileNumber.disabled) {
              <div>
                <mat-form-field
                  appearance="outline"
                  class="form-input-edit flag-option-form-field relative flex flex-col error-border"
                  subscriptSizing="dynamic"
                >
                  <mat-select formControlName="mobilePrefix" placeholder="Select">
                    @for (item of countryCodeList; track item) {
                      <mat-option [value]="item">
                        <div class="flex items-center gap-3">
                          <img
                            class="flag-option"
                            alt="{{ item.code }}"
                            src="{{ 'assets/general/countries/' + (item.code | lowercase) + '.svg' | cdnize }}"
                          />
                          <div>{{ item.dial_code }}</div>
                        </div>
                      </mat-option>
                    }
                  </mat-select>
                  <mat-error class="error-msg" translate>Required</mat-error>
                  @if (mobilePrefixControl.value?.code) {
                    <img
                      class="flag"
                      alt="flag"
                      src="{{
                        'assets/general/countries/' + (mobilePrefixControl.value?.code | lowercase) + '.svg' | cdnize
                      }}"
                    />
                  }
                </mat-form-field>
              </div>
            }

            <div class="mobile-number-field-wrapper">
              <mat-form-field
                appearance="outline"
                class="form-input-edit flex flex-col error-border"
                subscriptSizing="dynamic"
              >
                <input
                  matInput
                  type="tel"
                  minlength="4"
                  maxlength="20"
                  formControlName="mobileNumber"
                  (keydown)="validateNumber($event)"
                />
                @if (
                  fillPlayerInfoForm.controls.mobileNumber.hasError('pattern') ||
                  fillPlayerInfoForm.controls.mobileNumber.hasError('minlength') ||
                  (fillPlayerInfoForm.controls.mobileNumber.hasError('maxlength') &&
                    fillPlayerInfoForm.controls.mobileNumber.touched)
                ) {
                  <ng-container>
                    <mat-error class="error-msg" translate> Invalid phone number </mat-error>
                  </ng-container>
                }
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- Error -->
      @if (error) {
        <div class="error-msg" translate>{{ error }}</div>
      }

      <!-- Submit button -->
      <div class="form-buttons-wrapper">
        <app-button class="submit-form-button flex-grow" variant="primary" fullWidth type="submit">
          <span translate>SUBMIT</span>
          <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5" />
        </app-button>
      </div>
      <!-- <button mat-button  class="button-larger-text login-button area-container mt-16">
              <span *ngIf="!isDataLoading" class="login-button-text mr-8" translate>SUBMIT</span>
              <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5"></app-loader>
            </button> -->
    </form>
  </div>
</app-base-dialog>
