<app-base-dialog width="60.375rem" [title]="'Please, fill the information below' | translate">
  <!-- Content -->
  <div dialogContent>
    <form class="form" [formGroup]="fillPlayerInfoForm" (ngSubmit)="onSubmitFillPlayerInfo()">
      <div class="row">
        <!-- City -->
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>City<span class="asterisk">*</span></div>
          <mat-form-field appearance="outline" class="form-input-edit flex-col" subscriptSizing="dynamic">
            <input matInput type="text" formControlName="city" maxlength="130" />
            <mat-error
              *ngIf="fillPlayerInfoForm.controls.city?.hasError('required') && fillPlayerInfoForm.controls.city.touched"
              class="error-msg"
              translate
            >
              Required</mat-error
            >
            <mat-error
              *ngIf="
                fillPlayerInfoForm.controls.city.touched && fillPlayerInfoForm.controls.city?.hasError('maxlength')
              "
              class="error-msg"
              translate
            >
              Maximum length is 130 characters</mat-error
            >
          </mat-form-field>
        </div>

        <!-- Address -->
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>Address<span class="asterisk">*</span></div>
          <mat-form-field appearance="outline" class="form-input-edit flex-col" subscriptSizing="dynamic">
            <input matInput type="text" formControlName="address" />
            <mat-error
              *ngIf="
                fillPlayerInfoForm.controls.address?.hasError('required') && fillPlayerInfoForm.controls.address.touched
              "
              class="error-msg"
              translate
            >
              can't be blank</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <!-- Postal code -->
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>Postal Code<span class="asterisk">*</span></div>
          <mat-form-field
            appearance="outline"
            [ngClass]="{ 'postal-form-field': !fillPlayerInfoForm.controls.mobileNumber.disabled }"
            class="form-input-edit flex-col"
            subscriptSizing="dynamic"
          >
            <input matInput type="text" formControlName="postalCode" />
            <mat-error
              *ngIf="
                fillPlayerInfoForm.controls.postalCode?.hasError('required') &&
                fillPlayerInfoForm.controls.postalCode.touched
              "
              class="error-msg"
              translate
            >
              Required</mat-error
            >
          </mat-form-field>
        </div>

        <!-- Mobile phone -->
        <div class="field-wrapper-edit">
          <div class="form-field-label" translate>Mobile Phone *</div>
          <div class="mobile-number-fields-wrapper">
            <!-- Mobile number -->
            <div *ngIf="!fillPlayerInfoForm.controls.mobileNumber.disabled">
              <mat-form-field
                appearance="outline"
                class="form-input-edit flag-option-form-field relative flex-col error-border"
                subscriptSizing="dynamic"
              >
                <mat-select formControlName="mobilePrefix" placeholder="Select">
                  <mat-option *ngFor="let item of countryCodeList" [value]="item">
                    <div class="flex-row items-center gap-12">
                      <img
                        class="flag-option"
                        alt="{{ item.code }}"
                        src="{{ 'assets/general/countries/' + (item.code | lowercase) + '.svg' | cdnize }}"
                      />
                      <div>{{ item.dial_code }}</div>
                    </div>
                  </mat-option>
                </mat-select>
                <mat-error class="error-msg" translate>Required</mat-error>
                <img
                  *ngIf="mobilePrefixControl.value?.code"
                  class="flag"
                  alt="flag"
                  src="{{
                    'assets/general/countries/' + (mobilePrefixControl.value?.code | lowercase) + '.svg' | cdnize
                  }}"
                />
              </mat-form-field>
            </div>

            <div class="mobile-number-field-wrapper">
              <mat-form-field
                appearance="outline"
                class="form-input-edit flex-col error-border"
                subscriptSizing="dynamic"
              >
                <input
                  matInput
                  type="tel"
                  minlength="4"
                  maxlength="20"
                  formControlName="mobileNumber"
                  (keydown)="validateNumber($event)"
                />
                <mat-error
                  *ngIf="
                    fillPlayerInfoForm.controls.mobileNumber?.hasError('pattern') ||
                    fillPlayerInfoForm.controls.mobileNumber?.hasError('minlength') ||
                    (fillPlayerInfoForm.controls.mobileNumber?.hasError('maxlength') &&
                      fillPlayerInfoForm.controls.mobileNumber.touched)
                  "
                  class="error-msg"
                  translate
                >
                  Invalid phone number
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- Error -->
      <div *ngIf="error" class="error-msg" translate>{{ error }}</div>

      <!-- Submit button -->
      <div class="form-buttons-wrapper">
        <button mat-button type="submit" class="submit-form-button button-text-small label-dark flex-grow" translate>
          SUBMIT
          <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5"></app-loader>
        </button>
      </div>
      <!-- <button mat-button  class="button-larger-text login-button area-container mt-16">
        <span *ngIf="!isDataLoading" class="login-button-text mr-8" translate>SUBMIT</span>
        <app-loader class="loader" [isLoading]="isDataLoading" [size]="0.5"></app-loader>
      </button> -->
    </form>
  </div>
</app-base-dialog>
