@use "sass:map" as map;
@use "sass:color" as color;
@use "theme/utils" as utils;
@use "theme/theme-variables" as theme-variables;

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .form-buttons-wrapper {
    display: flex;
    justify-content: center;

    .submit-form-button {
      max-width: 11rem;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  @include utils.media("lt-sm-2") {
    flex-direction: column;
  }
}

.field-wrapper-edit {
  width: 100%;
  min-width: 10.625rem;
  display: flex;
  flex-direction: column;

  .form-field-label {
    color: map.get(theme-variables.$app-custom-colors, "betaki-black100");
    font-size: 0.75rem;
    margin-bottom: 0;
    margin-left: 1rem;
    font-weight: 400;
    line-height: normal;
  }
}

.mobile-number-fields-wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.flag-option-form-field {
  width: 9.375rem;
}

.flag {
  position: absolute;
  height: 1.75rem;
  top: 0.25rem;
  right: 0;
}

.flag-option {
  height: 1.25rem;
  width: 1.75rem;
}
