<div class="main-container flex flex-col gap-16">
  <app-page-breadcrumbs (backButtonClicked)="backButtonClicked()" [breadcrumbs]="breadcrumbs"></app-page-breadcrumbs>
  <div class="player-profile-page-container">
    <div class="page-section balance-header flex-row justify-between items-center">
      <div class="balance flex-col">
        <span translate class="balance-span">Withdrawable balance</span>
        <div class="flex-row items-center">
          <div class="prefix">
            {{ balanceCurrency }}
          </div>
          <div class="amount">
            {{ balanceVisible ? balanceString : '*****' }}
          </div>

          <mat-icon
            fontSet="material-icons-outlined"
            class="visibility-icon ml-16"
            (click)="changeBalanceVisibility()"
            >{{ balanceVisible ? 'visibility_off' : 'visibility' }}</mat-icon
          >
        </div>
      </div>
      <button mat-stroked-button (click)="updateBalance()">{{ 'Update' | translate }}</button>
    </div>

    <div class="page-section pix-container" *ngIf="withdrawStep === 1">
      <div class="section-item-container nowrap">
        <a class="section-item" (click)="openPix()">
          <mat-icon class="item-icon" svgIcon="finance-pix"></mat-icon>
          <div class="flex-col">
            <div class="item-title">
              {{ 'Pix' | translate }}
            </div>
            <div class="item-description-text">
              {{ 'Normally around 1 hour' | translate }}
            </div>
          </div>
          <div class="section-navigation">
            <mat-icon fontSet="material-icons-outlined" class="section-icon-16">chevron_right</mat-icon>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="page-section pix-input flex-col gap-8" [formGroup]="withdrawalForm" *ngIf="withdrawStep === 2">
    <div class="info-bar flex-row">
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
      <span>{{
        'Use a Pix key linked to the CPF registered on our website. Otherwise, the transaction will not be processed.'
          | translate
      }}</span>
    </div>

    <div class="flex-row gap-8 form-container">
      <div class="flex-row flex-wrap flex-col--lt-sm-2 gapx-24 gapy-16 full-width">
        <!-- Type -->
        <div class="withdrawal-type field-wrapper-edit flex-2">
          <div
            class="form-label"
            [class.error-label]="typeControl.invalid && (typeControl.touched || typeControl.dirty)"
            translate
          >
            Type
          </div>
          <mat-form-field appearance="outline" class="form-input-select-secondary" subscriptSizing="dynamic">
            <mat-select formControlName="type" placeholder="Select" #selectType [matTooltip]="selectType.triggerValue">
              <mat-option *ngFor="let item of typeList" [value]="item.value">
                {{ item.label | translate }}
              </mat-option>
            </mat-select>
            <mat-icon [class]="selectType.panelOpen ? 'toggle-icon-focused' : 'toggle-icon'" matSuffix>{{
              selectType.panelOpen ? 'expand_less' : 'expand_more'
            }}</mat-icon>
          </mat-form-field>
        </div>
        <!-- Value -->
        <div class="withdrawal-value flex-col form-field flex-4">
          <div
            class="form-label"
            [class.error-label]="keyControl.invalid && (keyControl.touched || keyControl.dirty)"
            translate
          >
            Provide your PIX key
          </div>
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="form-input-primary keep-desktop-size error-border mb-16"
          >
            <input [placeholder]="valuePlaceholder | translate" matInput formControlName="key" />
            <mat-error
              *ngIf="keyControl?.hasError('required') && (keyControl.touched || keyControl.dirty)"
              class="error-message"
              translate
            >
              Key is required</mat-error
            >
          </mat-form-field>
        </div>
        <!-- Amount  -->
        <div class="withdrawal-amount flex-col form-field flex-1">
          <div
            class="form-label"
            [class.error-label]="amountControl.invalid && (amountControl.touched || amountControl.dirty)"
            translate
          >
            How much would you like to withdraw?
          </div>
          <mat-form-field
            appearance="outline"
            subscriptSizing="dynamic"
            class="form-input-primary keep-desktop-size error-border mb-16"
          >
            <input placeholder="R$ 0,00" matInput formControlName="amount" type="number" />
            <mat-hint translate>Minimum amount: R$ 20.00</mat-hint>
            <mat-error
              *ngIf="amountControl?.hasError('required') && (amountControl.touched || amountControl.dirty)"
              class="error-message"
              translate
            >
              Amount is required.</mat-error
            >
            <mat-error
              *ngIf="amountControl?.hasError('min') && (amountControl.touched || amountControl.dirty)"
              class="error-message"
              translate
            >
              {{ 'The minimum withdrawal amount is' | translate }} {{ minAmount }} {{ currency }}.
              {{ 'Please enter a valid amount.' | translate }}</mat-error
            >
            <mat-error
              *ngIf="amountControl?.hasError('max') && (amountControl.touched || amountControl.dirty)"
              class="error-message"
              translate
            >
              {{ 'The maximum withdrawal amount is' | translate }} {{ maxAmount }} {{ currency }}.
              {{ 'Please enter a valid amount.' | translate }}</mat-error
            >
            <mat-error
              *ngIf="
                amountControl?.hasError('notEnoughFunds') &&
                !amountControl?.hasError('max') &&
                !amountControl?.hasError('min') &&
                (amountControl.touched || amountControl.dirty)
              "
              class="error-message"
              translate
            >
              {{ 'Balance is too low' | translate }}. {{ 'Please enter a valid amount.' | translate }}</mat-error
            >
          </mat-form-field>
        </div>
        <!-- Button -->
        <button class="withdraw-button flex-2" (click)="withdraw()" [disabled]="withdrawalForm.invalid" mat-button>
          <span translate>Withdraw</span>
        </button>
      </div>
    </div>

    <div class="policy-and-chat-container">
      <div class="flex-col gap-8 items-center policy-container">
        <img class="age-icon" src="assets/general/icons/18-plus.svg" />

        <div translate class="responsible-gaming-text">
          <div><b>Jogue com Responsabilidade</b></div>
          <div>
            O jogo deve ser uma forma de entretenimento saudável. Pratique sempre o jogo consciente e fique atento aos
            sinais de comportamento compulsivo.
          </div>
        </div>
      </div>

      <button class="live-chat-button" (click)="onChatClick()" mat-button>
        <div class="flex-row items-center gap-16">
          <span translate> Do you need help? </span>
          <mat-icon svgIcon="help-chat-icon"></mat-icon>
        </div>
      </button>
    </div>
  </div>
</div>
