<!-- Main container -->
<div class="main-container bg-[#EFF1F2] md:min-h-[calc(100vh-var(--header-height-desktop))] hide-mobile">
  @if (!isActive('deposit') && !isActive('email-verification')) {
  <div class="profile-info-container">
    <app-profile-menu class="profile-menu-host" [class.hide-mobile]="!isActive('/profile')" />
  </div>
  } @if (!isSmallScreen) {
  <router-outlet />
  }
</div>

<app-sidenav-menu #sidenavMenu class="hide-desktop">
  <!-- Main container -->
  <div
    class="main-container min-h-[calc(100vh-var(--header-height-mobile))] md:min-h-[calc(100vh-var(--header-height-desktop))]"
  >
    <div class="profile-info-container">
      <app-profile-menu class="profile-menu-host" [class.hide-mobile]="!isActive('/profile')" />
    </div>
    @if (isSmallScreen) {
    <router-outlet />
    }
  </div>
</app-sidenav-menu>
